@model ProductAskQuestionSimpleModel
<input value="@Model.Id" type="hidden" id="AskQuestionProductId" name="AskQuestionProductId"/>
<div id="contact-us-product">
    <fieldset class="form-group">
        <label asp-for="AskQuestionEmail" class="col-form-label">@T("Products.AskQuestion.Email"):</label>
        <input asp-for="AskQuestionEmail" placeholder="@T("Products.AskQuestion.Email.Hint")" class="form-control ask-question-email" />
        <span asp-validation-for="AskQuestionEmail"></span>
    </fieldset>
    <fieldset class="form-group">
        <label asp-for="AskQuestionFullName" class="col-form-label">@T("Products.AskQuestion.FullName"):</label>
        <input asp-for="AskQuestionFullName" placeholder="@T("Products.AskQuestion.FullName.Hint")" class="form-control ask-question-fullname" />
        <span asp-validation-for="AskQuestionFullName"></span>
    </fieldset>
    <fieldset class="form-group">
        <label asp-for="AskQuestionPhone" class="col-form-label">@T("Products.AskQuestion.Phone"):</label>
        <input asp-for="AskQuestionPhone" placeholder="@T("Products.AskQuestion.Phone.Hint")" class="form-control ask-question-phone" />
        <span asp-validation-for="AskQuestionPhone"></span>
    </fieldset>
    <fieldset class="form-group">
        <label asp-for="AskQuestionMessage" class="col-form-label">@T("Products.AskQuestion.Message"):</label>
        <textarea asp-for="AskQuestionMessage" placeholder="@T("Products.AskQuestion.Message.Hint")" class="form-control ask-question-message"></textarea>
        <span asp-validation-for="AskQuestionMessage"></span>
    </fieldset>
    @if (Model.DisplayCaptcha)
    {
        <div class="captcha-box">
            <captcha />
        </div>
    }
    
    <div class="buttons generalMarginSupporter pt-1 pb-1">
        <input type="button" name="send-email" class="btn btn-info send-ask-question-button" value="@T("Products.AskQuestion.Button")"
               onclick="sendcontactusform('@Url.RouteUrl("AskQuestionOnProduct")')" />
        <span class="sr-only">@T("Products.AskQuestion.Button")</span>
    </div>

</div>

<div class="card bg-danger product-contact-error">
    <div class="card-body text-white"></div>
</div>

<div class="card bg-info product-contact-send">
    <div class="card-body text-white"></div>
</div>