@model ProductDetailsModel
<div class="delivery generalMarginSupporter">
    @if (Model.FreeShippingNotificationEnabled && Model.IsFreeShipping)
    {
        <div class="free-shipping d-inline-flex align-items-center w-100"><span class="mdi mdi-truck mr-2"></span>  @T("Products.FreeShipping")</div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.DeliveryDate))
    {
        <div class="delivery-date" style="color:@(Model.DeliveryColorSquaresRgb)">
            <span class="label">@T("Products.DeliveryDate"):</span>
            <span class="value">@Model.DeliveryDate</span>
        </div>
    }
    @if (Model.NotReturnable)
    {
        <div class="d-inline-flex align-items-center w-100"><span class="mdi mdi-truck mr-2"></span> @T("Products.NotReturnable")</div>
    }
    @if (Model.AdditionalShippingCharge > 0 && !Model.IsFreeShipping)
    {
        <div class="additional-shipping-charge btn btn-sm btn-secondary">
            <span class="mdi mdi-truck"></span>
            <span class="label">@T("Products.AdditionalShippingCharge")</span>
            <span class="value">@Model.AdditionalShippingChargeStr</span>
        </div>
    }
</div>
