@model ProductDetailsModel
@if ((Model.FreeShippingNotificationEnabled && Model.IsFreeShipping) || !string.IsNullOrWhiteSpace(Model.DeliveryDate)
    || Model.NotReturnable || Model.AdditionalShippingCharge > 0) 
{
    <div class="delivery generalMarginSupporter">
        @if (Model.FreeShippingNotificationEnabled && Model.IsFreeShipping)
        {
        <div class="free-shipping d-inline-flex align-items-center w-100"><span class="material-icons mat mr-2">local_shipping</span>  @T("Products.FreeShipping")</div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.DeliveryDate))
        {
            <div class="delivery-date" style="color:@(Model.DeliveryColorSquaresRgb)">
                <span class="label">@T("Products.DeliveryDate"):</span>
                <span class="value">@Model.DeliveryDate</span>
            </div>
        }
        @if (Model.NotReturnable)
        {
            <div class="d-inline-flex align-items-center w-100"><span class="material-icons mat mr-2">local_shipping</span> @T("Products.NotReturnable")</div>
        }
        @if (Model.AdditionalShippingCharge > 0 && !Model.IsFreeShipping)
        {
            <div class="additional-shipping-charge btn btn-sm btn-secondary">
                <span class="material-icons mat">local_shipping</span>
                <span class="label">@T("Products.AdditionalShippingCharge")</span>
                <span class="value">@Model.AdditionalShippingChargeStr</span>
            </div>
        }
    </div>
}