@model ProductDetailsModel.ProductPriceModel
@using System.Text.RegularExpressions;
@inject IWorkContext workContext
<div class="prices d-flex align-items-center flex-column" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    @if (Model.CustomerEntersPrice)
    {
        @*display nothing*@
    }
    else if (Model.CallForPrice)
    {
        @*call for price*@
        <div class="product-price call-for-price col-12">
            <span>@T("Products.CallForPrice")</span>
        </div>
    }
    else
    {
        if (Model.IsReservation)
        {
            <div class="rental-price col-12 mb-3 px-0">
                <label class="mb-0">@T("Products.Price.ReservationPrice"):</label>
                <span>@Model.ReservationPrice</span>
            </div>
        }
        if (Model.IsAuction)
        {
            <div class="col-12 mb-3 px-0">
                @if (Model.HighestBidValue > 0)
                {
                    <label class="mb-0">@T("Products.Price.CurrentPrice"):</label>
                    <span>@Model.HighestBid</span>
                }
                else
                {
                    <label class="mb-0">@T("Products.Price.StartPrice"):</label>
                    <span>@Model.StartPrice</span>
                }
            </div>
        }
        if (!String.IsNullOrWhiteSpace(Model.CatalogPrice))
        {
            @*catalog price*@
            <div class="catalog-product-price col-12 mb-3">
                <label class="mb-0">@T("Products.Price.CatalogPrice"):</label>
                <span>@Model.CatalogPrice</span>
            </div>
        }
        if (!(Model.IsAuction && Model.DisableBuyButton))
        {
            <div class="@if (String.IsNullOrWhiteSpace(Model.PriceWithDiscount))
        {<text>product-price col-12 d-inline-flex align-items-center</text>}
        else
        {<text>non-discounted-price col-12</text>}">
                @if ((!String.IsNullOrWhiteSpace(Model.OldPrice) || !String.IsNullOrWhiteSpace(Model.PriceWithDiscount)) && Model.IsAuction)
                {
                    @*display "Price:" label if we have old price or discounted one*@
                    <label class="mb-0">@T("Products.Price"):</label>
                }
                @*render price*@
                <span @if (String.IsNullOrWhiteSpace(Model.PriceWithDiscount)) { <text> itemprop="price" content="@Model.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" class="actual-price price-value-@(Model.ProductId)" </text> }>
                    @if (Model.IsAuction)
                    {
                        <strong class="actual-price">@T("Products.BuyNowPrice"):</strong>
                    }
                    <strong class="actual-price">@Html.Raw(Model.Price)</strong>
                </span>
                @if (!String.IsNullOrWhiteSpace(Model.OldPrice))
                {
                    @*old price*@
                    <div class="old-product-price">
                        <span class="old-price ml-2">@Model.OldPrice</span>
                    </div>
                }

            </div>
        }
        else
        {
            @if (!String.IsNullOrWhiteSpace(Model.OldPrice))
            {
                @*old price*@
                <div class="old-product-price">
                    <span class="old-price ml-2">@Model.OldPrice</span>
                </div>
            }
        }

        if (!String.IsNullOrWhiteSpace(Model.PriceWithDiscount))
        {
            @*discounted price*@
            <div class="product-price discounted-price col-12">
                <label class="mb-0">@T("Products.Price.WithDiscount"):</label>
                <span itemprop="price" content="@Model.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" class="price-value-@(Model.ProductId)">
                    <strong>@Html.Raw(Model.PriceWithDiscount)</strong>
                </span>
            </div>
        }
        if (!String.IsNullOrEmpty(Model.BasePricePAngV))
        {
            <div class="base-price-pangv ml-2">
                @Model.BasePricePAngV
            </div>
        }
        if (Model.DisplayTaxShippingInfo)
        {
            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
            //of course, you can modify appropriate locales to include VAT info there
            <div class="tax-shipping-info generalMarginSupporter">
                @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
            </div>
        }
        if (!String.IsNullOrEmpty(Model.CurrencyCode))
        {
            <meta itemprop="priceCurrency" content="@Model.CurrencyCode" />
        }
    }
</div>
