@model ProductReviewOverviewModel
@using System.Globalization
@{
    int ratingPercent = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
    }
}
@if (Model.AllowCustomerReviews)
{
    <div class="product-reviews-overview" @if (Model.TotalReviews > 0) { <text> itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" </text> }>
        <div class="product-review-box pb-1 d-inline-block">
            <div class="rating progress10" data-rating="@(ratingPercent)" data-id="rating"></div>
        </div>
        @if (Model.TotalReviews > 0)
        {
            <span class="product-review-links">
                <a class="btn btn-sm pr-0 review-scroll-button" href="#review-tab">
                    @Model.TotalReviews
                    @T("Reviews.Overview.Reviews")
                </a> 
            </span>
            @*hidden microdata info*@
        decimal ratingValue = ratingPercent / (decimal)20;
        <span itemprop="ratingValue" style="display: none;">@ratingValue.ToString("0.0", new CultureInfo("en-US"))</span>
            <span itemprop="reviewCount" style="display: none;">@Model.TotalReviews</span>
        }
        else
        { 
            <span class="product-no-reviews">
                <a class="btn btn-sm" href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">@T("Reviews.Overview.First")</a>
            </span>
        }
    </div>
}