@model NewsletterBoxModel
<div class="newsletter d-flex justify-content-center justify-content-lg-start px-0">
        <div class="newsletter-subscribe w-100" id="newsletter-subscribe-block">
            <div class="d-flex flex-row row">
                <span class="strong h3 col-md-4 col-12 mb-md-0 pl-0">@T("Newsletter.Title")</span>
                <div class="input-group flex-row col-md-8 col-12 px-md-0">
                    <input type="text" class="form-control" asp-for="NewsletterEmail" id="newsletter-email" placeholder="@T("Newsletter.Email.Placeholder")" aria-label="@T("Newsletter.Email.Placeholder")" />
                    <label for="newsletter-email" class="sr-only">newsletter</label>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="newsletter-subscribe-button" type="button"><span class="fas fa-envelope-open"></span></button>
                    </div>
                </div>
            </div>
            @if (Model.AllowToUnsubscribe)
            {
                <div class="custom-controls-stacked d-flex justify-content-center col-lg-9 offset-lg-3 col-12 pt-1 px-0">
                    <fieldset>
                        <label for="newsletter_subscribe" class="custom-control custom-radio float-left">
                            <input value="newsletter_unsubscribe" id="newsletter_subscribe" name="newsletter_block" type="radio" class="custom-control-input">
                            <span class="custom-control-label" for="newsletter_subscribe">@T("Newsletter.Options.Subscribe")</span>
                        </label>
                        <label for="newsletter_unsubscribe" class="custom-control custom-radio float-left ml-3">
                            <input value="newsletter_unsubscribe" id="newsletter_unsubscribe" name="newsletter_block" type="radio" class="custom-control-input">
                            <span class="custom-control-label" for="newsletter_unsubscribe">@T("Newsletter.Options.Unsubscribe")</span>
                        </label>
                    </fieldset>
                </div>
            }
            <div class="col-12 newsletter-validation">
                <span id="subscribe-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                <span asp-validation-for="NewsletterEmail"></span>
            </div>
        </div>
        <script>
            function newsletter_subscribe(subscribe) {
                var subscribeProgress = $("#subscribe-loading-progress");
                subscribeProgress.show();
                var postData = {
                    subscribe: subscribe,
                    email: $("#newsletter-email").val()
                };
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.RouteUrl("SubscribeNewsletter"))",
                    data: postData,
                    success: function (data) {
                        subscribeProgress.hide();
                        $("#newsletter-result-block").html(data.Result);
                        if (data.Success) {
                            $('#newsletter-subscribe-block').hide();
                            $('#newsletter-result-block').show();
                            if (data.Showcategories) {
                                $('#action_modal_form').html(data.ResultCategory);
                                window.setTimeout(function () {
                                    $('.popup-action-form').magnificPopup('open');
                                }, 100);

                            }

                        } else {
                            $('#newsletter-result-block').fadeIn("slow").delay(2000).fadeOut("slow");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to subscribe.');
                        subscribeProgress.hide();
                    }
                });
            }

            $(document).ready(function () {
                $('#newsletter-subscribe-button').click(function () {
                    @if (Model.AllowToUnsubscribe)
                {
                    <text>if ($('#newsletter_subscribe').is(':checked')) {
                        newsletter_subscribe('true');
                    } else {
                        newsletter_subscribe('false');
                    }</text>
                }
                else
                {
                    <text>newsletter_subscribe('true');</text>
                }
                });
                $("#newsletter-email").keydown(function (event) {
                    if (event.keyCode == 13) {
                        $("#newsletter-subscribe-button").click();
                        return false;
                    }
                });
            });
        </script>
    </div>
<div class="newsletter-result" id="newsletter-result-block"></div>
