@model CheckoutProgressModel
<div class="row order-progress mb-2 mt-4 d-none d-md-flex">
            @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_progress_before" })
            <div class="col-12 col-md-4 col-lg-2 mb-1 active-step">
                <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\" class=\"btn btn-block btn-info p-3 col-sm-12\"", Url.RouteUrl("ShoppingCart"))) : @Html.Raw(string.Format("class=\"btn btn-block btn-secondary p-3 col-sm-12 disabled\"")))>
                    <span class="mdi mdi-cart" aria-hidden="true"></span> 
                    <span class="ml-2">1. @T("Checkout.Progress.Cart")</span>
                </a>
            </div>
            <div @(Model.CheckoutProgressStep == CheckoutProgressStep.Address || Model.CheckoutProgressStep == CheckoutProgressStep.Shipping || Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"col-12 col-md-4 col-lg-2 mb-1 active-step\"") : @Html.Raw(" class=\"col-12 col-md-4 col-lg-2 mb-1 inactive-step\""))>
                <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\" class=\"col-sm-12 btn btn-block btn-secondary p-3\"", Url.RouteUrl("CheckoutBillingAddress"))) :  @Html.Raw(string.Format(" class=\"col-sm-12 btn btn-block btn-secondary p-3 disabled\"")))>
                    <span class="mdi mdi-clipboard-account-outline" aria-hidden="true"></span> 
                    <span class="ml-2">2. @T("Checkout.Progress.Address")</span>
                </a>
            </div>
            <div @(Model.CheckoutProgressStep == CheckoutProgressStep.Shipping || Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"col-12 col-md-4 col-lg-2 mb-1 active-step\"") : @Html.Raw(" class=\"col-12 col-md-4 col-lg-2 mb-1 inactive-step\""))>
                <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\" class=\"col-sm-12 btn btn-block btn-secondary p-3\"", Url.RouteUrl("CheckoutShippingMethod"))) : @Html.Raw(string.Format(" class=\"col-sm-12 btn btn-block btn-secondary p-3 disabled\"")))>
                    <span class="mdi mdi-ship-wheel" aria-hidden="true"></span> 
                    <span class="ml-2">3. @T("Checkout.Progress.Shipping")</span>
                </a>
            </div>
            <div @(Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"col-12 col-md-4 col-lg-2 mb-1 active-step\"") : @Html.Raw(" class=\"col-12 col-md-4 col-lg-2 mb-1 inactive-step\""))>
                <a  @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Shipping && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\" class=\"col-sm-12 btn btn-block btn-secondary p-3\"", Url.RouteUrl("CheckoutPaymentMethod"))) : @Html.Raw(string.Format(" class=\"col-sm-12 btn btn-block btn-secondary p-3 disabled\"")))>
                    <span class="mdi mdi-cash-usd" aria-hidden="true"></span> 
                    <span class="ml-2">4. @T("Checkout.Progress.Payment")</span>
                </a>
            </div>
            <div @(Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"col-12 col-md-4 col-lg-2 mb-1 active-step\"") : @Html.Raw(" class=\"col-12 col-md-4 col-lg-2 mb-1 inactive-step\""))>
                <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Shipping && Model.CheckoutProgressStep != CheckoutProgressStep.Payment && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\" class=\"col-sm-12 btn btn-block btn-secondary p-3\" ", Url.RouteUrl("CheckoutConfirm"))) : @Html.Raw(string.Format(" class=\"col-sm-12 btn btn-block btn-secondary p-3 disabled\"")))>
                    <span class="mdi mdi-check-decagram" aria-hidden="true"></span> 
                    <span class="ml-2">5. @T("Checkout.Progress.Confirm")</span>
                </a>
            </div>
            <div @(Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"col-12 col-md-4 col-lg-2 mb-1 active-step\"") : @Html.Raw(" class=\"col-12 col-md-4 col-lg-2 mb-1 inactive-step\""))>
                <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Shipping && Model.CheckoutProgressStep != CheckoutProgressStep.Payment && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw(string.Format(" href=\"{0}\" class=\"col-sm-12 btn btn-block btn-secondary p-3\"", Url.RouteUrl("CheckoutConfirm"))) : @Html.Raw(string.Format(" class=\"col-sm-12 btn btn-block btn-secondary p-3 disabled\"")))>
                    <span class="mdi mdi-thumb-up-outline" aria-hidden="true"></span> 
                    <span class="ml-2">6. @T("Checkout.Progress.Complete")</span>
                </a>
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_progress_after" })
    </div>