@model BlogPostListModel
@using Nop.Web.Models.Blogs;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
}
@section left {
    @Html.Widget("left_side_column_blog_before")
    @Html.Action("BlogMonths", "Blog")
    @Html.Widget("left_side_column_after_blog_archive")
    @Html.Action("BlogTags", "Blog")
    @Html.Widget("left_side_column_blog_after")
}
<div class="page blog-page">
    <div class="page-title">
        <a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss" title="@T("Blog.RSS.Hint")">@T("Blog.RSS")</a>
        <h1>
            @if (String.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
            {
                if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
                {
                @String.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"))
                }
                else
                {
                @T("Blog")
                }
            }
            else
            {
                @String.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag)
            }
        </h1>
    </div>
    <div class="page-body">
        @Html.Widget("bloglist_page_before_posts")
        <div class="row">
            @foreach (var item in Model.BlogPosts)
            {
                <div class="col s12 card">
                    <div class="card-content">
                        <a class="card-title" href="@Url.RouteUrl("BlogPost", new { SeName = item.SeName })">@item.Title</a>
                        <span class="card-date">@item.CreatedOn.ToString("dd/MM/yyyy")</span>
                    </div>
                    @Html.Widget("bloglist_page_before_post_body", item.Id)
                    <div class="card-content">
                        @Html.Raw(!String.IsNullOrEmpty(item.BodyOverview) ? item.BodyOverview : item.Body)
                    </div>
                    @Html.Widget("bloglist_page_after_post_body", item.Id)
                    <div class="blog-details">
                        @if (item.Tags.Count > 0)
                        {
                            <div class="card-tags">
                                <ul>
                                    @for (int i = 0; i < item.Tags.Count; i++)
                                    {
                                        var tag = item.Tags[i];
                                        <li><a class="chip" href="@Url.RouteUrl("BlogByTag", new { tag = tag })">@tag</a></li>

                                    }
                                </ul>
                            </div>
                        }
                        <div class="card-action">
                            <button onclick="location.href='@Url.RouteUrl("BlogPost", new { SeName = item.SeName })'" class="btn waves-effect waves-light" type="submit">@T("Blog.MoreInfo")</button>
                        </div>
                        @Html.Widget("bloglist_page_inside_post", item.Id)
                    </div>

                    @Html.Widget("bloglist_page_after_post", item.Id)
                </div>
            }
               
            @{
                var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
            }
            @if (!pager.IsEmpty())
            {
                <div class="pager">
                    @pager
                </div>
            }
            @Html.Widget("bloglist_page_after_posts")
        </div>
    </div>
</div>
