@model ManufacturerNavigationModel
@if (Model.Manufacturers.Any())
{
    <div id="block-manufacturer-navigation" class="block block-manufacturer-navigation">
        <h2 class="h5 bg-light p-3 d-lg-none"><strong>@T("Manufacturers")</strong><i id="Manufacturers" class="fa fa-angle-down fa-1x float-xs-right"></i></h2>
        <h2 class="h5 generalTitle d-none d-lg-block"><strong>@T("Manufacturers")</strong>
            </h2>
        <div class="viewBox">
            <ul>
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="@(manufacturer.IsActive ? "active" : "inactive")">
                        <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalManufacturers > Model.Manufacturers.Count)
            {
                <div class="view-all btn-group-sm mb-1">
                    <a class="btn btn-secondary" href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
                </div>
            }
        </div>
    </div>





}