@model HomePageNewsItemsModel
@if (Model.NewsItems.Any())
{
    <div class="news-list-homepage">
        <h2 class="generalTitle text-center mb-3">
            @T("News")
        </h2>
            <div class="row">
                @foreach (var item in Model.NewsItems)
                {
                    <div class="col-lg-4 col-md-6 col-12 mb-3">
                        <div class="card">
                            <div class="card-header border-bottom-0 pb-0">
                                <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                                @if (item.PictureModel != null && !string.IsNullOrEmpty(item.PictureModel.ImageUrl))
                                {   
                                    <div class="img-container">
                                        <img class="card-img-top img-fluid" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title">
                                    </div>
                                }
                                <h3 class="h5">@item.Title</h3></a>
                                <span class="news-date text-muted"><i class="far fa-clock mr-2"></i>@item.CreatedOn.ToString("D")</span>
                            </div>
                            <div class="card-body pb-0">
                                @Html.Raw(item.Short)
                            </div>
                            <div class="card-footer text-center border-top-0">
                                <a class="btn btn-sm btn-primary read-more text-capitalize" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@T("News.MoreInfo")</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        <div class="view-all text-center">
            <a class="btn btn-secondary" href="@Url.RouteUrl("NewsArchive")">@T("News.ViewAll")</a>
        </div>
    </div>
}