@model CustomerReminderModel.ConditionModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<input asp-for="CustomerReminderId" type="hidden" />

<admin-tabstrip name="customerremindercondition-edit">
    <items>
        <tabstrip-item text="@T("Admin.Customers.CustomerReminder.Condition.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_ConditionInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Customers.CustomerActionCondition.Products")" tab-index="1" id="tab-product">
            <content>
                <div>
                    <partial name="_ConditionProduct" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Customers.CustomerReminder.Condition.Categories")" tab-index="2" id="tab-category">
            <content>
                <div>
                    <partial name="_ConditionCategory" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Customers.CustomerReminder.Condition.Manufacturers")" tab-index="3" id="tab-manufacturer">
            <content>
                <div>
                    <partial name="_ConditionManufacturer" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Customers.CustomerReminder.Condition.CustomerRole")" tab-index="4" id="tab-customerRole">
            <content>
                <div>
                    <partial name="_ConditionCustomerRole" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Customers.CustomerReminder.Condition.CustomerTag")" tab-index="5" id="tab-customerTag">
            <content>
                <div>
                    <partial name="_ConditionCustomerTag" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Customers.CustomerReminder.Condition.CustomerRegister")" tab-index="6" id="tab-customerRegister">
            <content>
                <div>
                    <partial name="_ConditionCustomerRegister" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Customers.CustomerReminder.Condition.CustomCustomerAttribute")" tab-index="7" id="tab-customAttribute">
            <content>
                <div>
                    <partial name="_ConditionCustomCustomerAttribute" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="customer_reminder_condition_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
