@model BlogPostModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<input id="active-menu-item" type="hidden" value="/Admin/Blog/List" />

<admin-tabstrip name="blog-post-edit">
    <items>
        <tabstrip-item text="@T("Admin.ContentManagement.Blog.BlogPosts.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Common.SEO")" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabSeo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Blog.BlogPosts.Products")" tab-index="2">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabProducts" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Blog.BlogPosts.Stores")" tab-index="3">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Blog.BlogPosts.Comments")" tab-index="4">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabComments" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Common.GenericAttributes.Tab")" tab-index="5">
            <content>
                <div>
                    @{
                        ViewData["ObjectType"] = "BlogPost";
                        ViewData["TabIndex"] = 5;
                    }
                    <partial name="_GenericAttributes" model="Model" view-data="ViewData" />
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="blog_post_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>

@{
//resources for product tags input
    @inject IPageHeadBuilder pagebuilder
    pagebuilder.AppendCssFileParts(ResourceLocation.Head, "~/content/tagEditor/jquery.tag-editor.css", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/scripts/tagEditor/jquery.tag-editor.min.js", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/scripts/tagEditor/jquery.caret.min.js", excludeFromBundle: true);
}
