@model BlogCategoryModel
@{    
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Blog.BlogCategory.EditBlogCategoryDetails").Text;
}

<form asp-area="Admin" asp-controller="Blog" asp-action="CategoryEdit" method="post" id="category-form">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-comment"></i>
                        @T("Admin.ContentManagement.Blog.BlogCategory.EditBlogCategoryDetails")
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.ContentManagement.Blog.BlogCategory.BackToList").Text, "CategoryList")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                            <span id="blogcategory-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                        </div>
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_category_buttons" additional-data="Model" />
                <div class="x_content form">
                    <partial name="_CreateOrUpdateCategory" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>
<admin-delete-confirmation button-id="blogcategory-delete" action-name="CategoryDelete" />