@model AddressAttributeValueModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";
    ViewBag.Title = T("Admin.Address.AddressAttributes.Values.EditValueDetails").Text;
}

<form asp-controller="AddressAttribute" asp-action="ValueEditPopup"
    asp-route-btnId="@Context.Request.Query["btnId"]"
    asp-route-formId="@Context.Request.Query["formId"]">
    <antiforgery-token />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>
                        @T("Admin.Address.AddressAttributes.Values.EditValueDetails")
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdateValue", Model)
                </div>
            </div>
        </div>
    </div>
</form>