@model PasswordRecoveryModel
@using Grand.Web.Models.Customer;
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="page password-recovery-page">
        <h1 class="generalTitle">@T("Account.PasswordRecovery")</h1>
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                <div class="result card bg-info p-3 text-white">@Model.Result</div>
            </div>
        }
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-form-label">@T("Account.PasswordRecovery.Email"):</label>
                        <input asp-for="Email" class="form-control email" />
                        <span asp-validation-for="Email"></span>
                    </div>
            <div class="col-12 text-xs-center">
                <input type="submit" name="send-email" class="btn btn-secondary password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
            </div>

            <div class="tooltip card text-white card-danger text-xs-center">
                <div class="card-body">
                    <blockquote class="card-bodyquote">
                        <p>@T("Account.PasswordRecovery.Tooltip")</p>
                    </blockquote>
                </div>
            </div>
        </form>
    </div>
