@model CustomerInfoModel.TwoFactorAuthenticationModel
@using System.Net
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] });
}
<div class="page login-page">
    <h2 class="generalTitle">@T("Account.Login.FormSendCode")</h2>
    <div class="mb-2">
        <div class="row flex-md-row mt-3 mb-3">
            @* login main block *@
            <div class="col-lg-6 col-12">
                <div class="card">
                    <form asp-route="TwoFactorAuthenticate" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                        @Html.HiddenFor(m => m.UserUniqueKey);
                        <div class="card-body">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                                <div class="col-12 form-group mb-0">
                                    <div class="form-group row">
                                        <div class="col-lg-3 col-12">
                                            <label asp-for="Code" class="col-form-label">@T("Account.DigitCode"):</label>
                                        </div>
                                        <div class="col-lg-9 col-12">
                                            <input asp-for="Code" name="Code" type="text" autofocus="autofocus" />
                                            <span asp-validation-for="Code"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="buttons">
                                <input class="btn btn-info login-button" type="submit" value="@T("Account.Login.SendCode")" />
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>
</div>
