@model MessageTemplateModel
@inject IEventPublisher eventPublisher
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<vc:admin-widget widget-zone="message_template_details_top" additional-data="Model" />

<admin-tabstrip name="template-edit">
    <items>
        <tabstrip-item text="@T("Admin.ContentManagement.MessageTemplates.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.MessageTemplates.Stores")" tab-index="1">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
    </items>
</admin-tabstrip>

<vc:admin-widget widget-zone="message_template_details_bottom" additional-data="Model" />
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "template-edit");
    await eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        <admin-tab-append tab-strip-name="template-edit" tab-name="@eventBlock.tabname" tab-content="@eventBlock.content" />
    }
}
@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">