@model TestMessageTemplateModel
@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.MessageTemplates.TestDetails").Text;
}
<form asp-controller="MessageTemplate" asp-action="TestTemplate" method="post">
    <antiforgery-token />
    <input asp-for="Id" type="hidden" />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-envelope-o"></i>
                        @T("Admin.ContentManagement.MessageTemplates.TestDetails")
                        <small>@Html.ActionLink("(" + T("Admin.ContentManagement.MessageTemplates.Test.BackToTemplate") + ")", "Edit", new { id = Model.Id })</small>
                    </div>
                    <div class="actions btn-group btn-group-devided">
                        <input type="submit" name="send-test" class="btn green" value="@T("Admin.ContentManagement.MessageTemplates.Test.Send")" />
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="portlet-body">
                            <div class="form-group">
                                <admin-label asp-for="SendTo" />
                                <div class="col-md-9 col-sm-9">
                                    <admin-input asp-for="SendTo" />
                                    <span asp-validation-for="SendTo"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="note note-info">
                                    @T("Admin.ContentManagement.MessageTemplates.Test.Tokens.Description")
                                </div>
                            </div>
                            @foreach (var token in Model.Tokens)
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3">@token</label>
                                    <div class="col-md-9 col-sm-9">
                                        <input type="text" name="token_@(token)" class="form-control single-line" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>