@model QueuedEmailModel
@{
    //page title
    ViewBag.Title = T("Admin.System.QueuedEmails.EditQueuedEmailDetails").Text;
}
<form asp-controller="QueuedEmail" asp-action="Edit" method="post">
    <antiforgery-token />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-envelope"></i>
                        @T("Admin.System.QueuedEmails.EditQueuedEmailDetails")
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.System.QueuedEmails.BackToList").Text, "List")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <input type="submit" name="requeue" class="btn blue" value="@T("Admin.System.QueuedEmails.Requeue")" />
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                            <span id="queuedEmail-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdate", Model)
                </div>
            </div>
        </div>
    </div>
</form>
@Html.DeleteConfirmation("queuedEmail-delete")