@model ForumBreadcrumbModel
@inject CommonSettings commonSettings
@{
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.RouteUrl("HomePage")" title="@T("Forum.Breadcrumb.HomeTitle")">@T("Forum.Home")</a>
        </li>
        <li class="breadcrumb-item">
            @Html.RouteLink(T("Forum.Forums").Text, "Boards", null, new { title = T("Forum.Breadcrumb.ForumHomeTitle") })
        </li>
        @if (!String.IsNullOrEmpty(Model.ForumGroupId))
        {
            <li class="breadcrumb-item">
                @Html.RouteLink(Model.ForumGroupName, "ForumGroupSlug",
                new { id = Model.ForumGroupId, slug = Model.ForumGroupSeName },
                new { title = String.Format("{0}: {1} ", T("Forum.Breadcrumb.ForumGroupTitle"), Model.ForumGroupName) })
            </li>        
        }
        @if (!String.IsNullOrEmpty(Model.ForumId))
        {
            <li class="breadcrumb-item">
                @Html.RouteLink(Model.ForumName, "ForumSlug",
                new { id = Model.ForumId, slug = Model.ForumSeName },
                new { title = String.Format("{0}: {1} ", T("Forum.Breadcrumb.ForumTitle"), Model.ForumName) })
            </li>
        }
        @if (!String.IsNullOrEmpty(Model.ForumTopicId))
        {
            <li class="breadcrumb-item active">
                <strong>@Model.ForumTopicSubject</strong>
            </li>
        }
    </ol>
