@model NewsItemListModel
@using Nop.Web.Models.News;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
}
<div class="page news-list-page">
    <div class="page-title">
        <a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss" title="@T("News.RSS.Hint")">@T("News.RSS")</a>
        <h1>@T("News")</h1>
    </div>
    <div class="page-body">
        @Html.Widget("newslist_page_before_items")
        <div class="row">
            @foreach (var item in Model.NewsItems)
            {
                <div class="col s12 card">
                    <div class="card-content">
                        <a class="card-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
                        <span class="card-date">@item.CreatedOn.ToString("dd/MM/yyyy")</span>
                    </div>
                    <div class="card-content">
                        @Html.Raw(item.Short)
                    </div>
                    <div class="card-action">
                        <button onclick="location.href='@Url.RouteUrl("NewsItem", new { SeName = item.SeName })'" class="btn waves-effect waves-light" type="submit">@T("News.MoreInfo")</button>
                    </div>
                    @Html.Widget("newslist_page_inside_item", item.Id)
                </div>
            }
        </div>
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager">
                @pager
            </div>
        }
        @Html.Widget("newslist_page_after_items")
    </div>
</div>
