@model OrderAddressModel
@{  
    //page title
    ViewBag.Title = T("Admin.Orders.Address.EditAddress").Text;
}
<form asp-controller="Order" asp-action="AddressEdit"
      asp-route-addressId="@Context.Request.Query["addressId"]"
      asp-route-orderId="@Context.Request.Query["orderId"]">
    <antiforgery-token />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cube"></i>
                        @T("Admin.Orders.Address.EditAddress")
                        <small>
                            <i class="fa fa-arrow-circle-left"></i>
                            @Html.ActionLink(T("Admin.Orders.Address.BackToOrder").Text, "Edit", new { id = Model.OrderId })
                        </small>
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdateAddress", Model)
                </div>
            </div>
        </div>
    </div>
</form>