@model BestsellersReportModel
@inject AdminAreaSettings adminAreaSettings
@{
    //page title
    ViewBag.Title = T("Admin.SalesReport.Bestsellers").Text;
}
<antiforgery-token />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt"></i>
                    @T("Admin.SalesReport.Bestsellers")
                </div>

            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <admin-label asp-for="StartDate" />
                                        <div class="col-md-9 col-sm-9">
                                            <admin-input asp-for="StartDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <admin-label asp-for="EndDate" />
                                        <div class="col-md-9 col-sm-9">
                                            <admin-input asp-for="EndDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <admin-label asp-for="StoreId" />
                                        <div class="col-md-9 col-sm-9">
                                            <admin-select asp-for="StoreId" asp-items="Model.AvailableStores" />
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                        <admin-label asp-for="OrderStatusId" />
                                        <div class="col-md-9 col-sm-9">
                                            <admin-select asp-for="OrderStatusId" asp-items="Model.AvailableOrderStatuses" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <admin-label asp-for="PaymentStatusId" />
                                        <div class="col-md-9 col-sm-9">
                                            <admin-select asp-for="PaymentStatusId" asp-items="Model.AvailablePaymentStatuses" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <admin-label asp-for="BillingCountryId" />
                                        <div class="col-md-9 col-sm-9">
                                            <admin-select asp-for="BillingCountryId" asp-items="Model.AvailableCountries" />
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                        <admin-label asp-for="VendorId" />
                                        <div class="col-md-9 col-sm-9">
                                            <admin-select asp-for="VendorId" asp-items="Model.AvailableVendors" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                                            <button class="btn btn-success filter-submit" id="search-salesreport">
                                                <i class="fa fa-search"></i> @T("Admin.SalesReport.Bestsellers.RunReport")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="salesreport-grid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#salesreport-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("BestsellersReportList", "Order"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "ProductName",
                title: "@T("Admin.SalesReport.Bestsellers.Fields.Name")",
                template: '<a class="k-link" href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#">#=ProductName#</a>'
            }, {
                field: "TotalQuantity",
                title: "@T("Admin.SalesReport.Bestsellers.Fields.TotalQuantity")"
            },{
                field: "TotalAmount",
                title: "@T("Admin.SalesReport.Bestsellers.Fields.TotalAmount")"
            }]
        });
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#search-salesreport').click(function () {
            var grid = $('#salesreport-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

    });

    function additionalData() {
        var data = {
            StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
            StoreId: $('#StoreId').val(),
            OrderStatusId: $('#OrderStatusId').val(),
            PaymentStatusId: $('#PaymentStatusId').val(),
            BillingCountryId: $('#BillingCountryId').val(),
            VendorId: $('#VendorId').val()
        };
        addAntiForgeryToken(data);
        return data;
    }

</script>
