@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";
}
@model OrderModel.UploadLicenseModel
@{    
    //page title
    ViewBag.Title = T("Admin.Orders.Products.License.UploadFile").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comment"></i>
                        @T("Admin.Orders.Products.License.UploadFile")
                    </div>
                </div>
                <div class="portlet-body form">
                    <input type="submit" name="uploadlicense" value="@T("Admin.Common.Save")" id="uploadlicense" class="btn green" />
                    @if (!String.IsNullOrEmpty(Model.LicenseDownloadId))
                    {
                    <input type="submit" name="deletelicense" value="@T("Admin.Common.Delete")" id="deletelicense" class="btn red" />
                    }
                </div>
            </div>
        </div>
    </div>



    @Html.ValidationSummary(false)
    
    if (ViewBag.RefreshPage == true)
    {
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){} 
        window.close();
    </script>
    }

    @Html.HiddenFor(model => model.OrderId)
    @Html.HiddenFor(model => model.OrderItemId)
    @Html.EditorFor(model => model.LicenseDownloadId)
}