@model ContactAttributeModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<script>
    $(document).ready(function () {
        $("#contactattribute-edit").show();
        $("#contactattribute-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

<div id="contactattribute-edit" style="display:none">
    <ul>
        <li tab-index="0">
            @T("Admin.Catalog.Attributes.ContactAttributes.Info")
        </li>
        <li tab-index="1" id="tab-contactAttributesValues">
            @T("Admin.Catalog.Attributes.ContactAttributes.Values")
        </li>
        <li tab-index="2">
            @T("Admin.Catalog.Attributes.ContactAttributes.Stores")
        </li>
        <li tab-index="3">
            @T("Admin.Catalog.Attributes.ContactAttributes.Acl")
        </li>
        @if (Model.ConditionAllowed)
        {
            <li tab-index="4">
                @T("Admin.Catalog.Attributes.ContactAttributes.Condition")
            </li>
        }
    </ul>
    <div>
        <partial name="_CreateOrUpdate.TabInfo" model="Model" />
    </div>
    <div>
        <partial name="_CreateOrUpdate.TabValues" model="Model" />
    </div>
    <div>
        <partial name="_TabStores" model="Model" />
    </div>
    <div>
        <partial name="_TabAcl" model="Model" />
    </div>
    @if (Model.ConditionAllowed)
    {
        <div>
            <partial name="_CreateOrUpdate.TabCondition" model="Model" />
        </div>
    }
</div>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "contactattribute-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">