@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";
}

@model ContactAttributeValueModel

@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Attributes.ContactAttributes.Values.AddNew").Text;
}
<form asp-area="Admin" asp-controller="ContactAttribute" asp-action="ValueCreatePopup"
      asp-route-contactAttributeId="@Context.Request.Query["contactAttributeId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>
                        @T("Admin.Catalog.Attributes.ContactAttributes.Values.AddNew")
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        <vc:admin-widget widget-zone="contact_attribute_value_details_buttons" additional-data="null" />
                    </div>
                </div>
                <div class="x_content form">
                   <partial name="_CreateOrUpdateValue" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>