@model TopicMoveModel
@using Grand.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
}
@Html.Action("ForumBreadcrumb", new { forumTopicId = Model.Id })
<div class="page move-topic-page">
    <h1 class="h2 generalTitle">@T("Forum.MoveTopic")</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="form-fields">
            <div class="inputs">
                <label>@T("Forum.SelectTheForumToMoveTopic"):</label>
                @Html.DropDownList("ForumSelected", new SelectList(Model.ForumList, "Value", "Text"))
            </div>
        </div>
        <div class="btn-group btn-group-sm">
            <input type="submit" value="@T("Forum.Submit")" class="btn btn-secondary submit-forum-topic-button" />
            <input type="button" class="btn btn-secondary cancel-forum-topic-button" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.Id, slug = Model.TopicSeName })')" />
        </div>
    }
</div>
