@model ShoppingCartModel.DiscountBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="coupon-box">
        <div class="title">
            <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
        </div>        
        <div class="input-field col s12">
            <input name="discountcouponcode" type="text" class="discount-coupon-code" />
            <label>@T("ShoppingCart.DiscountCouponCode.Tooltip")</label>
            <button type="submit" name="applydiscountcouponcode" value="@T("ShoppingCart.DiscountCouponCode.Button")" class="waves-effect waves-light btn">
                @T("ShoppingCart.DiscountCouponCode.Button")
            </button>
        </div>
        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @Model.Message
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.CurrentCode))
        {
            <div class="current-code">
                <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, Model.CurrentCode)</span>
                @*empty value (little hack for FormValueExistsAttribute)*@
                <button class="btn-flat waves-effect waves-green" type="submit" name="removediscountcouponcode" value="removediscountcouponcode" title="@T("Common.Remove")" class="remove-discount-button">
                    @T("Common.Remove")
                </button>
            </div>
        }
    </div>
}