@model KnowledgebaseCategoryModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="knowledgebasecategory-edit">
    <items>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdateCategory.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Articles")" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdateCategory.TabArticles" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Seo")" tab-index="2">
            <content>
                <div>
                    <partial name="_CreateOrUpdateCategory.TabSeo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Acl")" tab-index="3">
            <content>
                <div>
                    <partial name="_TabAcl" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Stores")" tab-index="4">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.ActivityLog")" tab-index="5">
            <content>
                <div>
                    <partial name="_CreateOrUpdateCategory.TabActivityLog" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="knowledgebase_category_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
