@model ContactAttributeModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<admin-tabstrip name="contactattribute-edit">
    <items>
        <tabstrip-item text="@T("Admin.Catalog.Attributes.ContactAttributes.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Catalog.Attributes.ContactAttributes.Values")" tab-index="1" id="tab-contactAttributesValues">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabValues" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Catalog.Attributes.ContactAttributes.Stores")" tab-index="2">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Catalog.Attributes.ContactAttributes.Acl")" tab-index="3">
            <content>
                <div>
                    <partial name="_TabAcl" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        @if (Model.ConditionAllowed)
        {
            <tabstrip-item text="@T("Admin.Catalog.Attributes.ContactAttributes.Condition")" tab-index="4">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabCondition" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
        }
        <vc:admin-widget widget-zone="contactattribute_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
