@model DashboardModel

@using Nop.Services.Security

@{
    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;

    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var canManageOrders = permissionService.Authorize(StandardPermissionProvider.ManageOrders);
    var canManageCustomers = permissionService.Authorize(StandardPermissionProvider.ManageCustomers);
    var canManageProducts = permissionService.Authorize(StandardPermissionProvider.ManageProducts);
}

@Html.AntiForgeryToken()
<div class="page-bar" style="height:43px;">
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase">@DateTime.Now.ToLongDateString() @DateTime.Now.ToLongTimeString()</span>&nbsp;
        </div>
    </div>
</div>
<div class="content-header">
    <h3 class="page-title">
        <i class="icon-home"></i>
        @T("Admin.Dashboard")
        <small>@T("Admin.Dashboard.StoreStatistics")</small>
    </h3>
</div>

<div class="content">
    <div class="row">
        @Html.Widget("admin_dashboard_top")
        <div class="col-md-12">
        </div>
        @Html.Widget("admin_dashboard_bottom")
    </div>
</div>