@model CheckoutConfirmModel
<div class="checkout-data col-12 px-0">
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_confirm_top" })
    <div class="order-summary">
        @await Component.InvokeAsync("OrderSummary", new { prepareAndDisplayOrderReviewData = true })
    </div>
    <div class="confirm-order">
        <div>
            @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
            {
                <div class="card text-white card-danger min-amount-warning">
                    <div class="card-body p-3">
                        <blockquote class="card-bodyquote mb-0">
                            <span>@Model.MinOrderTotalWarning</span>
                        </blockquote>
                    </div>
                </div>
            }
        </div>
        @if (Model.Warnings.Any())
        {
            <div class="card text-white card-danger">
                <div class="card-body p-3">
                    @foreach (var warning in Model.Warnings)
                    {
                        <blockquote class="card-bodyquote mb-0">
                            <span>@warning</span>
                        </blockquote>
                    }
                </div>
            </div>
        }
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_confirm_bottom" })

    @if (String.IsNullOrEmpty(Model.MinOrderTotalWarning) && Model.TermsOfServiceOnOrderConfirmPage)
    {
        <div class="col-12">
            <div class="modal fade" id="terms-of-service-warning-box" tabindex="-1" title="@T("Checkout.TermsOfService")" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="terms-of-service">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="termsofservice" name="termsofservice" class="custom-control-input">
                    <span class="custom-control-label"></span>
                    <span class="custom-control-description">@T("Checkout.TermsOfService.IAccept")<a class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</a></span>
                </label>
            </div>
        </div>
    }
</div>
