@model CampaignModel
@inject IEventPublisher eventPublisher
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div id="campaign-edit" style="display:none">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.Promotions.Campaigns.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            @T("Admin.Promotions.Campaigns.Conditions")
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            @T("Admin.Promotions.Campaigns.Emails")
        </li>
        <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
            @T("Admin.Promotions.Campaigns.History")
        </li>
        <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
            @T("Admin.Promotions.Campaigns.Test")
        </li>
    </ul>
    <div>
        @Html.Partial("_CreateOrUpdate.TabInfo", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabConditions", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabEmails", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabHistory", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabTest", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#campaign-edit').show();
        $("#campaign-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "campaign-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">