@{
    Layout = "_ConfigurePlugin";
}
@model Grand.Plugin.Widgets.Slider.Models.ConfigurationModel
@using Grand.Framework;
@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="WidgetsSlider" asp-action="Configure" method="post">
    <antiforgery-token />
    <div class="form-horizontal">
        <fieldset>
            <legend><strong>@T("Plugins.Widgets.Slider.Picture1")</strong></legend>
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Picture1Id_OverrideForStore, model => model.Picture1Id, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Picture1Id" class="control-label" />
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Picture1Id" />
                        <span asp-validation-for="Picture1Id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Text1_OverrideForStore, model => model.Text1, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Text1" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Text1" />
                        <span asp-validation-for="Text1"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Link1_OverrideForStore, model => model.Link1, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Link1" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Link1" />
                        <span asp-validation-for="Link1"></span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend><strong>@T("Plugins.Widgets.Slider.Picture2")</strong></legend>
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Picture2Id_OverrideForStore, model => model.Picture2Id, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Picture2Id" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Picture2Id" />
                        <span asp-validation-for="Picture2Id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Text2_OverrideForStore, model => model.Text2, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Text2" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Text2" />
                        <span asp-validation-for="Text2"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Link2_OverrideForStore, model => model.Link2, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Link2" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Link2" />
                        <span asp-validation-for="Link2"></span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend><strong>@T("Plugins.Widgets.Slider.Picture3")</strong></legend>
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Picture3Id_OverrideForStore, model => model.Picture3Id, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Picture3Id" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Picture3Id" />
                        <span asp-validation-for="Picture3Id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Text3_OverrideForStore, model => model.Text3, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Text3" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Text3" />
                        <span asp-validation-for="Text3"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Link3_OverrideForStore, model => model.Link3, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Link3" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Link3" />
                        <span asp-validation-for="Link3"></span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend><strong>@T("Plugins.Widgets.Slider.Picture4")</strong></legend>
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Picture4Id_OverrideForStore, model => model.Picture4Id, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Picture4Id" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Picture4Id" />
                        <span asp-validation-for="Picture4Id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Text4_OverrideForStore, model => model.Text4, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Text4" />
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Text4" />
                        <span asp-validation-for="Text4"></span>
                    </div>
                </div>
                <div class="form-group">
                        @Html.OverrideStoreCheckboxFor(model => model.Link4_OverrideForStore, model => model.Link4, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Link4" class="control-label"/>
                    <div class="col-md-9 col-sm-9">
                        <admin-input asp-for="Link4" />
                        <span asp-validation-for="Link4"></span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend><strong>@T("Plugins.Widgets.Slider.Picture5")</strong></legend>
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Picture5Id_OverrideForStore, model => model.Picture5Id, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Picture5Id" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Picture5Id" />
                        <span asp-validation-for="Picture5Id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Text5_OverrideForStore, model => model.Text5, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Text5" />
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Text5" />
                        <span asp-validation-for="Text5"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-4 text-right">
                        @Html.OverrideStoreCheckboxFor(model => model.Link5_OverrideForStore, model => model.Link5, Model.ActiveStoreScopeConfiguration)
                        <admin-label asp-for="Link5" class="control-label"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <admin-input asp-for="Link5" />
                        <span asp-validation-for="Link5"></span>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                <input type="submit" name="save" class="btn green" value="@T("Admin.Common.Save")" />
            </div>
        </div>
    </div>
</form>