@model NewsItemModel
@inject IEventPublisher eventPublisher
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="news-edit">
    <items>
        <tabstrip-item text="@T("Admin.ContentManagement.News.NewsItems.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Common.SEO")" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabSeo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.News.NewsItems.Stores")" tab-index="2">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.News.NewsItems.Acl")" tab-index="3">
            <content>
                <div>
                    <partial name="_TabAcl" model="Model" />
                </div>
            </content>
        </tabstrip-item>
    </items>
</admin-tabstrip>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "news-edit");
    await eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        <admin-tab-append tab-strip-name="news-edit" tab-name="@eventBlock.tabname" tab-content="@eventBlock.content" />
    }
}