@model DiscountModel
@inject IPageHeadBuilder pagebuilder
@using Grand.Framework.UI;
@{
    pagebuilder.AddScriptParts(ResourceLocation.Head, "~/scripts/jquery.tmpl.min.js", excludeFromBundle: true);
}
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="discount-edit">
    <items>
        <tabstrip-item text="@T("Admin.Promotions.Discounts.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Promotions.Discounts.CouponCodes")" tab-index="1" id="tab-couponcode">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabCouponCodes" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Promotions.Discounts.Requirements")" tab-index="2">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabRequirements" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Promotions.Discounts.AppliedToStores")" tab-index="3">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Promotions.Discounts.AppliedToProducts")" tab-index="4" id="tab-applied-to-products">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabAppliedToProducts" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Promotions.Discounts.AppliedToCategories")" tab-index="5" id="tab-applied-to-categories">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabAppliedToCategories" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Promotions.Discounts.AppliedToManufacturers")" tab-index="6" id="tab-applied-to-manufacturers">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabAppliedToManufacturers" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Promotions.Discounts.AppliedToVendors")" tab-index="7" id="tab-applied-to-vendors">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabAppliedToVendors" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        @if (!String.IsNullOrEmpty(Model.Id))
        {
            <tabstrip-item text="@T("Admin.Promotions.Discounts.History")" tab-index="8">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabHistory" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
        }
        <vc:admin-widget widget-zone="discount_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
