<script asp-location="Footer">
    $(document).ready(function () {
        $('#eu-cookie-bar-notification').show();

        $('.cookielaw-button').click(function () {
            var postData = {
                accept: $(this).attr("data-accept")
            };
            $.ajax({
                cache: false,
                type: 'POST',
                data: postData,
                url: '@Url.RouteUrl("EuCookieLawAccept")',
                dataType: 'json',
                success: function (data) {
                    $('#eu-cookie-bar-notification').hide();
                },
                failure: function () {
                    alert('Cannot store value');
                }
            });
    });
    });
</script>

<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification" style="display:none;">
    <div class="buttons-more">
        <blockquote class="card-bodyquote d-inline-flex justify-content-center align-items-center w-100 mb-0">
            <p class="mb-0 text-white">@T("EUCookieLaw.Description2")</p>
            <div class="btn-group ml-2 ml-sm-3">
                <a class="cookielaw-button btn-sm btn btn-light text-dark" id="eu-cookie-ok" data-accept="true">@T("EUCookieLaw.Accept")</a>
                <a class="cookielaw-button btn-sm btn btn-light text-dark" id="eu-cookie-refuse" data-accept="false">@T("EUCookieLaw.Refuse")</a>
                <a class="btn btn-sm btn-info learn-more" href="@Url.RouteUrl("Topic", new { SeName = TopicSeNameConstants.Privacyinfo })">@T("EUCookieLaw.LearnMore")</a>
            </div>
        </blockquote>
    </div>
</div>
