@model ContactFormListModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.System.ContactForm").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-system.png")" alt="" />
            @T("Admin.System.ContactForm")
        </div>
        <div class="options">
            <input type="submit" name="delete-all" class="k-button" value="@T("Admin.System.ContactForm.DeleteAll")" onclick="return confirm('@T("Admin.Common.AreYouSure")'); " />
        </div>
    </div>
    <table width="100%">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchStartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchStartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchEndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchEndDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchEmail):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchEmail)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StoreId):
            </td>
            <td class="adminData">
                @Html.DropDownList("StoreId", Model.AvailableStores)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="search-contactform" class="k-button" value="@T("Admin.Common.Search")" />
            </td>
        </tr>
    </table>
    <table class="adminContent">
        <tr>
            <td>
                <div id="contactform-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#contactform-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ContactFormList", "ContactForm"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            columns: [{
                                field: "CreatedOn",
                                title: "@T("Admin.System.ContactForm.Fields.CreatedOn")",
                                width: 100,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                field: "Store",
                                title: "@T("Admin.System.ContactForm.Fields.Store")",
                                width: 100
                            }, {
                                field: "Email",
                                title: "@T("Admin.System.ContactForm.Fields.FullName")",
                                width: 150
                            }, {
                                field: "IpAddress",
                                title: "@T("Admin.System.ContactForm.Fields.IpAddress")",
                                width: 50
                            }, {
                                field: "Subject",
                                title: "@T("Admin.System.ContactForm.Fields.Subject")",
                                width: 300
                            }, {
                                field: "Id",
                                title: "@T("Admin.Common.View")",
                                width: 30,
                                template: '<a href="Details/#=Id#">@T("admin.common.view")</a>'
                            }]
                        });
                    });
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        //search button
                        $('#search-contactform').click(function () {
                            //search
                            var grid = $('#contactform-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            return false;
                        });

                        $("#@Html.FieldIdFor(model => model.SearchEmail)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-contactform").click();
                                return false;
                            }
                        });

                    });

                    function additionalData() {
                        var data = {
                            SearchStartDate: $('#@Html.FieldIdFor(model => model.SearchStartDate)').val(),
                            SearchEndDate: $('#@Html.FieldIdFor(model => model.SearchEndDate)').val(),
                            SearchEmail: $('#@Html.FieldIdFor(model => model.SearchEmail)').val(),
                            StoreId: $('#@Html.FieldIdFor(model => model.StoreId)').val(),
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }

                </script>
            </td>
        </tr>
    </table>
}