@model ProductEmailAFriendModel
@using Grand.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(Model.ProductName);
    Html.AddTitleParts(T("PageTitle.ProductEmailAFriend").Text);
}
<div class="page email-a-friend-page">
    <h1 class="h4 text-xs-center generalTitle">@T("Products.EmailAFriend.Title")</h1>
    <div class="card">
        <h4 class="card-header"><a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" class="product">@Model.ProductName</a></h4>
        <div class="card-block">
            @if (Model.SuccessfullySent)
            {
                <section class="result">
                    @Model.Result
                </section>
            }
            else
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    var validationSummary = Html.ValidationSummary(true);
                    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                    {
                        <div class="message-error">@validationSummary</div>
                    }
                    <div class="form-fields">
                        <div class="form-group">
                            @Html.GrandLabelFor(model => model.FriendEmail)

                            @Html.TextBoxFor(model => model.FriendEmail, new { @class = "form-control friend-email", placeholder = T("Products.EmailAFriend.FriendEmail.Hint") })
                            @Html.ValidationMessageFor(model => model.FriendEmail)
                        </div>
                        <div class="form-group">
                            @Html.GrandLabelFor(model => model.YourEmailAddress)
                            @Html.TextBoxFor(model => model.YourEmailAddress, new { @class = "form-control your-email", placeholder = T("Products.EmailAFriend.YourEmailAddress.Hint") })
                            @Html.ValidationMessageFor(model => model.YourEmailAddress)
                        </div>
                        <div class="form-group">
                            @Html.GrandLabelFor(model => model.PersonalMessage)
                            @Html.TextAreaFor(model => model.PersonalMessage, new { @class = "form-control personal-message", placeholder = T("Products.EmailAFriend.PersonalMessage.Hint") })
                            @Html.ValidationMessageFor(model => model.PersonalMessage)
                        </div>
                        @if (Model.DisplayCaptcha)
                    {
                            <div class="captcha-box">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                    </div>
                    <div class="btn-group">
                        <input type="submit" name="send-email" class="btn btn-success send-email-a-friend-button" value="@T("Products.EmailAFriend.Button")" />
                    </div>
                }
            }
        </div>
    </div>
</div>
