@model CustomerActionConditionModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.CustomerActionId)

<script type="text/javascript">
    $(document).ready(function () {
        $("#customeractioncondition-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

<div id="customeractioncondition-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.Customers.CustomerActionCondition.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex()) id="tab-product">
            @T("Admin.Customers.CustomerActionCondition.Products")
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex()) id="tab-category">
            @T("Admin.Customers.CustomerActionCondition.Categories")
        </li>
        <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex()) id="tab-manufacturer">
            @T("Admin.Customers.CustomerActionCondition.Manufacturers")
        </li>
        <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex()) id="tab-vendor">
            @T("Admin.Customers.CustomerActionCondition.Vendors")
        </li>
        <li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex()) id="tab-productAttribute">
            @T("Admin.Customers.CustomerActionCondition.ProductAttributes")
        </li>
        <li @Html.RenderSelectedTabIndex(6, GetSelectedTabIndex()) id="tab-productSpecification">
            @T("Admin.Customers.CustomerActionCondition.ProductSpecifications")
        </li>
        <li @Html.RenderSelectedTabIndex(7, GetSelectedTabIndex()) id="tab-customerRole">
            @T("Admin.Customers.CustomerActionCondition.CustomerRole")
        </li>
        <li @Html.RenderSelectedTabIndex(8, GetSelectedTabIndex()) id="tab-customerTag">
            @T("Admin.Customers.CustomerActionCondition.CustomerTag")
        </li>
        <li @Html.RenderSelectedTabIndex(9, GetSelectedTabIndex()) id="tab-customerRegister">
            @T("Admin.Customers.CustomerActionCondition.CustomerRegister")
        </li>
        <li @Html.RenderSelectedTabIndex(10, GetSelectedTabIndex()) id="tab-customAttribute">
            @T("Admin.Customers.CustomerActionCondition.CustomCustomerAttribute")
        </li>
        <li @Html.RenderSelectedTabIndex(11, GetSelectedTabIndex()) id="tab-urlReferrer">
            @T("Admin.Customers.CustomerActionCondition.UrlReferrer")
        </li>
        <li @Html.RenderSelectedTabIndex(12, GetSelectedTabIndex()) id="tab-urlCurrent">
            @T("Admin.Customers.CustomerActionCondition.UrlCurrent")
        </li>
    </ul>
    <div>
        @TabInfo()
    </div>
    <div>
        @TabProduct()
    </div>
    <div>
        @TabCategory()
    </div>
    <div>
        @TabManufacturer()
    </div>
    <div>
        @TabVendor()
    </div>
    <div>
        @TabProductAttribute()
    </div>
    <div>
        @TabProductSpecification()
    </div>
    <div>
        @TabCustomerRole()
    </div>
    <div>
        @TabCustomerTag()
    </div>
    <div>
        @TabCustomerRegister()
    </div>
    <div>
        @TabCustomAttribute()
    </div>
    <div>
        @TabUrlReferrer()
    </div>
    <div>
        @TabUrlCurrent()
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "customeractioncondition-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

@helper TabInfo()
{
    <script type="text/javascript">
            $(document).ready(function () {
                $("#@Html.FieldIdFor(model => model.CustomerActionConditionTypeId)").change(toggleConditionType);
                toggleConditionType();
            });

        function toggleConditionType() {
            var selectedConditionTypeId = $("#@Html.FieldIdFor(model => model.CustomerActionConditionTypeId)").val();
            if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.Product).ToString()))
            {
                $('#tab-product').show();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();
            }
            else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.Manufacturer).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').show();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();

            } else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.Category).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').show();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();
            }
            else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.Vendor).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').show();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();
            }
            else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.ProductAttribute).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').show();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();
            }
            else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.ProductSpecification).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').show();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();
            }
            else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.CustomerRole).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').show();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();
            }
            else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.CustomerTag).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').show();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();
            }
            else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.CustomerRegisterField).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').show();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();
            }
            else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.CustomCustomerAttribute).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').show();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();
            }
            else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.UrlReferrer).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').show();
                $('#tab-urlCurrent').hide();
            }
            else if (selectedConditionTypeId == @(((int)Nop.Core.Domain.Customers.CustomerActionConditionTypeEnum.UrlCurrent).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').show();
            }
            else
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-vendor').hide();
                $('#tab-productAttribute').hide();
                $('#tab-productSpecification').hide();
                $('#tab-customerRole').hide();
                $('#tab-customerTag').hide();
                $('#tab-customerRegister').hide();
                $('#tab-customAttribute').hide();
                $('#tab-urlReferrer').hide();
                $('#tab-urlCurrent').hide();
             }
        }

    </script>
        


<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Name)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerActionConditionTypeId)
            </td>
            <td class="adminData">
                @if (!String.IsNullOrEmpty(Model.Id))
                {
                    @Html.DropDownListFor(model => model.CustomerActionConditionTypeId, Model.CustomerActionConditionType, new { @disabled = "disabled" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.CustomerActionConditionTypeId, Model.CustomerActionConditionType)
                }
                @Html.ValidationMessageFor(model => model.CustomerActionConditionTypeId)
                @Html.HiddenFor(x => x.CustomerActionConditionTypeId)
            </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ConditionId)
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.ConditionId, ((Nop.Core.Domain.Customers.CustomerActionConditionEnum)Model.ConditionId).ToSelectList())
            @Html.ValidationMessageFor(model => model.ConditionId)
        </td>
    </tr>
</table>
}

@helper TabProduct()
{
    @Html.Partial("_ConditionProduct", Model)
}

@helper TabCategory()
{
    @Html.Partial("_ConditionCategory", Model)
}

@helper TabManufacturer()
{
    @Html.Partial("_ConditionManufacturer", Model)
}

@helper TabVendor()
{
    @Html.Partial("_ConditionVendor", Model)
}

@helper TabProductAttribute()
{
    @Html.Partial("_ConditionProductAttribute", Model)
}


@helper TabProductSpecification()
{
    @Html.Partial("_ConditionProductSpecification", Model)
}


@helper TabCustomerRole()
{
    @Html.Partial("_ConditionCustomerRole", Model)
}

@helper TabCustomerTag()
{
    @Html.Partial("_ConditionCustomerTag", Model)
}

@helper TabCustomerRegister()
{
    @Html.Partial("_ConditionCustomerRegister", Model)
}

@helper TabCustomAttribute()
{
    @Html.Partial("_ConditionCustomCustomerAttribute", Model)
}
@helper TabUrlReferrer()           
{
    @Html.Partial("_ConditionUrlReferrer", Model)
}

@helper TabUrlCurrent()
{
    @Html.Partial("_ConditionUrlCurrent", Model)
}
