@model IList<CategoryModel>
@if (Model.Any())
{
    <div class="categoryGrid">
        <div class="flex-grid row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-2">
                    <div class="card pb-0">
                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                            <img class="img-fluid" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            <h3 class="h5 card-title m-0 p-sm-3 p-2">
                                @item.Name
                            </h3>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}