@model CustomerTagModel
@inject IEventPublisher eventPublisher
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="customertag-edit">
    <items>
        <tabstrip-item text="@T("Admin.Customers.CustomerTags.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Customers.CustomerTags.Products")" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabProducts" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Customers.CustomerTags.Customers")" tab-index="2">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabCustomers" model="Model" />
                </div>
            </content>
        </tabstrip-item>
    </items>
</admin-tabstrip>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "customertag-edit");
    await eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        <admin-tab-append tab-strip-name="customertag-edit" tab-name="@eventBlock.tabname" tab-content="@eventBlock.content" />
    }
}
@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">