@model CustomerTagModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerTags.EditCustomerTagDetails").Text;
}
<form asp-controller="CustomerTag" asp-action="Edit" method="post" id="customertag-form">
    <antiforgery-token />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-tag"></i>
                        @T("Admin.Customers.CustomerTags.EditCustomerTagDetails") - @Model.Name 
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Customers.CustomerTags.BackToList").Text, "List")</small>
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                        <span id="customertag-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdate", Model)
                </div>
            </div>
        </div>
    </div>
</form>
@Html.DeleteConfirmation("customertag-delete")