@model ManufacturerModel

<script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)").click(togglePageSize);
            togglePageSize();
        });

        function togglePageSize() {
            if ($('#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)').is(':checked')) {
                $('#pnlPageSize').hide();
                $('#pnlPageSizeOptions').show();
            } else {
                $('#pnlPageSize').show();
                $('#pnlPageSizeOptions').hide();
            }
        }
</script>
@(Html.LocalizedEditor<ManufacturerModel, ManufacturerLocalizedModel>("manufacturer-info-localized",
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <admin-label asp-for="@Model.Locales[item].Name" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="@Model.Locales[item].Name" />
                    <span asp-validation-for="@Model.Locales[item].Name"></span>
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="@Model.Locales[item].Description" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="@Model.Locales[item].Description" asp-template="RichEditor" />
                    <span asp-validation-for="@Model.Locales[item].Description"></span>
                </div>
            </div>
            <input asp-for="@Model.Locales[item].LanguageId" type="hidden" />
        </div>
    </div>
    ,
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <admin-label asp-for="Name" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="Description" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="Description" asp-template="RichEditor" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
        </div>
    </div>
    ))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="ManufacturerTemplateId" />
            <div class="col-md-9 col-sm-9">
                <admin-select asp-for="ManufacturerTemplateId" asp-items="Model.AvailableManufacturerTemplates" />
                <span asp-validation-for="ManufacturerTemplateId"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="PictureId" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="PictureId" />
                <span asp-validation-for="PictureId"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="PriceRanges" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="PriceRanges" />
                <span asp-validation-for="PriceRanges"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="ShowOnHomePage" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="ShowOnHomePage" />
                    <span></span>
                </label>
                <span asp-validation-for="ShowOnHomePage"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="IncludeInTopMenu" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="IncludeInTopMenu" />
                    <span></span>
                </label>
                <span asp-validation-for="IncludeInTopMenu"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="AllowCustomersToSelectPageSize" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="AllowCustomersToSelectPageSize" />
                    <span></span>
                </label>
                <span asp-validation-for="AllowCustomersToSelectPageSize"></span>
            </div>
        </div>
        <div class="form-group" id="pnlPageSize">
            <admin-label asp-for="PageSize" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="PageSize" />
                <span asp-validation-for="PageSize"></span>
            </div>
        </div>
        <div class="form-group" id="pnlPageSizeOptions">
            <admin-label asp-for="PageSizeOptions" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="PageSizeOptions" />
                <span asp-validation-for="PageSizeOptions"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Published" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="Published" />
                    <span></span>
                </label>
                <span asp-validation-for="Published"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="DisplayOrder" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
    </div>
</div>