@model ManufacturerModel
@inject IEventPublisher eventPublisher
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<script>
    $(document).ready(function () {
        $('#manufacturer-edit').show();
        $("#manufacturer-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
<div id="manufacturer-edit" style="display:none">
    <ul>
        <li tab-index="0">
            @T("Admin.Catalog.Manufacturers.Info")
        </li>
        <li tab-index="1">
            @T("Admin.Common.SEO")
        </li>
        <li tab-index="2">
            @T("Admin.Catalog.Manufacturers.Products")
        </li>
        <li tab-index="3">
            @T("Admin.Catalog.Manufacturers.Discounts")
        </li>
        <li tab-index="4">
            @T("Admin.Catalog.Manufacturers.Acl")
        </li>
        <li tab-index="5">
            @T("Admin.Catalog.Manufacturers.Stores")
        </li>
        <li tab-index="6">
            @T("Admin.Catalog.Manufacturers.ActivityLog")
        </li>
    </ul>
    <div>
        <partial name="_CreateOrUpdate.TabInfo" model="Model" />
    </div>
    <div>
        <partial name="_CreateOrUpdate.TabSeo" model="Model" />
    </div>
    <div>
        <partial name="_CreateOrUpdate.TabProducts" model="Model" />
    </div>
    <div>
        <partial name="_CreateOrUpdate.TabDiscounts" model="Model" />
    </div>
    <div>
        <partial name="_TabAcl" model="Model" />
    </div>
    <div>
        <partial name="_TabStores" model="Model" />
    </div>
    <div>
        <partial name="_CreateOrUpdate.TabActivityLog" model="Model" />
    </div>
</div>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "manufacturer-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}
@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">