
<div class="panel panel-default">
    <div class="note note-info">
        <p>
            <h4>@T("Admin.Configuration.Settings.Order.ReturnRequestActions")</h4>
        </p>
        <p>
            <em>@T("Admin.Configuration.Settings.Order.ReturnRequestActions.Hint")</em>
        </p>
    </div>
    <div class="panel-body">
        <div id="returnrequestactions-grid"></div>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("ReturnRequestActionCreate")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>

           
<script type="text/javascript">
$(document).ready(function () {
    $("#returnrequestactions-grid").kendoGrid({
        dataSource: {
            transport: {
                read: {
                    url: "@Html.Raw(Url.Action("ReturnRequestActionList"))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors"
            },
            error: function(e) {
                display_kendoui_grid_error(e);
                // Cancel the changes
                this.cancelChanges();
            },
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        },
        pageable: {
            refresh: true,
            numeric: false,
            previousNext: false,
            info: false
        },
        editable: {
            confirmation: false,
            mode: "inline"
        },
        scrollable: false,
        columns: [{
            field: "Name",
            title: "@T("Admin.Configuration.Settings.Order.ReturnRequestActions.Name")",
            width: 300,
            template: '<a class="k-link" href="@Url.Content("~/Admin/Setting/ReturnRequestActionEdit/")#=Id#">#=Name#</a>',
        }, {
            field: "DisplayOrder",
            title: "@T("Admin.Configuration.Settings.Order.ReturnRequestActions.DisplayOrder")",
            width: 100
        }]
    });
});
</script>