@model CatalogSettingsModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.ProductReviewsMustBeApproved_OverrideForStore, model => model.ProductReviewsMustBeApproved, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="ProductReviewsMustBeApproved" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="ProductReviewsMustBeApproved" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="ProductReviewsMustBeApproved"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.AllowAnonymousUsersToReviewProduct_OverrideForStore, model => model.AllowAnonymousUsersToReviewProduct, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="AllowAnonymousUsersToReviewProduct" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="AllowAnonymousUsersToReviewProduct" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="AllowAnonymousUsersToReviewProduct"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.NotifyStoreOwnerAboutNewProductReviews_OverrideForStore, model => model.NotifyStoreOwnerAboutNewProductReviews, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="NotifyStoreOwnerAboutNewProductReviews" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="NotifyStoreOwnerAboutNewProductReviews" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="NotifyStoreOwnerAboutNewProductReviews"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.ShowProductReviewsPerStore_OverrideForStore, model => model.ShowProductReviewsPerStore, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="ShowProductReviewsPerStore" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="ShowProductReviewsPerStore" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="ShowProductReviewsPerStore"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.ProductReviewPossibleOnlyAfterPurchasing_OverrideForStore, model => model.ProductReviewPossibleOnlyAfterPurchasing, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="ProductReviewPossibleOnlyAfterPurchasing" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="ProductReviewPossibleOnlyAfterPurchasing" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="ProductReviewPossibleOnlyAfterPurchasing"></span>
            </div>
        </div>
    </div>
</div>