@model CatalogSettingsModel
@inject IEventPublisher eventPublisher
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Catalog").Text;
}
<form asp-controller="Setting" asp-action="Catalog" method="post">
    <antiforgery-token />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-fw fa-sliders"></i>
                        @T("Admin.Configuration.Settings.Catalog")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-body">
                            @await Component.InvokeAsync("StoreScopeConfiguration")
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="catalogsettings-edit" style="display:none">
                        <ul>
                            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.Catalog.General")
                            </li>
                            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.Catalog.Performance")
                            </li>
                            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.Catalog.ProductReviews")
                            </li>
                            <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.Catalog.Search")
                            </li>
                            <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.Catalog.CompareProducts")
                            </li>
                            <li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.Catalog.Sharing")
                            </li>
                            <li @Html.RenderSelectedTabIndex(6, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.Catalog.SortOptions")
                            </li>
                        </ul>
                        <div>
                            @Html.Partial("Catalog.TabGeneralSettings", Model)
                        </div>
                        <div>
                            @Html.Partial("Catalog.TabPerformance", Model)
                        </div>
                        <div>
                            @Html.Partial("Catalog.TabProductReviews", Model)
                        </div>
                        <div>
                            @Html.Partial("Catalog.TabSearchSettings", Model)
                        </div>
                        <div>
                            @Html.Partial("Catalog.TabCompareProducts", Model)
                        </div>
                        <div>
                            @Html.Partial("Catalog.TabSharing", Model)
                        </div>
                        <div>
                            @Html.Partial("Catalog.TabSortOptions", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#catalogsettings-edit").show();
            $("#catalogsettings-edit").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
        });
    </script>
    @{
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "catalogsettings-edit");
        eventPublisher.Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
        @eventBlock
        }
    }

        @*save selected tab index*@
        <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">
</form>