@model CatalogSettingsModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.IgnoreAcl_OverrideForStore, model => model.IgnoreAcl, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="IgnoreAcl" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="IgnoreAcl" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="IgnoreAcl"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.IgnoreStoreLimitations_OverrideForStore, model => model.IgnoreStoreLimitations, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="IgnoreStoreLimitations" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="IgnoreStoreLimitations" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="IgnoreStoreLimitations"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.IgnoreDiscounts_OverrideForStore, model => model.IgnoreDiscounts, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="IgnoreDiscounts" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="IgnoreDiscounts" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="IgnoreDiscounts"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.IgnoreFeaturedProducts_OverrideForStore, model => model.IgnoreFeaturedProducts, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="IgnoreFeaturedProducts" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="IgnoreFeaturedProducts" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="IgnoreFeaturedProducts"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.IgnoreFilterableSpecAttributeOption_OverrideForStore, model => model.IgnoreFilterableSpecAttributeOption, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="IgnoreFilterableSpecAttributeOption" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="IgnoreFilterableSpecAttributeOption" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="IgnoreFilterableSpecAttributeOption"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.IgnoreFilterableAvailableStartEndDateTime_OverrideForStore, model => model.IgnoreFilterableAvailableStartEndDateTime, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="IgnoreFilterableAvailableStartEndDateTime" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="IgnoreFilterableAvailableStartEndDateTime" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="IgnoreFilterableAvailableStartEndDateTime"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.CustomerProductPrice_OverrideForStore, model => model.CustomerProductPrice, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="CustomerProductPrice" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="CustomerProductPrice" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="CustomerProductPrice"></span>
            </div>
        </div>
    </div>
</div>