@model CatalogSettingsModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Catalog").Text;
}
<form asp-area="Admin" asp-controller="Setting" asp-action="Catalog" method="post">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-fw fa-sliders"></i>
                        @T("Admin.Configuration.Settings.Catalog")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                    <vc:admin-widget widget-zone="catalog_settings_buttons" additional-data="null" />
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        <div class="form-body">
                            @await Component.InvokeAsync("StoreScopeConfiguration")
                        </div>
                    </div>
                </div>
                <div class="x_content form">
                    <vc:admin-widget widget-zone="catalog_settings_top" additional-data="null" />
                    <admin-tabstrip name="catalogsettings-edit">
                        <items>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.Catalog.General")" tab-index="0">
                                <content>
                                    <div>
                                        <partial name="Catalog.TabGeneralSettings" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.Catalog.Performance")" tab-index="1">
                                <content>
                                    <div>
                                        <partial name="Catalog.TabPerformance" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.Catalog.ProductReviews")" tab-index="2">
                                <content>
                                    <div>
                                        <partial name="Catalog.TabProductReviews" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.Catalog.Search")" tab-index="3">
                                <content>
                                    <div>
                                        <partial name="Catalog.TabSearchSettings" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.Catalog.CompareProducts")" tab-index="4">
                                <content>
                                    <div>
                                        <partial name="Catalog.TabCompareProducts" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.Catalog.Sharing")" tab-index="5">
                                <content>
                                    <div>
                                        <partial name="Catalog.TabSharing" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.Catalog.SortOptions")" tab-index="6">
                                <content>
                                    <div>
                                        <partial name="Catalog.TabSortOptions" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <vc:admin-widget widget-zone="setting_catalog_details_tabs" additional-data="Model" />
                        </items>
                    </admin-tabstrip>
                    <vc:admin-widget widget-zone="catalog_settings_bottom" additional-data="null" />
                </div>
            </div>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
</form>