@model CustomerUserSettingsModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.CustomerUser").Text;
}
<form asp-area="Admin" asp-controller="Setting" asp-action="CustomerUser" method="post">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-fw fa-sliders"></i>
                        @T("Admin.Configuration.Settings.CustomerUser")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                    <vc:admin-widget widget-zone="customer_user_settings_buttons" additional-data="null" />
                </div>
                <div class="x_content form">
                    <admin-tabstrip name="customersettings-edit">
                        <items>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.CustomerUser.CustomerSettings")" tab-index="0">
                                <content>
                                    <div>
                                        <partial name="CustomerUser.TabCustomerSettings" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.CustomerUser.CustomerFormFields")" tab-index="1">
                                <content>
                                    <div>
                                        <partial name="CustomerUser.TabCustomerFormFields" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.CustomerUser.AddressFormFields")" tab-index="2">
                                <content>
                                    <div>
                                        <partial name="CustomerUser.TabAddressFormFields" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.CustomerUser.DateTimeSettings")" tab-index="3">
                                <content>
                                    <div>
                                        <partial name="CustomerUser.TabDateTimeSettings" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Settings.CustomerUser.ExternalAuthenticationSettings")" tab-index="4">
                                <content>
                                    <div>
                                        <partial name="CustomerUser.TabExternalAuthenticationSettings" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <vc:admin-widget widget-zone="setting_customer_details_tabs" additional-data="Model" />
                        </items>
                    </admin-tabstrip>
                </div>
            </div>
        </div>
    </div>

    <div asp-validation-summary="All"></div>
</form>