@model GeneralCommonSettingsModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.LetterPageSizeEnabled_OverrideForStore, model => model.PdfSettings.LetterPageSizeEnabled, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="PdfSettings.LetterPageSizeEnabled" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="PdfSettings.LetterPageSizeEnabled" />
                    <span></span>
                </label>
                <span asp-validation-for="PdfSettings.LetterPageSizeEnabled"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.LogoPictureId_OverrideForStore, "pdf-logo-picture", Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="PdfSettings.LogoPictureId" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8" id="pdf-logo-picture">
                <admin-input asp-for="PdfSettings.LogoPictureId" />
                <span asp-validation-for="PdfSettings.LogoPictureId"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.DisablePdfInvoicesForPendingOrders_OverrideForStore, model => model.PdfSettings.DisablePdfInvoicesForPendingOrders, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="PdfSettings.DisablePdfInvoicesForPendingOrders" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="PdfSettings.DisablePdfInvoicesForPendingOrders" />
                    <span></span>
                </label>
                <span asp-validation-for="PdfSettings.DisablePdfInvoicesForPendingOrders"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.InvoiceFooterTextColumn1_OverrideForStore, model => model.PdfSettings.InvoiceFooterTextColumn1, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="PdfSettings.InvoiceFooterTextColumn1" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-textarea asp-for="PdfSettings.InvoiceFooterTextColumn1"></admin-textarea>
                <span asp-validation-for="PdfSettings.InvoiceFooterTextColumn1"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.InvoiceFooterTextColumn2_OverrideForStore, model => model.PdfSettings.InvoiceFooterTextColumn2, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="PdfSettings.InvoiceFooterTextColumn2" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-textarea asp-for="PdfSettings.InvoiceFooterTextColumn2"></admin-textarea>
                <span asp-validation-for="PdfSettings.InvoiceFooterTextColumn2"></span>
            </div>
        </div>
    </div>
</div>