@model GeneralCommonSettingsModel
@using Grand.Framework.Extensions;

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="Layout" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-select asp-for="Layout" asp-items="((Grand.Web.Areas.Admin.Helpers.AdminLayout)Model.Layout).ToSelectList()" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="GridLayout" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-select asp-for="GridLayout" asp-items="((Grand.Web.Areas.Admin.Helpers.KendoLayout)Model.GridLayout).ToSelectList()" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.StoreClosed_OverrideForStore, model => model.StoreInformationSettings.StoreClosed, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.StoreClosed" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="StoreInformationSettings.StoreClosed" />
                    <span></span>
                </label>
                <span asp-validation-for="StoreInformationSettings.StoreClosed"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.DefaultStoreTheme_OverrideForStore, "theme-selection-block", Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.DefaultStoreTheme" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="row">
                    <ul class="clearer" style="list-style: none;" id="theme-selection-block">
                        @foreach (var theme in Model.StoreInformationSettings.AvailableStoreThemes)
                        {
                            <li style="float: left; width: 210px;">
                                <p style="float: left; padding-top: 55px;">
                                    <input type="radio" name="@Html.NameFor(x => x.StoreInformationSettings.DefaultStoreTheme)" value="@theme.ThemeName" id="id_image_@theme.ThemeName"
                                           @if (theme.ThemeName == Model.StoreInformationSettings.DefaultStoreTheme) { <text> checked="checked" </text> }>
                                </p>
                                <p style="float: left;">
                                    <label for="id_image_@theme.ThemeName">
                                        <img src="@Url.Content(theme.PreviewImageUrl)" alt="@theme.PreviewText" title="@theme.PreviewText" width="175">
                                        <br />
                                        <label style="text-align:center;font-weight:bold;width:170px;">@theme.ThemeTitle</label>
                                    </label>
                                </p>
                            </li>
                        }
                    </ul>
                </div>
                <span asp-validation-for="StoreInformationSettings.DefaultStoreTheme"></span>
                <div class="note note-info">@T("Admin.Configuration.Settings.GeneralCommon.DefaultStoreTheme.GetMore") <a href="http://www.grandnode.com/extensions?category=4&utm_source=admin-panel&utm_medium=theme-settings&utm_campaign=admin-panel" target="_blank">http://www.grandnode.com/extensions</a></div>
                <input type="button" id="importfile" class="btn yellow" value="@T("Admin.Configuration.Themes.Upload")" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.AllowCustomerToSelectTheme_OverrideForStore, model => model.StoreInformationSettings.AllowCustomerToSelectTheme, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.AllowCustomerToSelectTheme" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="StoreInformationSettings.AllowCustomerToSelectTheme" />
                    <span></span>
                </label>
                <span asp-validation-for="StoreInformationSettings.AllowCustomerToSelectTheme"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.LogoPictureId_OverrideForStore, model => model.StoreInformationSettings.LogoPictureId, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.LogoPictureId" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="StoreInformationSettings.LogoPictureId" />
                <span asp-validation-for="StoreInformationSettings.LogoPictureId"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.DisplayEuCookieLawWarning_OverrideForStore, model => model.StoreInformationSettings.DisplayEuCookieLawWarning, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.DisplayEuCookieLawWarning" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="StoreInformationSettings.DisplayEuCookieLawWarning" />
                    <span></span>
                </label>
                <span asp-validation-for="StoreInformationSettings.DisplayEuCookieLawWarning"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.FacebookLink_OverrideForStore, model => model.StoreInformationSettings.FacebookLink, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.FacebookLink" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="StoreInformationSettings.FacebookLink" />
                <span asp-validation-for="StoreInformationSettings.FacebookLink"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.TwitterLink_OverrideForStore, model => model.StoreInformationSettings.TwitterLink, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.TwitterLink" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="StoreInformationSettings.TwitterLink" />
                <span asp-validation-for="StoreInformationSettings.TwitterLink"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.YoutubeLink_OverrideForStore, model => model.StoreInformationSettings.YoutubeLink, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.YoutubeLink" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="StoreInformationSettings.YoutubeLink" />
                <span asp-validation-for="StoreInformationSettings.YoutubeLink"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.GooglePlusLink_OverrideForStore, model => model.StoreInformationSettings.GooglePlusLink, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.GooglePlusLink" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="StoreInformationSettings.GooglePlusLink" />
                <span asp-validation-for="StoreInformationSettings.GooglePlusLink"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.StoreInDatabaseContactUsForm_OverrideForStore, model => model.StoreInformationSettings.StoreInDatabaseContactUsForm, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.StoreInDatabaseContactUsForm" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="StoreInformationSettings.StoreInDatabaseContactUsForm" />
                    <span></span>
                </label>
                <span asp-validation-for="StoreInformationSettings.StoreInDatabaseContactUsForm"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.SubjectFieldOnContactUsForm_OverrideForStore, model => model.StoreInformationSettings.SubjectFieldOnContactUsForm, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.SubjectFieldOnContactUsForm" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="StoreInformationSettings.SubjectFieldOnContactUsForm" />
                    <span></span>
                </label>
                <span asp-validation-for="StoreInformationSettings.SubjectFieldOnContactUsForm"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.UseSystemEmailForContactUsForm_OverrideForStore, model => model.StoreInformationSettings.UseSystemEmailForContactUsForm, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="StoreInformationSettings.UseSystemEmailForContactUsForm" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="StoreInformationSettings.UseSystemEmailForContactUsForm" />
                    <span></span>
                </label>
                <span asp-validation-for="StoreInformationSettings.UseSystemEmailForContactUsForm"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.KnowledgebaseSettings.Enabled_OverrideForStore, model => model.KnowledgebaseSettings.Enabled, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="KnowledgebaseSettings.Enabled" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="KnowledgebaseSettings.Enabled" />
                    <span></span>
                </label>
                <span asp-validation-for="KnowledgebaseSettings.Enabled"></span>
            </div>
        </div>
    </div>
</div>