@model GeneralCommonSettingsModel
@inject IEventPublisher eventPublisher
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.GeneralCommon").Text;
}
<form asp-controller="Setting" asp-action="GeneralCommon" method="post">
    <antiforgery-token />
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-fw fa-sliders"></i>
                        @T("Admin.Configuration.Settings.GeneralCommon")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-body">
                            @await Component.InvokeAsync("StoreScopeConfiguration")
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="generalsettings-edit" style="display:none">
                        <ul>
                            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.GeneralCommon.StoreInformationSettings")
                            </li>
                            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.GeneralCommon.SEOSettings")
                            </li>
                            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.GeneralCommon.SecuritySettings")
                            </li>
                            <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.GeneralCommon.PdfSettings")
                            </li>
                            <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.GeneralCommon.LocalizationSettings")
                            </li>
                            <li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings")
                            </li>
                            <li @Html.RenderSelectedTabIndex(6, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.GeneralCommon.GoogleAnalytics")
                            </li>
                            <li @Html.RenderSelectedTabIndex(7, GetSelectedTabIndex())>
                                @T("Admin.Configuration.Settings.GeneralCommon.DisplayTopMenu")
                            </li>
                        </ul>
                        <div>
                            @Html.Partial("GeneralCommon.TabStoreInformationSettings", Model)
                        </div>
                        <div>
                            @Html.Partial("GeneralCommon.TabSEOSettings", Model)
                        </div>
                        <div>
                            @Html.Partial("GeneralCommon.TabSecuritySettings", Model)
                        </div>
                        <div>
                            @Html.Partial("GeneralCommon.TabPdfSettings", Model)
                        </div>
                        <div>
                            @Html.Partial("GeneralCommon.TabLocalizationSettings", Model)
                        </div>
                        <div>
                            @Html.Partial("GeneralCommon.TabFullTextSettings", Model)
                        </div>
                        <div>
                            @Html.Partial("GeneralCommon.TabGoogleAnalyticsSettings", Model)
                        </div>
                        <div>
                            @Html.Partial("GeneralCommon.TabTopMenuSettings", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#generalsettings-edit").show();
            $("#generalsettings-edit").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
        });
    </script>

    @{
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "generalsettings-edit");
        eventPublisher.Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }

    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

</form>

<div class="modal-dialog" id="importfile-window" style="display:none; padding: 0 10px;">
    <form asp-controller="Plugin" asp-action="UploadTheme" method="post" enctype="multipart/form-data">
        <antiforgery-token />
        <ul class="common-list">
            <li>
                <strong>NOTE: It can take up to several minutes.</strong>
            </li>
            <li>
                <strong>NOTE: DO NOT click twice.</strong>
            </li>
        </ul>
        <div class="form-group">
            <div class="col-md-2" style="margin-top: 7px; height: 34px; padding-left: 25px;">
                <label class="control-label">
                    Zip file
                </label>
            </div>
            <div class="col-md-10">
                <input id="importfiledialog" name="zippedFile" class="form-control" type="file">
            </div>
        </div>
        <div class="form-group">
            &nbsp;
        </div>
        <div class="form-group">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-10 text-right mt-10">
                <input id="importfilesubmit" class="btn blue" value="@T("Admin.Configuration.Themes.Upload")" type="submit">
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#importfile").click(function (e) {
            e.preventDefault();
            var window = $("#importfile-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    title: "@T("Admin.Configuration.Themes.Upload")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>