@model GeneralCommonSettingsModel

<div class="form-horizontal">
    <div class="note note-info">
        <p>@T("Admin.Configuration.Settings.GeneralCommon.GoogleAnalytics_help1")</p>
        <p>@T("Admin.Configuration.Settings.GeneralCommon.GoogleAnalytics_help2")</p>
        <p>@T("Admin.Configuration.Settings.GeneralCommon.GoogleAnalytics_help3")</p>
        <p>@T("Admin.Configuration.Settings.GeneralCommon.GoogleAnalytics_help4")</p>
        <p>@T("Admin.Configuration.Settings.GeneralCommon.GoogleAnalytics_help5")</p>
        <p>@T("Admin.Configuration.Settings.GeneralCommon.GoogleAnalytics_help6")</p>
    </div>
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.GoogleAnalyticsSettings.gaprivateKey_OverrideForStore, model => model.GoogleAnalyticsSettings.gaprivateKey, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="GoogleAnalyticsSettings.gaprivateKey" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="GoogleAnalyticsSettings.gaprivateKey" />
                <span asp-validation-for="GoogleAnalyticsSettings.gaprivateKey"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.GoogleAnalyticsSettings.gaserviceAccountEmail_OverrideForStore, model => model.GoogleAnalyticsSettings.gaserviceAccountEmail, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="GoogleAnalyticsSettings.gaserviceAccountEmail" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="GoogleAnalyticsSettings.gaserviceAccountEmail" />
                <span asp-validation-for="GoogleAnalyticsSettings.gaserviceAccountEmail"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.GoogleAnalyticsSettings.gaviewID_OverrideForStore, model => model.GoogleAnalyticsSettings.gaviewID, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="GoogleAnalyticsSettings.gaviewID" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="GoogleAnalyticsSettings.gaviewID" />
                <span asp-validation-for="GoogleAnalyticsSettings.gaviewID"></span>
            </div>
        </div>
    </div>
</div>