@model GeneralCommonSettingsModel
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayHomePageMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayHomePageMenu, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="DisplayMenuSettings.DisplayHomePageMenu" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="DisplayMenuSettings.DisplayHomePageMenu" />
                    <span></span>
                </label>
                <span asp-validation-for="DisplayMenuSettings.DisplayHomePageMenu"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayNewProductsMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayNewProductsMenu, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="DisplayMenuSettings.DisplayNewProductsMenu" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="DisplayMenuSettings.DisplayNewProductsMenu" />
                    <span></span>
                </label>
                <span asp-validation-for="DisplayMenuSettings.DisplayNewProductsMenu"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplaySearchMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplaySearchMenu, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="DisplayMenuSettings.DisplaySearchMenu" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="DisplayMenuSettings.DisplaySearchMenu" />
                    <span></span>
                </label>
                <span asp-validation-for="DisplayMenuSettings.DisplaySearchMenu"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayCustomerMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayCustomerMenu, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="DisplayMenuSettings.DisplayCustomerMenu" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="DisplayMenuSettings.DisplayCustomerMenu" />
                    <span></span>
                </label>
                <span asp-validation-for="DisplayMenuSettings.DisplayCustomerMenu"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayBlogMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayBlogMenu, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="DisplayMenuSettings.DisplayBlogMenu" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="DisplayMenuSettings.DisplayBlogMenu" />
                    <span></span>
                </label>
                <span asp-validation-for="DisplayMenuSettings.DisplayBlogMenu"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayForumsMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayForumsMenu, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="DisplayMenuSettings.DisplayForumsMenu" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="DisplayMenuSettings.DisplayForumsMenu" />
                    <span></span>
                </label>
                <span asp-validation-for="DisplayMenuSettings.DisplayForumsMenu"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayContactUsMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayContactUsMenu, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="DisplayMenuSettings.DisplayContactUsMenu" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="DisplayMenuSettings.DisplayContactUsMenu" />
                    <span></span>
                </label>
                <span asp-validation-for="DisplayMenuSettings.DisplayContactUsMenu"></span>
            </div>
        </div>

    </div>
</div>