@model MediaSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Media").Text;
}
<form asp-controller="Setting" asp-action="Media" method="post">
    <antiforgery-token />
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-fw fa-sliders"></i>
                        @T("Admin.Configuration.Settings.Media")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-body">
                            @await Component.InvokeAsync("StoreScopeConfiguration")
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <admin-label asp-for="PicturesStoredIntoDatabase" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <div class="note note-info">
                                        @if (Model.PicturesStoredIntoDatabase)
                                        {
                                            @T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Database")
                                        }
                                        else
                                        {
                                            @T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.FileSystem")
                                        }
                                    </div>
                                    <input type="submit" name="change-picture-storage" class="btn default" onclick="return confirm('@T("Admin.Common.AreYouSure")');" value="@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Change")" />
                                    <br />
                                    <span>@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Note")</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AvatarPictureSize_OverrideForStore, model => model.AvatarPictureSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="AvatarPictureSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="AvatarPictureSize" />
                                    <span asp-validation-for="AvatarPictureSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductThumbPictureSize_OverrideForStore, model => model.ProductThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="ProductThumbPictureSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="ProductThumbPictureSize" />
                                    <span asp-validation-for="ProductThumbPictureSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductDetailsPictureSize_OverrideForStore, model => model.ProductDetailsPictureSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="ProductDetailsPictureSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="ProductDetailsPictureSize" />
                                    <span asp-validation-for="ProductDetailsPictureSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductThumbPictureSizeOnProductDetailsPage_OverrideForStore, model => model.ProductThumbPictureSizeOnProductDetailsPage, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="ProductThumbPictureSizeOnProductDetailsPage" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="ProductThumbPictureSizeOnProductDetailsPage" />
                                    <span asp-validation-for="ProductThumbPictureSizeOnProductDetailsPage"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AssociatedProductPictureSize_OverrideForStore, model => model.AssociatedProductPictureSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="AssociatedProductPictureSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="AssociatedProductPictureSize" />
                                    <span asp-validation-for="AssociatedProductPictureSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.CategoryThumbPictureSize_OverrideForStore, model => model.CategoryThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="CategoryThumbPictureSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="CategoryThumbPictureSize" />
                                    <span asp-validation-for="CategoryThumbPictureSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ManufacturerThumbPictureSize_OverrideForStore, model => model.ManufacturerThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="ManufacturerThumbPictureSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="ManufacturerThumbPictureSize" />
                                    <span asp-validation-for="ManufacturerThumbPictureSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.VendorThumbPictureSize_OverrideForStore, model => model.VendorThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="VendorThumbPictureSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="VendorThumbPictureSize" />
                                    <span asp-validation-for="VendorThumbPictureSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.CartThumbPictureSize_OverrideForStore, model => model.CartThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="CartThumbPictureSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="CartThumbPictureSize" />
                                    <span asp-validation-for="CartThumbPictureSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.MiniCartThumbPictureSize_OverrideForStore, model => model.MiniCartThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="MiniCartThumbPictureSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="MiniCartThumbPictureSize" />
                                    <span asp-validation-for="MiniCartThumbPictureSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.MaximumImageSize_OverrideForStore, model => model.MaximumImageSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="MaximumImageSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="MaximumImageSize" />
                                    <span asp-validation-for="MaximumImageSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.MultipleThumbDirectories_OverrideForStore, model => model.MultipleThumbDirectories, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="MultipleThumbDirectories" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <admin-input asp-for="MultipleThumbDirectories" />
                                        <span></span>
                                    </label>
                                    <span asp-validation-for="MultipleThumbDirectories"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.DefaultImageQuality_OverrideForStore, model => model.DefaultImageQuality, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="DefaultImageQuality" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="DefaultImageQuality" />
                                    <span asp-validation-for="DefaultImageQuality"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>