@model NewsSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.News").Text;
}
<form asp-controller="Setting" asp-action="News" method="post">
    <antiforgery-token />
    <div asp-validation-summary="All"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-fw fa-sliders"></i>
                        @T("Admin.Configuration.Settings.News")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-body">
                            @await Component.InvokeAsync("StoreScopeConfiguration")
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.Enabled_OverrideForStore, model => model.Enabled, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="Enabled" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <admin-input asp-for="Enabled" />
                                        <span></span>
                                    </label>
                                    <span asp-validation-for="Enabled"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AllowNotRegisteredUsersToLeaveComments_OverrideForStore, model => model.AllowNotRegisteredUsersToLeaveComments, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="AllowNotRegisteredUsersToLeaveComments" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <admin-input asp-for="AllowNotRegisteredUsersToLeaveComments" />
                                        <span></span>
                                    </label>
                                    <span asp-validation-for="AllowNotRegisteredUsersToLeaveComments"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.NotifyAboutNewNewsComments_OverrideForStore, model => model.NotifyAboutNewNewsComments, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="NotifyAboutNewNewsComments" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <admin-input asp-for="NotifyAboutNewNewsComments" />
                                        <span></span>
                                    </label>
                                    <span asp-validation-for="NotifyAboutNewNewsComments"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ShowNewsOnMainPage_OverrideForStore, model => model.ShowNewsOnMainPage, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="ShowNewsOnMainPage" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <admin-input asp-for="ShowNewsOnMainPage" />
                                        <span></span>
                                    </label>
                                    <span asp-validation-for="ShowNewsOnMainPage"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.MainPageNewsCount_OverrideForStore, model => model.MainPageNewsCount, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="MainPageNewsCount" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="MainPageNewsCount" />
                                    <span asp-validation-for="MainPageNewsCount"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.NewsArchivePageSize_OverrideForStore, model => model.NewsArchivePageSize, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="NewsArchivePageSize" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <admin-input asp-for="NewsArchivePageSize" />
                                    <span asp-validation-for="NewsArchivePageSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ShowHeaderRssUrl_OverrideForStore, model => model.ShowHeaderRssUrl, Model.ActiveStoreScopeConfiguration)
                                    <admin-label asp-for="ShowHeaderRssUrl" class="control-label" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <admin-input asp-for="ShowHeaderRssUrl" />
                                        <span></span>
                                    </label>
                                    <span asp-validation-for="ShowHeaderRssUrl"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>