@model OrderSettingsModel
<script>
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.OnePageCheckoutEnabled)").click(toggleOnePageCheckoutEnabled);
        toggleOnePageCheckoutEnabled();
    });
    function toggleOnePageCheckoutEnabled() {
        if ($('#@Html.FieldIdFor(model => model.OnePageCheckoutEnabled)').is(':checked')) {
            $('#pnlOnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab').show();
        }
        else {
            $('#pnlOnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab').hide();
        }
    }
</script>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.IsReOrderAllowed_OverrideForStore, model => model.IsReOrderAllowed, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="IsReOrderAllowed" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="IsReOrderAllowed" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="IsReOrderAllowed"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.MinOrderSubtotalAmount_OverrideForStore, model => model.MinOrderSubtotalAmount, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="MinOrderSubtotalAmount" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <admin-input asp-for="MinOrderSubtotalAmount" />
                <span asp-validation-for="MinOrderSubtotalAmount"></span> @Model.PrimaryStoreCurrencyCode
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.MinOrderSubtotalAmountIncludingTax_OverrideForStore, model => model.MinOrderSubtotalAmountIncludingTax, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="MinOrderSubtotalAmountIncludingTax" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="MinOrderSubtotalAmountIncludingTax" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="MinOrderSubtotalAmountIncludingTax"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.AnonymousCheckoutAllowed_OverrideForStore, model => model.AnonymousCheckoutAllowed, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="AnonymousCheckoutAllowed" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="AnonymousCheckoutAllowed" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="AnonymousCheckoutAllowed"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.TermsOfServiceOnShoppingCartPage_OverrideForStore, model => model.TermsOfServiceOnShoppingCartPage, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="TermsOfServiceOnShoppingCartPage" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="TermsOfServiceOnShoppingCartPage" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="TermsOfServiceOnShoppingCartPage"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.TermsOfServiceOnOrderConfirmPage_OverrideForStore, model => model.TermsOfServiceOnOrderConfirmPage, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="TermsOfServiceOnOrderConfirmPage" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="TermsOfServiceOnOrderConfirmPage" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="TermsOfServiceOnOrderConfirmPage"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.OnePageCheckoutEnabled_OverrideForStore, model => model.OnePageCheckoutEnabled, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="OnePageCheckoutEnabled" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="OnePageCheckoutEnabled" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="OnePageCheckoutEnabled"></span>
            </div>
        </div>
        <div class="form-group" id="pnlOnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.OnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab_OverrideForStore, model => model.OnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="OnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="OnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="OnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisableBillingAddressCheckoutStep_OverrideForStore, model => model.DisableBillingAddressCheckoutStep, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="DisableBillingAddressCheckoutStep" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="DisableBillingAddressCheckoutStep" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="DisableBillingAddressCheckoutStep"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisableOrderCompletedPage_OverrideForStore, model => model.DisableOrderCompletedPage, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="DisableOrderCompletedPage" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="DisableOrderCompletedPage" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="DisableOrderCompletedPage"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.AttachPdfInvoiceToOrderPlacedEmail_OverrideForStore, model => model.AttachPdfInvoiceToOrderPlacedEmail, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="AttachPdfInvoiceToOrderPlacedEmail" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="AttachPdfInvoiceToOrderPlacedEmail" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="AttachPdfInvoiceToOrderPlacedEmail"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.AttachPdfInvoiceToOrderPaidEmail_OverrideForStore, model => model.AttachPdfInvoiceToOrderPaidEmail, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="AttachPdfInvoiceToOrderPaidEmail" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="AttachPdfInvoiceToOrderPaidEmail" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="AttachPdfInvoiceToOrderPaidEmail"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.AttachPdfInvoiceToOrderCompletedEmail_OverrideForStore, model => model.AttachPdfInvoiceToOrderCompletedEmail, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="AttachPdfInvoiceToOrderCompletedEmail" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="AttachPdfInvoiceToOrderCompletedEmail" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="AttachPdfInvoiceToOrderCompletedEmail"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="GiftCards_Activated_OrderStatusId" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <admin-select asp-for="GiftCards_Activated_OrderStatusId" asp-items="Model.GiftCards_Activated_OrderStatuses" />
                <span asp-validation-for="GiftCards_Activated_OrderStatusId"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="DeactivateGiftCardsAfterCancelOrder" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="DeactivateGiftCardsAfterCancelOrder" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="DeactivateGiftCardsAfterCancelOrder"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="DeactivateGiftCardsAfterDeletingOrder" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="DeactivateGiftCardsAfterDeletingOrder" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="DeactivateGiftCardsAfterDeletingOrder"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CompleteOrderWhenDelivered" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="CompleteOrderWhenDelivered" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="CompleteOrderWhenDelivered"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.UserCanCancelUnpaidOrder_OverrideForStore, model => model.UserCanCancelUnpaidOrder, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="UserCanCancelUnpaidOrder" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="UserCanCancelUnpaidOrder" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="UserCanCancelUnpaidOrder"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="OrderIdent" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <admin-input asp-for="OrderIdent" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.AllowCustomerToAddOrderNote_OverrideForStore, model => model.AllowCustomerToAddOrderNote, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="AllowCustomerToAddOrderNote" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="AllowCustomerToAddOrderNote" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="AllowCustomerToAddOrderNote"></span>
            </div>
        </div>
    </div>
</div>
