@model TaxTypeSelectorModel
@using Microsoft.AspNetCore.Http
@using System.Net
@inject IWebHelper webHelper
@inject IHttpContextAccessor httpContextAccessor
@{
    var rawUrl = webHelper.GetRawUrl(httpContextAccessor.HttpContext.Request);
    var taxTypes = new List<SelectListItem>();
    taxTypes.Add(new SelectListItem
    {
        Text = T("Tax.Inclusive").Text,
        Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeTaxType", new { customertaxtype = ((int)TaxDisplayType.IncludingTax) }), "returnurl=" + WebUtility.UrlEncode(rawUrl), null),
        Selected = Model.CurrentTaxType == TaxDisplayType.IncludingTax
    });
    taxTypes.Add(new SelectListItem
    {
        Text = T("Tax.Exclusive").Text,
        Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeTaxType", new { customertaxtype = ((int)TaxDisplayType.ExcludingTax) }), "returnurl=" + WebUtility.UrlEncode(rawUrl), null),
        Selected = Model.CurrentTaxType == TaxDisplayType.ExcludingTax
    });
}
<div class="btn-group btn-group-sm float-xs-right pr-1 d-none d-lg-flex tax-type-button">
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        <span class="d-none d-lg-block">@taxTypes.FirstOrDefault(x => x.Selected).Text</span>
        <span class="fa fa-info d-lg-none"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-left tax">
        <ul class="pl-0 mb-0">
            @foreach (var item in taxTypes)
            {
                var className = item.Selected ? "active" : "";
                <li class="@className">
                    <a href="@item.Value">@item.Text</a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="col px-0 tax-list-mobile option-list-mobile text-center">
    <h6 class="tax-button mobile-option-button mb-0">Tax</h6>
    <ul class="">
        @foreach (var item in taxTypes)
        {
            var className = item.Selected ? "active" : "";
            <li class="@className">
                <a class="nav-link d-flex d-lg-none p-0" href="@item.Value">
                    @item.Text
                </a>
            </li>

        }
    </ul>
</div>