@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/Feed.GoogleShopping/Content/styles.css");
}
@model FeedGoogleShoppingModel
@using Grand.Core.Infrastructure
@using Grand.Plugin.Feed.GoogleShopping.Models;
@using Grand.Web.Framework;
@using Grand.Web.Framework.UI;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="googlebase-configure">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Plugins.Feed.GoogleShopping.General")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Plugins.Feed.GoogleShopping.Override")
            </li>
        </ul>
        <div>
            @TabGeneral()
        </div>
        <div>
            @TabOverride()
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#googlebase-configure").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
        });
    </script>
}
@helper TabGeneral()
{
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">

                <ul>
                    <li>
                        At least two unique product identifiers are required. So each of your product should
                        have manufacturer (brand) and MPN (manufacturer part number) specified
                    </li>
                    <li>Specify default tax values in your Google Merchant Center account settings</li>
                    <li>Specify default shipping values in your Google Merchant Center account settings</li>
                    <li>
                        In order to get more info about required fields look at the following article <a href="http://www.google.com/support/merchants/bin/answer.py?answer=188494" target="_blank">http://www.google.com/support/merchants/bin/answer.py?answer=188494</a>
                    </li>
                </ul>

            </div>

            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.ProductPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(model => model.ProductPictureSize)
                    @Html.ValidationMessageFor(model => model.ProductPictureSize)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.PassShippingInfoWeight, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(model => model.PassShippingInfoWeight)
                    @Html.ValidationMessageFor(model => model.PassShippingInfoWeight)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.PassShippingInfoDimensions, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(model => model.PassShippingInfoDimensions)
                    @Html.ValidationMessageFor(model => model.PassShippingInfoDimensions)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.PricesConsiderPromotions, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.GrandEditorFor(model => model.PricesConsiderPromotions)
                    @Html.ValidationMessageFor(model => model.PricesConsiderPromotions)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.StoreId, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.GrandDropDownListFor(model => model.StoreId, Model.AvailableStores)
                    @Html.ValidationMessageFor(model => model.StoreId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.CurrencyId, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.GrandDropDownListFor(model => model.CurrencyId, Model.AvailableCurrencies)
                    @Html.ValidationMessageFor(model => model.CurrencyId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.DefaultGoogleCategory, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.GrandDropDownListFor(model => model.DefaultGoogleCategory, Model.AvailableGoogleCategories)
                    @Html.ValidationMessageFor(model => model.DefaultGoogleCategory)
                </div>
            </div>
            @if (Model.GeneratedFiles.Count > 0)
            {
                <div class="form-group">
                    <div class="col-md-3 col-sm-3 text-right">
                        @Html.GrandLabelFor(m => m.GeneratedFiles, new Dictionary<string, object> { { "class", "control-label" } }, false)
                    </div>
                    <div class="col-md-9 col-sm-9">
                        @for (int i = 0; i <= Model.GeneratedFiles.Count - 1; i++)
                        {
                            var generatedFile = Model.GeneratedFiles[i];
                            @generatedFile.StoreName <text>-</text> <a href="@generatedFile.FileUrl" target="_blank">@generatedFile.FileUrl</a>
                            if (i != Model.GeneratedFiles.Count - 1)
                            {
                                <br />
                            }
                        }
                    </div>
                </div>
            }
        </div>
        <div class="form-actions">
            <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                <input type="submit" name="save" class="btn green" value="@T("Admin.Common.Save")" />
                <input type="submit" name="generate" class="btn default" value="@T("Plugins.Feed.GoogleShopping.Generate")" />
            </div>
        </div>
    </div>
}
@helper TabOverride()
{
var defaultGridPageSize = EngineContext.Current.Resolve<Grand.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
var gridPageSizes = EngineContext.Current.Resolve<Grand.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;


    <div class="panel panel-default GoogleShopping">
        <div class="panel-body">
            <div id="GoogleShoppingproducts-grid"></div>
        </div>
    </div>

    <script id="google-popup-editor" type="text/x-kendo-template">
        <div class="editor-label"><label for="GoogleCategory">@T("Plugins.Feed.GoogleShopping.Products.GoogleCategory")</label></div>
        <div class="editor-field"><input name="GoogleCategory" /></div>

        <div class="editor-label"><label for="Gender">@T("Plugins.Feed.GoogleShopping.Products.Gender")</label></div>
        <div class="editor-field"><input name="Gender" /></div>

        <div class="editor-label"><label for="AgeGroup">@T("Plugins.Feed.GoogleShopping.Products.AgeGroup")</label></div>
        <div class="editor-field"><input name="AgeGroup" /></div>

        <div class="editor-label"><label for="Color">@T("Plugins.Feed.GoogleShopping.Products.Color")</label></div>
        <div class="editor-field"><input name="Color" /></div>

        <div class="editor-label"><label for="GoogleSize">@T("Plugins.Feed.GoogleShopping.Products.Size")</label></div>
        <div class="editor-field"><input name="GoogleSize" /></div>

        <div class="editor-label"><label for="CustomGoods">@T("Plugins.Feed.GoogleShopping.Products.CustomGoods")</label></div>
        <div class="editor-field"><input name="CustomGoods" type="checkbox" /></div>
    </script>



                <script>
                    $(document).ready(function() {
                        $("#GoogleShoppingproducts-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GoogleProductList", "FeedGoogleShopping", new RouteValueDictionary { { "Namespaces", "Grand.Plugin.Feed.GoogleShopping.Controllers" }, { "area", "" } }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    update: {
                                        url: "@Html.Raw(Url.Action("GoogleProductUpdate", "FeedGoogleShopping", new RouteValueDictionary { { "Namespaces", "Grand.Plugin.Feed.GoogleShopping.Controllers" }, { "area", "" } }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            ProductId: { editable: false, type: "string" },
                                            ProductName: { editable: false, type: "string" },
                                            GoogleCategory: { editable: true, type: "string" },
                                            Gender: { editable: true, type: "string" },
                                            AgeGroup: { editable: true, type: "string" },
                                            Color: { editable: true, type: "string" },
                                            GoogleSize: { editable: true, type: "string" },
                                            CustomGoods: { editable: true, type: "bool" },
                                            Id: { editable: false, type: "string" }
                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: false,
                                mode: "popup",
                                template: kendo.template($("#google-popup-editor").html())
                            },
                            scrollable: false,
                            columns: [{
                                field: "ProductName",
                                title: "@T("Plugins.Feed.GoogleShopping.Products.ProductName")",
                                width: 300
                            }, {
                                field: "Id",
                                title: "Data",
                                width: 300,
                                template: '<div class="google-info">' +
                                    '<dl>' +
                                    '<dt>@T("Plugins.Feed.GoogleShopping.Products.GoogleCategory", new Dictionary<string, object> { { "class", "control-label" } }, false)</dt><dd># if(GoogleCategory !== null) {# #:GoogleCategory# #}  #</dd>' +
                                    '<dt>@T("Plugins.Feed.GoogleShopping.Products.Gender", new Dictionary<string, object> { { "class", "control-label" } }, false)</dt><dd># if(Gender !== null) {# #:Gender# #}  #</dd>' +
                                    '<dt>@T("Plugins.Feed.GoogleShopping.Products.AgeGroup", new Dictionary<string, object> { { "class", "control-label" } }, false)</dt><dd># if(AgeGroup !== null) {# #:AgeGroup# #}  #</dd>' +
                                    '<dt>@T("Plugins.Feed.GoogleShopping.Products.Color", new Dictionary<string, object> { { "class", "control-label" } }, false)</dt><dd># if(Color !== null) {# #:Color# #}  #</dd>' +
                                    '<dt>@T("Plugins.Feed.GoogleShopping.Products.Size", new Dictionary<string, object> { { "class", "control-label" } }, false)</dt><dd># if(GoogleSize !== null) {# #:GoogleSize# #}  #</dd>' +
                                    '<dt>@T("Plugins.Feed.GoogleShopping.Products.CustomGoods", new Dictionary<string, object> { { "class", "control-label" } }, false)</dt><dd>#:CustomGoods#</dd>' +
                                    '</dl>' +
                                    '</div>'
                            }, {
                                command: {name: "edit", text: "@T("Admin.Common.Edit")"},
                                title: "@T("Admin.Common.Edit")",
                                width: 150
                            }
                            ]
                        });
                    });
                </script>

}