@{
    Layout = "_ConfigurePlugin";
    Html.AddCssFileParts("~/Plugins/Feed.GoogleShopping/Content/styles.css");
}
@model FeedGoogleShoppingModel
@using Grand.Plugin.Feed.GoogleShopping.Models;
@using Grand.Framework;
@using Grand.Framework.UI;
<form asp-controller="FeedGoogleShopping" asp-action="Configure" method="post">
    <antiforgery-token />
    <div id="googlebase-configure">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Plugins.Feed.GoogleShopping.General")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Plugins.Feed.GoogleShopping.Override")
            </li>
        </ul>
        <div>
            @*@TabGeneral()*@
            @Html.Partial("TabGeneral.Configure.cshtml")
        </div>
        <div>
            @*@TabOverride()*@
            @Html.Partial("TabOverride.Configure.cshtml")
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#googlebase-configure").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
        });
    </script>
</form>