@{    
    //page title
    ViewBag.Title = T("Admin.Configuration.Shipping.Methods").Text;
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-list-alt"></i>
                    @T("Admin.Configuration.Shipping.Methods")
                </div>
                <div class="actions btn-group btn-group-devided">
                    <a href="@Url.Action("CreateMethod")" class="btn green"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> @T("Admin.Common.AddNew") </span></a>
                    <vc:admin-widget widget-zone="shipping_method_list_buttons" additional-data="null" />
                </div>

            </div>
            <div class="x_content form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="x_content">
                            <div id="shippingmethod-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#shippingmethod-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("Methods", "Shipping"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Name",
                title: "@T("Admin.Configuration.Shipping.Methods.Fields.Name")",
                width: 200,
                template: '<a class="k-link" href="EditMethod/#=Id#">#=Name#</a>',
            }, {
                field: "Description",
                title: "@T("Admin.Configuration.Shipping.Methods.Fields.Description")",
                width: 400
            },{
                field: "DisplayOrder",
                title: "@T("Admin.Configuration.Shipping.Methods.Fields.DisplayOrder")",
                width: 100
            }]
        });
    });
</script>
