@{    
    //page title
    ViewBag.Title = T("Admin.Configuration.Shipping.PickupPoints").Text;
}
<antiforgery-token />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt"></i>
                    @T("Admin.Configuration.Shipping.PickupPoints")
                </div>
                <div class="actions btn-group btn-group-devided">
                    <a href="@Url.Action("CreatePickupPoint")" class="btn green"><i class="fa fa-plus"></i><span class="hidden-xs"> @T("Admin.Common.AddNew") </span></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div id="pickupPoints-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#pickupPoints-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("PickupPoints", "Shipping"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Name",
                title: "@T("Admin.Configuration.Shipping.PickupPoint.Fields.Name")",
                template: '<a class="k-link" href="EditPickupPoint/#=Id#">#=Name#</a>',
            },
            {
                field: "Description",
                title: "@T("Admin.Configuration.Shipping.PickupPoint.Fields.Description")"
            },
            {
                field: "DisplayOrder",
                title: "@T("Admin.Configuration.Shipping.PickupPoint.Fields.DisplayOrder")",
                width: 120,
            }]
        });
    });
</script>