@model InteractiveFormAttributeValueModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<input asp-for="FormId" type="hidden" />
<input asp-for="AttributeId" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){} 
        window.close();
    </script>
}

@(await Html.LocalizedEditor<InteractiveFormAttributeValueModel, InteractiveFormAttributeValueLocalizedModel>("attributevalue-localized",
@<div class="form-horizontal">
     <div class="form-body">
         <div class="form-group">
             <admin-label asp-for="@Model.Locales[item].Name" class="control-label col-sm-3"/>
             <div class="col-md-9 col-sm-9">
                 <admin-input asp-for="@Model.Locales[item].Name" />
                 <span asp-validation-for="@Model.Locales[item].Name"></span>
             </div>
         </div>
         <input asp-for="@Model.Locales[item].LanguageId" type="hidden" />
     </div>
</div>
,
@<div class="form-horizontal">
     <div class="form-body">
         <div class="form-group">
             <admin-label asp-for="Name" class="control-label col-sm-3" />
             <div class="col-md-9 col-sm-9">
                 <admin-input asp-for="Name" />
                 <span asp-validation-for="Name"></span>
             </div>
         </div>
     </div>
</div>
))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="IsPreSelected" class="control-label col-sm-3"/>
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="IsPreSelected" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="IsPreSelected"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="DisplayOrder" class="control-label col-sm-3"/>
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
    </div>
</div>

