@model CustomerReminderModel.ConditionModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerReminder.AddCondition").Text;
}

<form asp-controller="CustomerReminder" 
      asp-action="AddCondition" method="post" id="customer-reminder-condition-form"
      asp-route-CustomerReminderId="@Context.Request.Query["CustomerReminderId"]">
    <antiforgery-token />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-sitemap"></i>
                        @T("Admin.Customers.CustomerReminder.AddCondition") - @Model.Name 
                        <small>@Html.ActionLink("(" + T("Admin.Customers.CustomerReminder.BackToAction") + ")", "Edit", new { Id = Model.CustomerReminderId })</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdateCondition", Model)
                </div>
            </div>
        </div>
    </div>
</form>