@model CustomerReminderModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerReminder.Edit").Text;
}
<form asp-area="Admin" asp-controller="CustomerReminder" 
      asp-action="Edit" method="post" id="customer-reminder-form">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-bell"></i>
                        @T("Admin.Customers.CustomerReminder.Edit") - @Model.Name
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Customers.CustomerReminder.BackToList").Text, "List")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                            <span id="customerreminder-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                        </div>
                    </div>
                </div>
                <div class="x_content form">
                   <partial name="_CreateOrUpdate" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>

<admin-delete-confirmation button-id="customerreminder-delete"/>

@*run report*@
<form asp-area="Admin" asp-controller="CustomerReminder" asp-action="Run" method="post" id="run-form">
    
    <input asp-for="Id" type="hidden" />
</form>

<script>

    $(document).ready(function () {
        $('#run').click(function (e) {
            e.preventDefault();
            $('#run-form').submit();
            return false;
        });
    });

</script>
