@model IList<ProductDetailsModel.TierPriceModel>
<div class="tier-prices mb-3">
    <h4 class="h6">
        <strong>@T("Products.TierPrices")</strong>
    </h4>
    <div class="table-responsive table-wrapper">
        <table class="table table-hover prices-table mb-0">
            <tr>
                <td class="field-header">
                    @T("Products.TierPrices.Quantity")
                </td>
                @foreach (var tierPrice in Model)
                {
                    <td class="item-quantity">
                        @(tierPrice.Quantity)+
                    </td>
                }
            </tr>
            <tr>
                <td class="field-header">
                    @T("Products.TierPrices.Price")
                </td>
                @foreach (var tierPrice in Model)
                {
                    <td class="item-price">
                        @tierPrice.Price
                    </td>
                }
            </tr>
        </table>
    </div>
</div>
