@model LogModel
@{
    //page title
    ViewBag.Title = T("Admin.System.Log.ViewLogDetails").Text;
}
<form asp-controller="Log" asp-action="View" method="post">
    <antiforgery-token />
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-tag"></i>
                        @T("Admin.System.Log.ViewLogDetails")
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.System.Log.BackToList").Text, "List")</small>
                    </div>
                    <div class="actions">
                        <span id="log-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <admin-label asp-for="LogLevel" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">@Model.LogLevel</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="ShortMessage" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label" style="text-align:left">@Model.ShortMessage</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="FullMessage" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label" style="text-align:left">@Model.FullMessage</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="IpAddress" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">@Model.IpAddress</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="CustomerId" />
                                <div class="col-md-9 col-sm-9">
                                    @if (!String.IsNullOrEmpty(Model.CustomerId))
                                    {
                                        <label class="control-label">
                                            @Html.ActionLink(!String.IsNullOrEmpty(Model.CustomerEmail) ? Model.CustomerEmail : T("Admin.Customers.Guest").Text, "Edit", "Customer", new { id = Model.CustomerId }, new { })
                                        </label>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="PageUrl" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">@Model.PageUrl</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="ReferrerUrl" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">@Model.ReferrerUrl</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="CreatedOn" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">@Model.CreatedOn</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.DeleteConfirmation("log-delete")
