@model CustomerNavigationModel           
<div id="block-account-navigation" class="block block-account-navigation">
        <h2 class="h5 generalTitle d-none d-lg-block"><strong>@T("Account.Navigation")</strong></h2>
        <h2 class="h5 bg-light p-3 d-lg-none"><strong>@T("Account.Navigation")</strong><i id="computers" class="fa fa-angle-down float-xs-right"></i></h2>
        <ul class="list viewBox">
            @await Component.InvokeAsync("Widget", new { widgetZone = "account_navigation_before" })
            @if (!Model.HideInfo)
            {
                <li class="customer-info">
                    <a href="@Url.RouteUrl("CustomerInfo")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Info)
                                                                   {<text>active</text>}
                                                                   else
                                                                   {<text>inactive</text>}">@T("Account.CustomerInfo")</a>
                                                            </li>
                                                        }
            @if (!Model.HideAddresses)
            {
                <li class="customer-addresses">
                    <a href="@Url.RouteUrl("CustomerAddresses")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Addresses)
                                                                        {<text>active</text>}
                                                                        else
                                                                        {<text>inactive</text>}">@T("Account.CustomerAddresses")</a>
                                                                    </li>
                                                                }
            @if (!Model.HideOrders)
            {
                <li class="customer-orders">
                    <a href="@Url.RouteUrl("CustomerOrders")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Orders)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.CustomerOrders")</a>
                                                                </li>
                                                            }
            @if (!Model.HideAuctions)
            {
                <li class="customer-auctions">
                    <a href="@Url.RouteUrl("CustomerAuctions")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Auctions)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.CustomerAuctions")</a>
                                                                </li>
                                                            }
            @if (!Model.HideNotes)
            {
                <li class="customer-notes">
                    <a href="@Url.RouteUrl("CustomerNotes")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Notes)
                                                                    {<text>active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Account.CustomerNotes")</a>
                                                                        </li>
                                                                    }
            @if (!Model.HideReturnRequests)
            {
                <li class="customer-returns">
                    <a href="@Url.RouteUrl("CustomerReturnRequests")" class="@if (Model.SelectedTab == CustomerNavigationEnum.ReturnRequests)
                                                                             {<text>active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Account.CustomerReturnRequests")</a>
                                                                        </li>
                                                                    }
            @if (!Model.HideDownloadableProducts)
            {
                <li class="customer-downloadable">
                    <a href="@Url.RouteUrl("CustomerDownloadableProducts")" class="@if (Model.SelectedTab == CustomerNavigationEnum.DownloadableProducts)
                                                                                   {<text>active</text>}
                                                                                   else
                                                                                   {<text>inactive</text>}">@T("Account.DownloadableProducts")</a>
                                                                            </li>
                                                                        }
            @if (!Model.HideBackInStockSubscriptions)
            {
                <li class="customer-back">
                    <a href="@Url.RouteUrl("CustomerBackInStockSubscriptions")" class="@if (Model.SelectedTab == CustomerNavigationEnum.BackInStockSubscriptions)
                                                                                   {<text>active</text>}
                                                                                   else
                                                                                   {<text>inactive</text>}">@T("Account.BackInStockSubscriptions")</a>
                                                                            </li>
                                                                        }
            @if (!Model.HideRewardPoints)
            {
                <li class="reward-points">
                    <a href="@Url.RouteUrl("CustomerRewardPoints")" class="@if (Model.SelectedTab == CustomerNavigationEnum.RewardPoints)
                                                                           {<text>active</text>}
                                                                           else
                                                                           {<text>inactive</text>}">@T("Account.RewardPoints")</a>
                                                                    </li>
                                                                }
            @if (!Model.HideChangePassword)
            {
                <li class="change-password">
                    <a href="@Url.RouteUrl("CustomerChangePassword")" class="@if (Model.SelectedTab == CustomerNavigationEnum.ChangePassword)
                                                                             {<text>active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Account.ChangePassword")</a>
                                                                        </li>
                                                                    }
            @if (!Model.HideDeleteAccount)
            {
                <li class="customer-delete">
                    <a href="@Url.RouteUrl("CustomerDeleteAccount")" class="@if (Model.SelectedTab == CustomerNavigationEnum.DeleteAccount)
                                                                             {<text>active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Account.DeleteAccount")</a>
                                                                        </li>
                                                                    }
            @if (!Model.HideAvatar)
            {
                <li class="customer-avatar">
                    <a href="@Url.RouteUrl("CustomerAvatar")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Avatar)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.Avatar")</a>
                                                                </li>
                                                            }
            @if (!Model.HideForumSubscriptions)
            {
                <li class="customer-forum">
                    <a href="@Url.RouteUrl("CustomerForumSubscriptions")" class="@if (Model.SelectedTab == CustomerNavigationEnum.ForumSubscriptions)
                                                                                 {<text>active</text>}
                                                                                 else
                                                                                 {<text>inactive</text>}">@T("Account.ForumSubscriptions")</a>
                                                                            </li>
                                                                        }
            @if (Model.ShowVendorInfo)
            {
                <li class="customer-vendor">
                    <a href="@Url.RouteUrl("CustomerVendorInfo")" class="@if(Model.SelectedTab == CustomerNavigationEnum.VendorInfo)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.VendorInfo")</a>
                                                                </li>
                                                            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "account_navigation_after" })
        </ul>
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $(".generalLeftSide").css("padding-right", "0");
    });
</script>