@{
    Layout = "";
}
@model Nop.Plugin.Shipping.USPS.Models.USPSShippingModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.Url, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.GrandEditorFor(model => model.Url)
                    @Html.ValidationMessageFor(model => model.Url)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.Username, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.GrandEditorFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.Password, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.GrandEditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.AdditionalHandlingCharge, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.GrandEditorFor(model => model.AdditionalHandlingCharge)
                    @Html.ValidationMessageFor(model => model.AdditionalHandlingCharge)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.AvailableCarrierServicesDomestic, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    <div style="height: 250px; width: 500px; overflow: auto; border: solid 1px #bbb;">
                        @foreach (var csd in Model.AvailableCarrierServicesDomestic)
                        {
                            <input type="checkbox" name="CheckedCarrierServicesDomestic" value="@(csd)" checked="@Model.CarrierServicesOfferedDomestic.Contains(csd)" />
                            <label>@csd</label>
                            <br />
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.GrandLabelFor(model => model.AvailableCarrierServicesInternational, new Dictionary<string, object> { { "class", "control-label" } }, false)
                </div>
                <div class="col-md-9 col-sm-9">
                    <div style="height: 250px; width: 500px; overflow: auto; border: solid 1px #bbb;">
                        @foreach (var csi in Model.AvailableCarrierServicesInternational)
                        {
                            <input type="checkbox" name="CheckedCarrierServicesInternational" value="@(csi)" checked="@Model.CarrierServicesOfferedInternational.Contains(csi)" />
                            <label>@csi</label>
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                    <input type="submit" name="save" class="btn green" value="@T("Admin.Common.Save")" />
                </div>
            </div>
        </div>
    </div>
}