@model IList<ProductOverviewModel>
@inject DisplayOrderHomePage order
<div class="product-grid order-@order.HomePageNewProducts">
    <h2 class="generalTitle text-center">@T("HomePage.NewProducts")</h2>
    <b-col cols="12" class="px-0">
        <b-form-row>
            @foreach (var item in Model)
            {
                <b-col xl="@order.Np_Xl" lg="@order.Np_Lg" md="@order.Np_Md" sm="@order.Np_Sm" cols="@order.Np_Col" class="product-container mb-2">
                    <partial name="_ProductBox" model="item" />
                </b-col>
            }
        </b-form-row>
    </b-col>
</div>

