@model HeaderLinksModel
@using System.Text.Encodings.Web
@await Component.InvokeAsync("Widget", new { widgetZone = "header_links_before" })
@if (Model.IsAuthenticated)
{
    @await Component.InvokeAsync("AdminHeaderLinks")
    <li class="nav-item col d-flex">
        <a class="ico-account nav-link d-flex justify-content-center" href="@Url.RouteUrl("CustomerInfo")">
            <span class="hl-label"><span class="material-icons mat">account_circle</span></span>
            <span class="d-flex align-items-center mobile-desc">@T("Account.MyAccount")</span>
        </a>
    </li>
    <li class="nav-item col d-flex">
        <a class="nav-link ico-logout" href="@Url.RouteUrl("Logout")">
            <span class="hl-label">
                <span class="material-icons mat">
                    lock
                </span>
            </span>
            <span class="d-flex align-items-center mobile-desc">@T("Account.Logout")</span>
        </a>
    </li>
}
else
{
    <li class="nav-item col d-flex">
        <a class="nav-link" href="@Url.RouteUrl("Login")">
            <span class="hl-label">
                <span class="material-icons mat">
                    lock_open
                </span>
            </span>
            <span class="d-flex align-items-center mobile-desc">@T("Account.Login")</span>
        </a>
    </li>
}
@if (Model.AllowPrivateMessages)
{
    <li class="nav-item col d-flex">
        <a class="nav-link" href="@Url.RouteUrl("PrivateMessages", new { tab = "" })">
            <span class="hl-label">
                <span class="material-icons mat">
                    message
                </span>
            </span>
            <span class="inbox-label d-none d-lg-flex align-items-center">@T("PrivateMessages.Inbox")</span>
            <span class="inbox-unread d-none d-lg-flex align-items-center">@Model.UnreadPrivateMessages</span>
            <span class="d-lg-none d-flex align-items-center text-muted mobile-desc">@T("PrivateMessages.Inbox")</span>
        </a>
    </li>
}
@if (Model.WishlistEnabled)
{
    <li class="nav-item col wishlist-container">
        <a class="nav-link" href="@Url.RouteUrl("Wishlist")">
            <span class="wishlist-label hl-label">
                <span class="material-icons mat">
                    favorite_border
                </span>
            </span>
            <span class="d-flex align-items-center wish-name mobile-desc">
                @T("Wishlist")
            </span>
            <span class="wishlist-qty d-none d-lg-flex">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
        </a>
    </li>
}
@if (Model.ShoppingCartEnabled)
{
    <li class="nav-item col" id="topcartlink">
        <div class="btn-group dropdown">
            <a 
               @if(Model.MiniShoppingCartEnabled)
               {
                   <text> class="nav-link js-offcanvas-trigger" data-offcanvas-trigger="right" href="#right"</text>
               }
               else
               {
                   <text> class="nav-link" href="@Url.RouteUrl("ShoppingCart")"</text>
               }
            >
                <span class="cart-label hl-label">
                    <span class="material-icons mat">
                        shopping_cart
                    </span>
                </span>
                <span class="d-flex align-items-center cart-name mobile-desc">
                    @T("ShoppingCart")
                </span>
                <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
            </a>
        </div>
    </li>
}
@await Component.InvokeAsync("Widget", new { widgetZone = "header_links_after" })
@if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
{
    //new private message notification
    <script asp-location="Footer">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);
            });
    </script>
}

