@model KnowledgebaseCategoryModel
@inject IEventPublisher eventPublisher
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<script>
    $(document).ready(function () {
        $('#knowledgebasecategory-edit').show();
        $("#knowledgebasecategory-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

<div id="knowledgebasecategory-edit" style="display:none">
    <ul>
        <li tab-index="0">
            @T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Info")
        </li>
        <li tab-index="1">
            @T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Articles")
        </li>
        <li tab-index="2">
            @T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Seo")
        </li>
        <li tab-index="3">
            @T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Acl")
        </li>
        <li tab-index="4">
            @T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Stores")
        </li>
        <li tab-index="5">
            @T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.ActivityLog")
        </li>
    </ul>
    <div>
        <partial name="_CreateOrUpdateCategory.TabInfo" model="Model" />
    </div>
    <div>
        <partial name="_CreateOrUpdateCategory.TabArticles" model="Model" />
    </div>
    <div>
        <partial name="_CreateOrUpdateCategory.TabSeo" model="Model" />
    </div>
    <div>
        <partial name="_TabAcl" model="Model" />
    </div>
    <div>
        <partial name="_TabStores" model="Model" />
    </div>
    <div>
        <partial name="_CreateOrUpdateCategory.TabActivityLog" model="Model" />
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "knowledgebasecategory-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}
@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">