@model KnowledgebaseArticleModel
@inject IEventPublisher eventPublisher
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="knowledgebasearticle-edit">
    <items>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseArticle.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdateArticle.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseArticle.Seo")" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdateArticle.TabSeo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseArticle.Related")" tab-index="2">
            <content>
                <div>
                    <partial name="_CreateOrUpdateArticle.TabRelated" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseArticle.Acl")" tab-index="3">
            <content>
                <div>
                    <partial name="_TabAcl" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseArticle.Stores")" tab-index="4">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Knowledgebase.KnowledgebaseArticle.ActivityLog")" tab-index="5">
            <content>
                <div>
                    <partial name="_CreateOrUpdateArticle.TabActivityLog" model="Model" />
                </div>
            </content>
        </tabstrip-item>
    </items>
</admin-tabstrip>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "knowledgebasearticle-edit");
    await eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        <admin-tab-append tab-strip-name="knowledgebasearticle-edit" tab-name="@eventBlock.tabname" tab-content="@eventBlock.content" />
    }
}