@model KnowledgebaseCategoryModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<script>
    $(document).ready(function() {
        $('#knowledgebasecategory-edit').show();
        $("#knowledgebasecategory-edit").kendoTabStrip({
            animation:  {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

<div id="knowledgebasecategory-edit" style="display:none">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            @T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Articles")
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            @T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.Acl")
        </li>
        <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
            @T("Admin.ContentManagement.Knowledgebase.KnowledgebaseCategory.ActivityLog")
        </li>
    </ul>
    <div>
        @Html.Partial("_CreateOrUpdateCategory.TabInfo", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdateCategory.TabArticles", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdateCategory.TabAcl", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdateCategory.TabActivityLog", Model)
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "knowledgebasecategory-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}


@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">