@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Knowledgebase.Manage").Text;
    Html.AppendScriptParts("~/Scripts/bootstrap-treeview.js");
}

@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-forumbee"></i>
                    @T("Admin.ContentManagement.Knowledgebase.Manage")
                </div>
                <div class="actions btn-group btn-group-devided">
                    <a href="@Url.Action("CreateCategory")" class="btn blue">@T("Admin.ContentManagement.Knowledgebase.CreateKnowledgebaseCategory")</a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div id="default-tree"></div>
                            <div id="categories-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .treeview .list-group-item {
        cursor: pointer;
    }

    .treeview span.indent {
        margin-left: 10px;
        margin-right: 10px;
    }

    .treeview span.icon {
        width: 12px;
        margin-right: 5px;
    }

    .treeview .node-disabled {
        color: silver;
        cursor: not-allowed;
    }
</style>

<script>
    $(document).ready(function () {
        $.ajax({
            cache: false,
            url: "@(Url.Action("CategoryList", "Knowledgebase"))",
            dataType: 'json',
            success: function (data) {
                createTree(data);
            },
            error: function () {
                alert('Error');
            }
        });
    });

    function createTree(originalArray) {
        var myTree = [];

        //for (var i = 0; i < originalArray.length; i++) {
        //    if (!originalArray[i].ParentCategoryId) {
        //        myTree.push({
        //            text: originalArray[i].Name,
        //            nodes: [],
        //            selectable: false,
        //            id: originalArray[i].Id
        //        });
        //    } else {
        //        var found = false;
        //        for (var j = 0; j < myTree.length; j++) {
        //            if (myTree[j].id == originalArray[i].ParentCategoryId) {
        //                found = true;
        //                myTree[j].nodes.push({
        //                    text: originalArray[i].Name,
        //                    nodes: [],
        //                    selectable: false,
        //                    id: originalArray[i].Id
        //                });
        //            }
        //        }

        //        if (!found) {
        //            alert('nie znaleziono dla ' + originalArray[i].Name);
        //        }
        //    }
        //}

        $('#default-tree').treeview({
            data: originalArray,
            collapseIcon: "fa fa-folder-open",
            expandIcon: "fa fa-folder",
            emptyIcon: "fa fa-ban"
        });
    }
</script>
