@model PaymentMethodRestrictionModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Payment.MethodRestrictions").Text;
}
<form asp-area="Admin" asp-controller="Payment" asp-action="MethodRestrictions" method="post">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-money"></i>
                        @T("Admin.Configuration.Payment.MethodRestrictions")
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                    </div>
                </div>
                <div class="x_content form">
                    <vc:admin-widget widget-zone="payment_method_restrictions_top" additional-data="Model" />
                    <admin-tabstrip name="paymentrestriction-edit">
                        <items>
                            <tabstrip-item text="@T("Admin.Configuration.Payment.MethodRestrictions.Country")" tab-index="0">
                                <content>
                                    <div>
                                        <partial name="MethodRestrictions.TabCountry" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Payment.MethodRestrictions.Role")" tab-index="1">
                                <content>
                                    <div>
                                        <partial name="MethodRestrictions.TabRole" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <tabstrip-item text="@T("Admin.Configuration.Payment.MethodRestrictions.Shipping")" tab-index="3">
                                <content>
                                    <div>
                                        <partial name="MethodRestrictions.TabShipping" model="Model" />
                                    </div>
                                </content>
                            </tabstrip-item>
                            <vc:admin-widget widget-zone="methodrestriction_details_tabs" additional-data="Model" />
                        </items>
                    </admin-tabstrip>
                    <vc:admin-widget widget-zone="payment_method_restrictions_bottom" additional-data="Model" />
                </div>
            </div>
        </div>
    </div>
</form>