@model TopMenuModel.CategoryLineModel
<li class="@(Model.Category.SubCategories.Count() == 0 ? "nav-item": "nav-item dropdown" )">
    @if (Model.Category.SubCategories.Count() > 0)
    {
        <span class="fa fa-angle-down d-lg-none" aria-hidden="true"></span>
    }

    <a id="@Model.Category.Id-menu" class="pr-3 pl-3 @(Model.Category.SubCategories.Count() == 0 ? "nav-link": "nav-link dropdown-toggle")  @(Model.Category.IncludeInTopMenu ? "": "d-lg-none")" @(Model.Category.SubCategories.Count() == 0 ? "" : "data-toggle=dropdown aria-haspopup=true aria-expanded=false" ) href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">
        @if (!string.IsNullOrEmpty(Model.Category.Icon))
        {
            <span class="category-icon @Model.Category.Icon"></span>
        }
        @Model.Category.Name
    </a>
    <label class="badge @Model.Category.FlagStyle">@Model.Category.Flag</label>
    @{
        //subcategories
        var subCategories =
            Model.Category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();

        var levelClass = "";
        if (Model.Level == 0)
        {
            levelClass = "first-level";
            if (subCategories.Any())
            {
                <ul class="dropdown-menu @levelClass" aria-labelledby="@Model.Category.Id-menu">
                    <li class="fa fa-times d-lg-none"></li>
                    <li class="nav-item d-lg-none sub-cat-name-container"><a class="nav-link sub-cat-name d-flex justify-content-center">Sub Category</a></li>
                    @foreach (var subCategory in subCategories)
                    {
                        var categoryLineModel = new TopMenuModel.CategoryLineModel
                        {
                            Category = subCategory,
                            Level = Model.Level + 1,
                            ResponsiveMobileMenu = Model.ResponsiveMobileMenu
                        };
                        <partial name="_CategoryLine.TopMenu" model="categoryLineModel" />
                    }
                </ul>
            }
        }
        if (Model.Level >= 1 && subCategories.Any())
        {
            levelClass = "next-level";
            <div class="sublist-toggle"></div>
            <ul class="dropdown-menu sublist @levelClass">
                <li class="fa fa-times d-lg-none"></li>
                <li class="nav-item d-lg-none sub-cat-name-container"><a class="nav-link sub-cat-name d-flex justify-content-center">Sub Category</a></li>
                @foreach (var subCategory in subCategories)
                {
                    var categoryLineModel = new TopMenuModel.CategoryLineModel
                    {
                        Category = subCategory,
                        Level = Model.Level + 1,
                        ResponsiveMobileMenu = Model.ResponsiveMobileMenu
                    };
                    <partial name="_CategoryLine.TopMenu" model="categoryLineModel" />
                }
            </ul>
        }
    }
</li>


