@model ShoppingCartModel.DiscountBoxModel
@if (Model.Display)
{
    <div class="coupon-box">
        <h2 class="h5">
            <strong>
                @T("ShoppingCart.DiscountCouponCode.Tooltip")
            </strong>
        </h2>
        <div class="coupon-code">
            <div class="form-group">
                <span for="inputEmail3" class="col-form-label">@T("ShoppingCart.DiscountCouponCode")</span>
                    <div class="input-group">
                        <input type="text"  id="discountcouponcode" name="discountcouponcode" class="form-control discount-coupon-code">
                        <label for="discountcouponcode" class="sr-only">@T("ShoppingCart.GiftCardCouponCode.Button")</label>
                        <span class="input-group-append">
                            <button type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode" class="btn btn-secondary apply-discount-coupon-code-button" >
                                @T("ShoppingCart.DiscountCouponCode.Button")
                            </button>
                        </span>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#discountcouponcode').keydown(function (event) {
                    if (event.keyCode == 13) {
                        $('#applydiscountcouponcode').click();
                        return false;
                    }
                });
            });
        </script>

        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="card text-white mb-3 @(Model.IsApplied ? "card-success message-success" : "card-danger message-failure") text-center">
                <div class="card-body p-3">
                    <blockquote class="card-bodyquote mb-0">
                        <span>@Model.Message</span>
                    </blockquote>
                </div>
            </div>
        }
        @foreach (var discount in Model.AppliedDiscountsWithCodes)
        {

            <div class="card text-white card-success text-center current-code mb-3">
                <div class="card-body p-3">
                    <blockquote class="card-bodyquote mb-0">
                        <span>@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                        <button type="submit" name="removediscount-@discount.Id" title="@T("Common.Remove")" class="ml-auto btn btn-sm btn-secondary remove-discount-button float-sm-right" >
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </blockquote>
                </div>
            </div>
        }
    </div>


}