<!DOCTYPE html>
<html use-lang="true">
<head>
    <title asp-default-title="true"></title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta-description>
    <meta-keywords>
    @Html.GrandHeadCustom()
    @*This is used so that themes can inject content into the header*@
    <partial name="Head" />
    @Html.GrandCssFiles(this.Url, ResourceLocation.Head)
    @Html.GrandScripts(this.Url, ResourceLocation.Head)
    @Html.GrandCanonicalUrls()
    @*Favicon - upload favicon.ico file to the root directory*@
    <vc:favicon></vc:favicon>
    <vc:widget widget-zone="head_html_tag" additional-data="null"></vc:widget>
</head>
<body class="popup-window text-center px-3">
    <vc:widget widget-zone="body_start_html_tag_after" additional-data="null"></vc:widget>
    @RenderBody()
    <vc:widget widget-zone="body_end_html_tag_before" additional-data="null"></vc:widget>
    @Html.GrandCssFiles(this.Url, ResourceLocation.Footer)
    @Html.GrandScripts(this.Url, ResourceLocation.Footer)
</body>
</html>
