<!DOCTYPE html>
<html lang="@(this.WorkingLanguage())  @(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null)">
<head>
    <title>@Html.GrandTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.GrandMetaDescription())" />
    <meta name="keywords" content="@(Html.GrandMetaKeywords())" />
    @Html.GrandHeadCustom()
    @*This is used so that themes can inject content into the header*@
    <partial name="Head" />
    @Html.GrandCssFiles(this.Url, ResourceLocation.Head)
    @Html.GrandScripts(this.Url, ResourceLocation.Head)
    @Html.GrandCanonicalUrls()
    @*Favicon - upload favicon.ico file to the root directory*@
    @await Component.InvokeAsync("Favicon")
    @await Component.InvokeAsync("Widget", new { widgetZone = "head_html_tag" })
</head>
<body class="popup-window text-center px-3">
    @await Component.InvokeAsync("Widget", new { widgetZone = "body_start_html_tag_after" })
    @RenderBody()
    @await Component.InvokeAsync("Widget", new { widgetZone = "body_end_html_tag_before" })
    @Html.GrandCssFiles(this.Url, ResourceLocation.Footer)
    @Html.GrandScripts(this.Url, ResourceLocation.Footer)
</body>
</html>
