@model NewsletterCategoryModel

@(await Html.LocalizedEditor<NewsletterCategoryModel, NewsletterCategoryLocalizedModel>("newslettercategory-localized",
    @<div class="form-horizontal">
         <div class="form-body">
             <div class="form-group">
                 <admin-label asp-for="@Model.Locales[item].Name" />
                 <div class="col-md-9 col-sm-9">
                     <admin-input asp-for="@Model.Locales[item].Name" />
                     <span asp-validation-for="@Model.Locales[item].Name"></span>
                 </div>
             </div>
             <div class="form-group">
                 <admin-label asp-for="@Model.Locales[item].Description" />
                 <div class="col-md-9 col-sm-9">
                     <admin-input asp-for="@Model.Locales[item].Description" asp-template="RichEditor" />
                     <span asp-validation-for="@Model.Locales[item].Description"></span>
                 </div>
             </div>
             <input asp-for="@Model.Locales[item].LanguageId" type="hidden" />
         </div>
    </div>
    ,
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <admin-label asp-for="Name" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="Description" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="Description" asp-template="RichEditor" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
        </div>
    </div>
    ))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Selected" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="Selected" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="Selected"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="DisplayOrder" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
    </div>
</div>