@model CustomerAttributeValueModel
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<input asp-for="CustomerAttributeId" type="hidden" />
@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){} 
        window.close();
    </script>
}

@(Html.LocalizedEditor<CustomerAttributeValueModel, CustomerAttributeValueLocalizedModel>("customerattributevalue-localized",
@<div class="form-horizontal">
     <div class="form-body">
         <div class="form-group">
             <admin-label asp-for="@Model.Locales[item].Name" />
             <div class="col-md-9 col-sm-9">
                 <admin-input asp-for="@Model.Locales[item].Name" />
                 <span asp-validation-for="@Model.Locales[item].Name"></span>
             </div>
         </div>
        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
     </div>
</div>
,
@<div class="form-horizontal">
     <div class="form-body">
         <div class="form-group">
             <admin-label asp-for="Name" />
             <div class="col-md-9 col-sm-9">
                 <admin-input asp-for="Name" />
                 <span asp-validation-for="Name"></span>
             </div>
         </div>
     </div>
</div>
))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="IsPreSelected" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="IsPreSelected" />
                    <span></span>
                </label>
                <span asp-validation-for="IsPreSelected"></span>
            </div>
        </div>
        <dic class="form-group">
            <admin-label asp-for="DisplayOrder" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </dic>
    </div>
</div>

