@using Grand.Services.Customers
@using Grand.Services.Stores
@model ProductModel

@if (!String.IsNullOrEmpty(Model.Id))
{

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="tierprices-grid"></div>
        </div>
        <div class="panel-footer">
            <input type="submit" id="btnAddNewTierPrice" value = "@T("Admin.Catalog.Products.TierPrices.AddNew")" onclick="javascript:OpenWindow('@(Url.Action("TierPriceCreatePopup", "Product", new { productId = Model.Id, btnId = "btnRefreshTierPrices", formId = "product-form"}))', 800, 600, true); return false;" class="k-button" />
            <input type="submit" id="btnRefreshTierPrices" style="display: none" />
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#tierprices-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("TierPriceList", "Product", new { productId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("TierPriceDelete", "Product"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                            fields: {
                                ProductId: { editable: false, type: "string" },
                                Store: { editable: true, type: "string" },
                                StoreId: { editable: true, type: "string" },
                                CustomerRole: { editable: true, type: "string" },
                                CustomerRoleId: { editable: true, type: "string" },
                                Quantity: { editable: true, type: "number" },
                                Price: { editable: true, type: "number" },
                                StartDateTimeUtc: { editable: true, type: "date" },
                                EndDateTimeUtc: { editable: true, type: "date" },
                                Id: { editable: false, type: "string" }
                            }
                        }
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "StoreId",
                    title: "@T("Admin.Catalog.Products.TierPrices.Fields.Store")",
                    template: "#:Store#"
                },
                {
                    field: "CustomerRoleId",
                    title: "@T("Admin.Catalog.Products.TierPrices.Fields.CustomerRole")",
                    template: "#:CustomerRole#"
                },
                {
                    field: "Quantity",
                    title: "@T("Admin.Catalog.Products.TierPrices.Fields.Quantity")",
                    //integer format
                    format: "{0:0}"
                }, {
                    field: "Price",
                    title: "@T("Admin.Catalog.Products.TierPrices.Fields.Price")",
                },{
                    field: "StartDateTimeUtc",
                    title: "@T("Admin.Catalog.Products.TierPrices.Fields.StartDateTimeUtc")",
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "EndDateTimeUtc",
                    title: "@T("Admin.Catalog.Products.TierPrices.Fields.EndDateTimeUtc")",
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "Id",
                    title: "@T("Admin.Common.Edit")",
                    template: "<input type='submit' value='@T("Admin.Common.Edit")' onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Product/TierPriceEditPopup/")#=Id#?productId=@(Model.Id)&btnId=btnRefreshTierPrices&formId=product-form', 800, 600, true); return false;\" class='btn btn-default' />"
                },{
                    command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                    title: "@T("Admin.Common.Delete")"
                }]
            });
        });

        $(document).ready(function() {
            $('#btnRefreshTierPrices').click(function() {
                $("#tierprices-grid").data('kendoGrid').dataSource.read();
                return false;
            });
        });
    </script>
    }
    else
    {
        <div class="note note-info">
            @T("Admin.Catalog.Products.TierPrices.SaveBeforeEdit")
        </div>
    }