@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
    }
    
    <div class="page-body checkout-data container">
        <div class="page-title">
            <h1>@T("Checkout.ThankYou")</h1>
        </div>
        @Html.Widget("checkout_completed_top", Model.OrderId)
        <div class="section order-completed">
            <div class="title">
                <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.OrderId</strong>
                </div>
                <div class="details-link">
                    <button class="btn-flat waves-effect waves-green" onclick="location.href = '@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })'">@T("Checkout.PlacedOrderDetails")</button>
                </div>
            </div>
            <button type="button" class="btn waves-effect waves-light" onclick="setLocation('@Url.RouteUrl("HomePage")')">
                @T("Checkout.ThankYou.Continue")
            </button>
        </div>
        @Html.Widget("checkout_completed_bottom", Model.OrderId)
    </div>
</div>
