@model UpgradeModel
@using Grand.Core.Infrastructure;
@using Grand.Web.Models.Upgrade;
@using Grand.Web.Infrastructure.Installation;
@{
    Layout = "";//"~/Views/Shared/_ColumnsOne.cshtml";
}
<link href="@Url.Content("~/Content/Install/style.css")" type="text/css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/public.common.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/bootstrap/bootstrap.css")" rel="stylesheet">
<script src="@Url.Content("~/Content/bootstrap/tether.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/bootstrap/bootstrap.js")" type="text/javascript"></script>

<div class="container">
    <div class="page upgrade-page">
        @if (Model.ApplicationVersion != Model.DatabaseVersion)
        {
            <h1 class="h4 generalTitle"> @T("UpgradeSystem.NonActual")</h1>
            <div class="col-12 px-0">
                <div class="card text-xs-center">
                    <div class="card-block">
                        <h2 class="h4">@T("UpgradeSystem.DatabaseVersion"): @Model.DatabaseVersion</h2>
                        <h2 class="h4">@T("UpgradeSystem.ApplicationVersion"): @Model.ApplicationVersion</h2>
                        <h2 class="h6 mt-1 mb-1 text-success">@T("UpgradeSystem.Message1")</h2>
                    </div>
                </div>
            </div>
            using (Html.BeginForm())
            {
                <div class="btn-group my-3">
                    <input type="submit" name="run-upgrade" class="btn btn-success upgrade-page" value="@T("UpgradeSystem.RunUpgrade")">
                </div>
            }
        }
        else
        {
            <div class="page-title">
                <h1 class="generalTitle">@T("UpgradeSystem.Actual")</h1>
                <h2 class="generalTitle">@T("UpgradeSystem.Message2")</h2>
            </div>
        }
    </div>
</div>
