@{
    Layout = "_AdminPopupLayout";
}
@model ShippingByWeightModel
@using Grand.Plugin.Shipping.ByWeight.Models;
<form asp-controller="ShippingByWeight" asp-action="EditPopup" method="post"
      asp-route-ShippingByWeightId="@Context.Request.Query["ShippingByWeightId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <antiforgery-token />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>
                        @T("Admin.Common.Edit")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <input type="submit" name="save" class="btn default" value="@T("Admin.Common.Save")" />
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("~/Plugins/Shipping.ByWeight/Views/_CreateOrUpdate.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</form>