@model BannerModel
@{
    //page title
    ViewBag.Title = T("Admin.Promotions.Banners.EditBannerDetails").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-tag"></i>
                        @T("Admin.Promotions.Banners.EditBannerDetails") - @Model.Name
                        <small>@Html.ActionLink("(" + T("Admin.Promotions.Banners.BackToList") + ")", "List")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <input type="submit" name="save" class="btn default" value="@T("Admin.Common.Save")"/>
                            <input type="submit" name="save-continue" class="btn default" value="@T("Admin.Common.SaveContinue")" />
                            <span id="banner-delete" class="btn red">@T("Admin.Common.Delete")</span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdate", Model)
                </div>
            </div>
        </div>
    </div>

}
@Html.DeleteConfirmation("banner-delete")
