@model ProductModel
@inject AdminAreaSettings adminAreaSettings

<div class="note note-info">
    @T("Admin.Catalog.Products.PurchasedWithOrders.Hint")
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div id="purchased-with-orders-grid"></div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $("#purchased-with-orders-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("PurchasedWithOrders", "Product", new { productId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: @(adminAreaSettings.DefaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(adminAreaSettings.GridPageSizes)]
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "OrderNumber",
                    title: "@T("Admin.Orders.Fields.ID")",
                    width: 80,
                    template: '<a class="k-link" href="@Url.Content("~/Admin/Order/Edit/")#=Id#">#=OrderNumber#</a>',
                }, {
                    field: "CustomerEmail",
                    title: "@T("Admin.Orders.Fields.CustomerEmail")",
                    width: 200,
                    minScreenWidth: 500,
                    template: '<a class="k-link" href="@Url.Content("~/Admin/Customer/Edit/")#=CustomerId#">#:CustomerEmail#</a>'
                },
                @if (!Model.IsLoggedInAsVendor)
                {
                    <text>{
                        field: "OrderStatus",
                        title: "@T("Admin.Orders.Fields.OrderStatus")",
                        width: 100,
                        minScreenWidth: 500,
                    },{
                        field: "PaymentStatus",
                        title: "@T("Admin.Orders.Fields.PaymentStatus")",
                        width: 100,
                        minScreenWidth: 500,
                    },{
                        field: "ShippingStatus",
                        title: "@T("Admin.Orders.Fields.ShippingStatus")",
                        width: 100,
                        minScreenWidth: 500,
                    },</text>
                }
                {
                    field: "CreatedOn",
                    title: "@T("Admin.Orders.Fields.CreatedOn")",
                    width: 150,
                    type: "date",
                    format: "{0:G}"
                }]
            });
        });
</script>
