@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.EditValueDetails").Text;
}
@model ProductModel.ProductAttributeValueModel
<form asp-controller="Product" asp-action="ProductAttributeValueEditPopup" method="post"
      asp-route-ProductId="@Context.Request.Query["ProductId"]"
      asp-route-productAttributeMappingId="@Context.Request.Query["ProductAttributeMappingId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]"
      >
    <antiforgery-token />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cube"></i>
                        @T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.EditValueDetails")
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdateProductAttributeValue", Model)
                </div>
            </div>
        </div>
    </div>
</form>