@model ReturnRequestReasonModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Order.ReturnRequestReasons.EditDetails").Text;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>
                        @T("Admin.Configuration.Settings.Order.ReturnRequestReasons.EditDetails") - @Model.Name 
                        <small>@Html.ActionLink("(" + T("Admin.Configuration.Settings.Order.ReturnRequestReasons.BackToList") + ")", "ReturnRequestReasonList")</small>
                    </div>
                    <div class="actions">
                        <input type="submit" name="save" class="btn default" value="@T("Admin.Common.Save")" />
                        <input type="submit" name="save-continue" class="btn default" value="@T("Admin.Common.SaveContinue")" />
                        <span id="returnrequestreason-delete" class="btn red">@T("Admin.Common.Delete")</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdate.ReturnRequestReason", Model)
                </div>
            </div>
        </div>
    </div>
}
@Html.DeleteConfirmation("ReturnRequestReasonDelete", "returnrequestreason-delete")