@model ReturnRequestModel
@using Grand.Core.Domain.Orders;
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="ReturnNumber" />
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Model.ReturnNumber</label>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="OrderId" />
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.ActionLink(T("Admin.Common.View").Text, "Edit", "Order", new { id = Model.OrderId }, new { })</label>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="CustomerId" />
            <div class="col-md-9 col-sm-9">
                <label class="control-label"> @Html.ActionLink(Model.CustomerInfo, "Edit", "Customer", new { id = Model.CustomerId }, new { }) </label>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="ProductName" />
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.ActionLink(Model.ProductName, "Edit", "Product", new { id = Model.ProductId }, new { }) </label>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Quantity" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Quantity" />
                <span asp-validation-for="Quantity"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="ReturnRequestStatusId" />
            <div class="col-md-9 col-sm-9">
                <admin-select asp-for="ReturnRequestStatusId" asp-items="((ReturnRequestStatus)Model.ReturnRequestStatusId).ToSelectList()" />
                <span asp-validation-for="ReturnRequestStatusId"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="ReasonForReturn" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="ReasonForReturn" />
                <span asp-validation-for="ReasonForReturn"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="RequestedAction" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="RequestedAction" />
                <span asp-validation-for="RequestedAction"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="CustomerComments" />
            <div class="col-md-9 col-sm-9">
                <admin-textarea asp-for="CustomerComments"></admin-textarea>
                <span asp-validation-for="CustomerComments"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="StaffNotes" />
            <div class="col-md-9 col-sm-9">
                <admin-textarea asp-for="StaffNotes"></admin-textarea>
                <span asp-validation-for="StaffNotes"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="CreatedOn" />
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.DisplayFor(model => model.CreatedOn)</label>
            </div>
        </div>
    </div>
</div>