@inject AdminAreaSettings adminAreaSettings
@{
    //page title
    ViewBag.Title = T("Admin.ReturnRequests").Text;
}
<antiforgery-token />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-truck"></i>
                    @T("Admin.ReturnRequests")
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div id="returnrequests-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#returnrequests-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "ReturnRequest"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "ReturnNumber",
                    title: "@T("Admin.ReturnRequests.Fields.ID")",
                    width: 50,
                    template: '<a class="k-link" href="Edit/#=Id#">#=ReturnNumber#</a>'
                }, {
                    field: "ProductName",
                    title: "@T("Admin.ReturnRequests.Fields.Product")",
                    width: 200,
                    template: '<a class="k-link" href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#">#:ProductName#</a>'
                }, {
                    field: "Quantity",
                    title: "@T("Admin.ReturnRequests.Fields.Quantity")",
                    width: 80
                }, {
                    field: "CustomerId",
                    title: "@T("Admin.ReturnRequests.Fields.Customer")",
                    width: 200,
                    template: '<a class="k-link" href="@Url.Content("~/Admin/Customer/Edit/")#=CustomerId#">#:CustomerInfo#</a>'
                }, {
                    field: "OrderId",
                    title: "@T("Admin.ReturnRequests.Fields.Order")",
                    width: 80,
                    template: '<a class="k-link" href="@Url.Content("~/Admin/Order/Edit/")#=OrderId#">#:OrderNumber#</a>'
                }, {
                    field: "ReturnRequestStatusStr",
                    title: "@T("Admin.ReturnRequests.Fields.Status")",
                    width: 130,
                    template: '<a class="k-link" href="Edit/#=Id#">#=ReturnRequestStatusStr#</a>'
                }, {
                    field: "CreatedOn",
                    title: "@T("Admin.ReturnRequests.Fields.CreatedOn")",
                    width: 100,
                    type: "date",
                    format: "{0:G}"
                }
            ]
        });
    });
</script>