@model CheckoutCompletedModel
@using Grand.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page order-completed-page text-xs-center">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
    }
    <h2 class="generalTitle text-center">@T("Checkout.ThankYou")</h2>
    <div class="checkout-data">
        @Html.Widget("checkout_completed_top", Model.OrderId)
        <div class="card order-completed text-center">
            <h5 class="card-header text-success text-center"><strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong></h5>
            <div class="card-block text-center">
                <div class="order-number generalMarginSupporter text-center">
                    <strong>@T("Checkout.OrderNumber"): @Model.OrderNumber</strong>
                </div>
                <div class="buttons text-center">
                    <a class="btn btn-secondary mb-1" href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                    <button type="button" class="btn btn-success order-completed-continue-button mb-1" onclick="setLocation('@Url.RouteUrl("HomePage")')" >
                        @T("Checkout.ThankYou.Continue")
                    </button>
                </div>
            </div>
        </div>
        @Html.Widget("checkout_completed_bottom", Model.OrderId)
    </div>
</div>