@model CheckoutConfirmModel
@using Grand.Web.Models.Checkout;
<div class="checkout-data col-12">
    @Html.Widget("op_checkout_confirm_top")
    <div class="confirm-order">
        <div>
            @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
            {
                <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
            }
        </div>
        @if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
    </div>
    @Html.Widget("op_checkout_confirm_bottom")
    <div class="order-summary">
        @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
    </div>    
    @if (String.IsNullOrEmpty(Model.MinOrderTotalWarning) && Model.TermsOfServiceOnOrderConfirmPage)
    {
        <div class="col-12">

                <div class="modal fade" id="terms-of-service-warning-box" tabindex="-1" title="@T("Checkout.TermsOfService")" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="terms-of-service">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="termsofservice" name="termsofservice" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">@T("Checkout.TermsOfService.IAccept")<a class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</a></span>
                </label>
            </div>
        </div>
    }
</div>
