@model MediaSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Media").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-fw fa-sliders"></i>
                        @T("Admin.Configuration.Settings.Media")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-body">
                            @Html.Action("StoreScopeConfiguration", "Setting")
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.GrandLabelFor(model => model.PicturesStoredIntoDatabase, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <div class="note note-info">
                                        @if (Model.PicturesStoredIntoDatabase)
                                        {
                                            @T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Database")
                                        }
                                        else
                                        {
                                            @T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.FileSystem")
                                        }
                                    </div>
                                    <input type="submit" name="change-picture-storage" class="btn default" onclick="return confirm('@T("Admin.Common.AreYouSure")');" value="@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Change")" />
                                    <br />
                                    <span>@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Note")</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AvatarPictureSize_OverrideForStore, model => model.AvatarPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.AvatarPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.AvatarPictureSize)
                                    @Html.ValidationMessageFor(model => model.AvatarPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductThumbPictureSize_OverrideForStore, model => model.ProductThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.ProductThumbPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.ProductThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.ProductThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductDetailsPictureSize_OverrideForStore, model => model.ProductDetailsPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.ProductDetailsPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.ProductDetailsPictureSize)
                                    @Html.ValidationMessageFor(model => model.ProductDetailsPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductThumbPictureSizeOnProductDetailsPage_OverrideForStore, model => model.ProductThumbPictureSizeOnProductDetailsPage, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.ProductThumbPictureSizeOnProductDetailsPage, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
                                    @Html.ValidationMessageFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AssociatedProductPictureSize_OverrideForStore, model => model.AssociatedProductPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.AssociatedProductPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.AssociatedProductPictureSize)
                                    @Html.ValidationMessageFor(model => model.AssociatedProductPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.CategoryThumbPictureSize_OverrideForStore, model => model.CategoryThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.CategoryThumbPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.CategoryThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.CategoryThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ManufacturerThumbPictureSize_OverrideForStore, model => model.ManufacturerThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.ManufacturerThumbPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.ManufacturerThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.ManufacturerThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.VendorThumbPictureSize_OverrideForStore, model => model.VendorThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.VendorThumbPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.VendorThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.VendorThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.CartThumbPictureSize_OverrideForStore, model => model.CartThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.CartThumbPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.CartThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.CartThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.MiniCartThumbPictureSize_OverrideForStore, model => model.MiniCartThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.MiniCartThumbPictureSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.MiniCartThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.MiniCartThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.MaximumImageSize_OverrideForStore, model => model.MaximumImageSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.MaximumImageSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.MaximumImageSize)
                                    @Html.ValidationMessageFor(model => model.MaximumImageSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.MultipleThumbDirectories_OverrideForStore, model => model.MultipleThumbDirectories, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.MultipleThumbDirectories, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.GrandEditorFor(model => model.MultipleThumbDirectories)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.MultipleThumbDirectories)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.DefaultImageQuality_OverrideForStore, model => model.DefaultImageQuality, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.DefaultImageQuality, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.DefaultImageQuality)
                                    @Html.ValidationMessageFor(model => model.DefaultImageQuality)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.UseImageCompress_OverrideForStore, model => model.UseImageCompress, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.UseImageCompress, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.GrandEditorFor(model => model.UseImageCompress)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.UseImageCompress)
                                </div>
                            </div>
                            <br /><hr /><br /> @*Watermark Overlay will be displayed here*@
                            <div class="form-group">
                                <div class="note note-info">
                                    @T("Admin.Configuration.Settings.Media.UseImageCompress.Info")
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkOverlayID_OverrideForStore, model => model.WatermarkOverlayID, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkOverlayID, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkOverlayID)
                                    @Html.ValidationMessageFor(model => model.WatermarkOverlayID)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkOverlaySizePercent_OverrideForStore, model => model.WatermarkOverlaySizePercent, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkOverlaySizePercent, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkOverlaySizePercent)
                                    @Html.ValidationMessageFor(model => model.WatermarkOverlaySizePercent)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkOverlayPositionXPercent_OverrideForStore, model => model.WatermarkOverlayPositionXPercent, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkOverlayPositionXPercent, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkOverlayPositionXPercent)
                                    @Html.ValidationMessageFor(model => model.WatermarkOverlayPositionXPercent)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkOverlayPositionYPercent_OverrideForStore, model => model.WatermarkOverlayPositionYPercent, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkOverlayPositionYPercent, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkOverlayPositionYPercent)
                                    @Html.ValidationMessageFor(model => model.WatermarkOverlayPositionYPercent)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkOverlayOpacityPercent_OverrideForStore, model => model.WatermarkOverlayOpacityPercent, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkOverlayOpacityPercent, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkOverlayOpacityPercent)
                                    @Html.ValidationMessageFor(model => model.WatermarkOverlayOpacityPercent)
                                </div>
                            </div>
                            <br /><hr /><br /> @*Watermark Text will be displayed here*@
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkText_OverrideForStore, model => model.WatermarkText, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkText, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkText)
                                    @Html.ValidationMessageFor(model => model.WatermarkText)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkStyle_OverrideForStore, model => model.WatermarkStyle, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkStyle, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandDropDownListFor(model => model.WatermarkStyle, ((System.Drawing.FontStyle)Model.WatermarkStyle).ToSelectList())
                                    @Html.ValidationMessageFor(model => model.WatermarkStyle)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkFontColor_OverrideForStore, model => model.WatermarkFontColor, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkFontColor, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkFontColor)
                                    @Html.ValidationMessageFor(model => model.WatermarkFontColor)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkFontFamily_OverrideForStore, model => model.WatermarkFontFamily, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkFontFamily, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandDropDownListFor(model => model.WatermarkFontFamily, ((System.Drawing.Text.GenericFontFamilies)Model.WatermarkFontFamily).ToSelectList())
                                    @Html.ValidationMessageFor(model => model.WatermarkFontFamily)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkFontSizePercent_OverrideForStore, model => model.WatermarkFontSizePercent, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkFontSizePercent, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkFontSizePercent)
                                    @Html.ValidationMessageFor(model => model.WatermarkFontSizePercent)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkPositionXPercent_OverrideForStore, model => model.WatermarkPositionXPercent, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkPositionXPercent, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkPositionXPercent)
                                    @Html.ValidationMessageFor(model => model.WatermarkPositionXPercent)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkPositionYPercent_OverrideForStore, model => model.WatermarkPositionYPercent, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkPositionYPercent, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkPositionYPercent)
                                    @Html.ValidationMessageFor(model => model.WatermarkPositionYPercent)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkOpacityPercent_OverrideForStore, model => model.WatermarkOpacityPercent, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkOpacityPercent, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkOpacityPercent)
                                    @Html.ValidationMessageFor(model => model.WatermarkOpacityPercent)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkDropShadow_OverrideForStore, model => model.WatermarkDropShadow, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkDropShadow, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.GrandEditorFor(model => model.WatermarkDropShadow)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.WatermarkDropShadow)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkVertical_OverrideForStore, model => model.WatermarkVertical, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkVertical, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.GrandEditorFor(model => model.WatermarkVertical)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.WatermarkVertical)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkRightToLeft_OverrideForStore, model => model.WatermarkRightToLeft, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkRightToLeft, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.GrandEditorFor(model => model.WatermarkRightToLeft)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.WatermarkRightToLeft)
                                </div>
                            </div>
                            <br /><hr /><br /> @*Watermark Misc Options will be displayed here*@
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkForPicturesAboveSize_OverrideForStore, model => model.WatermarkForPicturesAboveSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.WatermarkForPicturesAboveSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.GrandEditorFor(model => model.WatermarkForPicturesAboveSize)
                                    @Html.ValidationMessageFor(model => model.WatermarkForPicturesAboveSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ApplyWatermarkOnPicturesWithOriginalSize_OverrideForStore, model => model.ApplyWatermarkOnPicturesWithOriginalSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.ApplyWatermarkOnPicturesWithOriginalSize, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.GrandEditorFor(model => model.ApplyWatermarkOnPicturesWithOriginalSize)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.ApplyWatermarkOnPicturesWithOriginalSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ApplyWatermarkForProduct_OverrideForStore, model => model.ApplyWatermarkForProduct, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.ApplyWatermarkForProduct, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.GrandEditorFor(model => model.ApplyWatermarkForProduct)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.ApplyWatermarkForProduct)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ApplyWatermarkForCategory_OverrideForStore, model => model.ApplyWatermarkForCategory, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.ApplyWatermarkForCategory, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.GrandEditorFor(model => model.ApplyWatermarkForCategory)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.ApplyWatermarkForCategory)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ApplyWatermarkForManufacturer_OverrideForStore, model => model.ApplyWatermarkForManufacturer, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.ApplyWatermarkForManufacturer, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.GrandEditorFor(model => model.ApplyWatermarkForManufacturer)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.ApplyWatermarkForManufacturer)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}