@model VendorSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Vendor").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-fw fa-sliders"></i>
                        @T("Admin.Configuration.Settings.Vendor")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-body">
                            @Html.Action("StoreScopeConfiguration", "Setting")
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.VendorsBlockItemsToDisplay_OverrideForStore, model => model.VendorsBlockItemsToDisplay, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.VendorsBlockItemsToDisplay, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.EditorFor(model => model.VendorsBlockItemsToDisplay)
                                    @Html.ValidationMessageFor(model => model.VendorsBlockItemsToDisplay)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ShowVendorOnProductDetailsPage_OverrideForStore, model => model.ShowVendorOnProductDetailsPage, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.ShowVendorOnProductDetailsPage, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.ShowVendorOnProductDetailsPage)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.ShowVendorOnProductDetailsPage)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AllowCustomersToContactVendors_OverrideForStore, model => model.AllowCustomersToContactVendors, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.AllowCustomersToContactVendors, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.AllowCustomersToContactVendors)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.AllowCustomersToContactVendors)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AllowCustomersToApplyForVendorAccount_OverrideForStore, model => model.AllowCustomersToApplyForVendorAccount, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.AllowCustomersToApplyForVendorAccount, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.AllowCustomersToApplyForVendorAccount)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.AllowCustomersToApplyForVendorAccount)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AllowSearchByVendor_OverrideForStore, model => model.AllowSearchByVendor, Model.ActiveStoreScopeConfiguration)
                                    @Html.GrandLabelFor(model => model.AllowSearchByVendor, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.AllowSearchByVendor)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.AllowSearchByVendor)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}