@model LanguageSelectorModel
@inject IWebHelper webHelper
@if (Model.AvailableLanguages.Count > 1)
{
    var returnurl = webHelper.GetRawUrl(Context.Request);

    if (Model.UseImages)
    {
        <div class="btn-group language-selector btn-group-sm float-xs-right align-self-center d-block pr-1">
            <ul class="list-inline language-list px-0 mb-0 d-flex align-items-center">
                @foreach (var lang in Model.AvailableLanguages)
                {
                    <li class="list-inline-item mx-1">
                        <a href="@Url.RouteUrl("ChangeLanguage", new {langid = lang.Id, returnurl})" title="@lang.Name">
                            <img title='@lang.Name' alt='@lang.Name' @(lang.Id == Model.CurrentLanguageId ? " class=selected" : null)
                                 src="@Url.Content("~/content/images/flags/" + @lang.FlagImageFileName) " />
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        var languages = Model.AvailableLanguages.Select(lang => new SelectListItem
        {
            Text = lang.Name,
            Value = Url.RouteUrl("ChangeLanguage", new { langid = lang.Id, returnurl }),
            Selected = lang.Id.Equals(Model.CurrentLanguageId)
        });
        <div>
            <b-dropdown class="mr-2" text="@languages.FirstOrDefault(x => x.Selected).Text">
                @foreach (var item in languages)
                {
                    var className = item.Selected ? "active" : "";
                    <b-dropdown-item class="@className" href="@item.Value">@item.Text</b-dropdown-item>
                }
            </b-dropdown>
        </div>

    }
}