@model ProductReviewModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.GrandLabelFor(model => model.ProductName)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.ActionLink(Model.ProductName, "Edit", "Product", new { id = Model.ProductId }, new { })</label>
            </div>
        </div>
        <div class="form-group">
            @Html.GrandLabelFor(model => model.StoreName)
            <div class="col-md-9 col-sm-9">
                <span class="form-control">@Model.StoreName</span>
            </div>
        </div>
        <div class="form-group">
            @Html.GrandLabelFor(model => model.CustomerInfo)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.ActionLink(Model.CustomerInfo, "Edit", "Customer", new { id = Model.CustomerId }, new { })</label> 
            </div>
        </div>
        <div class="form-group">
            @Html.GrandLabelFor(model => model.Title)
            <div class="col-md-9 col-sm-9">
                @Html.GrandEditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        <div class="form-group">
            @Html.GrandLabelFor(model => model.ReviewText)
            <div class="col-md-9 col-sm-9">
                @Html.GrandTextAreaFor(model => model.ReviewText, new { style = "Height: 100px;" })
                @Html.ValidationMessageFor(model => model.ReviewText)
            </div>
        </div>
        <div class="form-group">
            @Html.GrandLabelFor(model => model.Rating)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.DisplayFor(model => model.Rating)</label> 
            </div>
        </div>
        <div class="form-group">
            @Html.GrandLabelFor(model => model.IsApproved)
            <div class="col-md-9 col-sm-9">
                @Html.EditorFor(model => model.IsApproved)
                @Html.ValidationMessageFor(model => model.IsApproved)
            </div>
        </div>
        <div class="form-group">
            @Html.GrandLabelFor(model => model.CreatedOn)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.DisplayFor(model => model.CreatedOn)</label>
            </div>
        </div>
    </div>
</div>
