@model ContactFormModel
@{
    //page title
    ViewBag.Title = T("Admin.System.ContactForm.Details").Text;
}
<form asp-controller="ContactForm" asp-action="Details" method="post">
    <antiforgery-token />
    <input asp-for="Id" type="hidden" />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-envelope-o"></i>
                        @T("Admin.System.ContactForm.Details")
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.System.ContactForm.BackToList").Text, "List")</small>
                    </div>
                    <div class="actions">
                        <span id="contactform-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <admin-label asp-for="CreatedOn" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">@Model.CreatedOn</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="Email" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label" style="text-align:left">@Model.FullName - @Model.Email</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="Subject" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label" style="text-align:left">@Model.Subject</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="Enquiry" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label" style="text-align:left">@Html.Raw(Model.Enquiry)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="ContactAttributeDescription" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label" style="text-align:left">@Html.Raw(Model.ContactAttributeDescription)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="IpAddress" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">@Model.IpAddress</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="Store" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">@Model.Store</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="EmailAccountName" />
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">@Model.EmailAccountName</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.DeleteConfirmation("contactform-delete")
