@model CustomerActionConditionModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerAction.AddCustomerActionCondition").Text;
}
<form asp-area="Admin" asp-controller="CustomerAction" asp-action="AddCondition" method="post" id="customer-action-condition-form">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-sitemap"></i>
                            @T("Admin.Customers.CustomerAction.AddCustomerActionCondition") - @Model.Name 
                        <small>@Html.ActionLink("(" + T("Admin.Customers.CustomerAction.BackToAction") + ")", "Edit", new { Id = Model.CustomerActionId })                    </small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                        </div>
                    </div>
                </div>
                <div class="x_content form">
                   <partial name="_CreateOrUpdateCondition" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>