@model ContactVendorModel
@using Grand.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactVendor", Model.VendorName).Text);
}
<div class="page vendor-page">
        <h1 class="h2 generalTitle text-xs-center">@T("PageTitle.ContactVendor", Model.VendorName)</h1>
        @Html.Widget("contactvendor_top")
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                var validationSummary = Html.ValidationSummary(true);
                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                    <div class="form-fields d-flex row">
                        <div class="form-group col-12 col-sm-6">
                            @Html.LabelFor(model => model.FullName, new { @class = "col-form-label" }, ":")
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control fullname", placeholder = T("ContactVendor.FullName.Hint") })
                            @Html.ValidationMessageFor(model => model.FullName)
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            @Html.LabelFor(model => model.Email, new { @class = "col-form-label" }, ":")
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control email", placeholder = T("ContactVendor.Email.Hint") })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        @if (Model.SubjectEnabled)
                        {
                            <div class="form-group col-12">
                                @Html.LabelFor(model => model.Subject, new { @class = "col-form-label" }, ":")
                                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control subject", placeholder = T("ContactVendor.Subject.Hint") })
                                @Html.ValidationMessageFor(model => model.Subject)
                            </div>
                        }
                        <div class="form-group col-12">
                            @Html.LabelFor(model => model.Enquiry, new { @class = "col-form-label" }, ":")
                            @Html.TextAreaFor(model => model.Enquiry, new { @class = "form-control enquiry", placeholder = T("ContactVendor.Enquiry.Hint") })
                            @Html.ValidationMessageFor(model => model.Enquiry)
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box px-3">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                    </div>
                <div class="btn-group text-sm-center pt-3 pb-3">
                    <input type="submit" name="send-email" class="btn btn-success contact-us-button" value="@T("ContactVendor.Button")" />
                </div>
            }
        }
        @Html.Widget("contactvendor_bottom")
    </div>
