@model HeaderLinksModel
@using Grand.Web.Models.Common;
@Html.Widget("header_links_before")
@if (Model.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link ico-account" href="@Url.RouteUrl("CustomerInfo")">
            <span class=""><span class="fa fa-user-o"></span></span>
            <span class="hidden-sm-down">@Model.CustomerEmailUsername</span>
        </a>
    </li>
            <li class="nav-item">
                <a class="nav-link ico-logout" href="@Url.RouteUrl("Logout")">
                    <span class=""><span class="fa fa-sign-out"></span></span>
                    <span class="hidden-sm-down">@T("Account.Logout")</span>
                </a>
            </li>
}
else
{
    <li class="nav-item"><a class="nav-link ico-register" href="@Url.RouteUrl("Register")"><span class="fa fa-user-plus"></span><span class="hidden-sm-down">@T("Account.Register")</span></a></li>
            <li class="nav-item"><a class="nav-link ico-login" href="@Url.RouteUrl("Login")"><span class="fa fa-sign-in"></span><span class="hidden-sm-down">@T("Account.Login")</span></a></li>
}
@if (Model.AllowPrivateMessages)
{
    <li class="nav-item">
        <a class="nav-link ico-inbox" href="@Url.RouteUrl("PrivateMessages", new { tab = "" })">
            <span class="fa fa-envelope-o"></span>
            <span class="inbox-label hidden-sm-down">@T("PrivateMessages.Inbox")</span>
            <span class="inbox-unread hidden-md-down">@Model.UnreadPrivateMessages</span>
        </a>
    </li>
}
@if (Model.WishlistEnabled)
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("Wishlist")">
            <span class="wishlist-label">
                <span class="fa fa-heart-o"></span>
            </span>
            <span class="hidden-sm-down">
                @T("Wishlist")
            </span>
            <span class="wishlist-qty hidden-sm-down">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
        </a>
    </li>
}
@if (Model.ShoppingCartEnabled)
{
    <li class="nav-item" id="topcartlink">
        <div class="btn-group dropdown">
            <a class="nav-link dropdown-toggle" href="@Url.RouteUrl("ShoppingCart")">
                <span class="cart-label">
                    <span class="fa fa-shopping-cart"></span>
                </span>
                <span class="hidden-sm-down">
                    @T("ShoppingCart")
                </span>
                <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            </div>
        </div>
    </li>
}
@Html.Widget("header_links_after")
@if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
{
    //new private message notification
    <script type="text/javascript">
        $(document).ready(function () {
            displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
        });
    </script>
}

