@model StoreModel
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.SslEnabled)").click(toggleSslEnabled);

        toggleSslEnabled();
    });

    function toggleSslEnabled() {
        if ($('#@Html.FieldIdFor(model => model.SslEnabled)').is(':checked')) {
            $('#pnlSecureUrl').show();
        }
        else {
            $('#pnlSecureUrl').hide();
        }
    }
</script>
@(Html.LocalizedEditor<StoreModel, StoreLocalizedModel>("store-localized",
    @<div class="form-horizontal">
         <div class="form-body">
             <div class="form-group">
                 <admin-label asp-for="@Model.Locales[item].Name" />
                 <div class="col-md-9 col-sm-9">
                     <admin-input asp-for="@Model.Locales[item].Name" />
                     <span asp-validation-for="@Model.Locales[item].Name"></span>
                 </div>
             </div>
             <input asp-for="@Model.Locales[item].LanguageId" type="hidden" />
         </div>
    </div>
    ,
    @<div class="form-horizontal">
         <div class="form-body">
             <div class="form-group">
                 <admin-label asp-for="Name" />
                 <div class="col-md-9 col-sm-9">
                     <admin-input asp-for="Name" />
                     <span asp-validation-for="Name"></span>
                 </div>
             </div>
         </div>
    </div>
))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Url" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Url" />
                <span asp-validation-for="Url"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="SslEnabled" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="SslEnabled" />
                    <span></span>
                </label>
                <span asp-validation-for="SslEnabled"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="note note-info">
                <em>@T("Admin.Configuration.Stores.Fields.SslEnabled.Hint2")</em>
            </div>
        </div>
        <div class="form-group" id="pnlSecureUrl">            
            <admin-label asp-for="SecureUrl" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="SecureUrl" />
                <span asp-validation-for="SecureUrl"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Hosts" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Hosts" />
                <span asp-validation-for="Hosts"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="DefaultLanguageId" />
            <div class="col-md-9 col-sm-9">
                <admin-select asp-for="DefaultLanguageId" asp-items="Model.AvailableLanguages" />
                <span asp-validation-for="DefaultLanguageId"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="DisplayOrder" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="CompanyName" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="CompanyName" />
                <span asp-validation-for="CompanyName"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="CompanyAddress" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="CompanyAddress" />
                <span asp-validation-for="CompanyAddress"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="CompanyPhoneNumber" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="CompanyPhoneNumber" />
                <span asp-validation-for="CompanyPhoneNumber"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="CompanyVat" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="CompanyVat" />
                <span asp-validation-for="CompanyVat"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="DefaultWarehouseId" />
            <div class="col-md-9 col-sm-9">
                <admin-select asp-for="DefaultWarehouseId" asp-items="Model.AvailableWarehouses" />
                <span asp-validation-for="DefaultWarehouseId"></span>
            </div>
        </div>
    </div>
</div>
