@model PaymentMethodRestrictionModel
@{               
    //page title
    ViewBag.Title = T("Admin.Configuration.Payment.MethodRestrictions").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-money"></i>
                        @T("Admin.Configuration.Payment.MethodRestrictions")
                    </div>
                    <div class="actions">
                        <input type="submit" name="save" class="btn default" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
                <div class="portlet-body form">
                    

                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12">
                                    <div class="note note-info">
                                        @T("Admin.Configuration.Payment.MethodRestrictions.Description")
                                    </div>
                                    @if (Model.AvailablePaymentMethods.Count == 0)
                                    {
                                        <text>No payment methods installed</text>
                                    }
                                    else if (Model.AvailableCountries.Count == 0)
                                    {
                                        <text>No countries available</text>
                                    }
                                    else
                                    {
                                        <script type="text/javascript">
                            $(document).ready(function () {
                                @foreach (var pm in Model.AvailablePaymentMethods)
                            {
                                var systemNameWithoutDot = pm.SystemName.Replace(".", "");
                                <text>
                                $('#selectall-@(systemNameWithoutDot)').click(function () {
                                    $('.restrict_@(systemNameWithoutDot)').attr('checked', $(this).is(':checked')).change();
                                });

                                </text>
                            }
                            });
                                        </script>
                                        <table class="table table-bordered table-striped">
                                            <tbody>
                                                <tr>
                                                    <th scope="col">
                                                        <strong>@T("Admin.Configuration.Payment.MethodRestrictions.Country")</strong>
                                                    </th>
                                                    @foreach (var pm in Model.AvailablePaymentMethods)
                                                    {
                                                        var systemNameWithoutDot = pm.SystemName.Replace(".", "");
                                                        <th scope="col">
                                                            <strong>@pm.FriendlyName</strong>
                                                            <input type="checkbox" id="selectall-@(systemNameWithoutDot)" />
                                                        </th>
                                                    }
                                                </tr>
                                                @{
                                                    bool altRow = true;
                                                }
                                                @foreach (var c in Model.AvailableCountries)
                                                {
                                                    altRow = !altRow;
                                                    <tr class="@(altRow ? "altrowstyle" : "rowstyle")">
                                                        <td>
                                                            <span>@c.Name</span>
                                                        </td>
                                                        @foreach (var pm in Model.AvailablePaymentMethods)
                                                        {
                                                            var resticted = Model.Resticted.ContainsKey(pm.SystemName) && Model.Resticted[pm.SystemName][c.Id];

                                                            var systemNameWithoutDot = pm.SystemName.Replace(".", "");
                                                            <td style="text-align:center">
                                                                <input class="restrict_@(systemNameWithoutDot)" type="checkbox" value="@(c.Id)" name="restrict_@(pm.SystemName)" @(resticted ? " checked=checked" : null) />
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                                    }
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



}
