@model CustomerReportsModel
@inject IEventPublisher eventPublisher
@{
    //page title
    ViewBag.Title = T("Admin.Customers.Reports").Text;
}
<antiforgery-token />
<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-bar-chart-o"></i>
                    @T("Admin.Customers.Reports")
                </div>
            </div>
            <div class="x_content form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="x_content">
                            <admin-tabstrip name="customer-reports">
                                <items>
                                    <tabstrip-item text="@T("Admin.Customers.Reports.BestBy.BestByOrderTotal")" tab-index="0">
                                        <content>
                                            <div>
                                                <partial name="Reports.TabBestByOrderTotal" model="Model" />
                                            </div>
                                        </content>
                                    </tabstrip-item>
                                    <tabstrip-item text="@T("Admin.Customers.Reports.BestBy.BestByNumberOfOrders")" tab-index="1">
                                        <content>
                                            <div>
                                                <partial name="Reports.TabBestByNumberOfOrders" model="Model" />
                                            </div>
                                        </content>
                                    </tabstrip-item>
                                    <tabstrip-item text="@T("Admin.Customers.Reports.RegisteredCustomers")" tab-index="2">
                                        <content>
                                            <div>
                                                <partial name="Reports.TabRegisteredCustomers" model="Model" />
                                            </div>
                                        </content>
                                    </tabstrip-item>
                                </items>
                            </admin-tabstrip>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "customer-reports");
    await eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        <admin-tab-append tab-strip-name="customer-reports" tab-name="@eventBlock.tabname" tab-content="@eventBlock.content" />
    }
}