@model DocumentModel
@{
    //page title
    ViewBag.Title = T("Admin.Documents.Document.AddNew").Text;
}
<form asp-area="Admin" asp-controller="Document" asp-action="CreateDocument" method="post" id="document-form">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-sitemap"></i>
                        @T("Admin.Documents.Document.AddNew")
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Documents.Document.BackToList").Text, "List")</small>
                        @if (!string.IsNullOrEmpty(Model.CustomerId))
                        {
                            <small><i class="fa fa-user"></i>@Html.ActionLink(T("Admin.Documents.Document.GoToCustomer").Text, "Edit", "Customer", new { id = Model.CustomerId })</small>
                        }
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided util-btn-margin-bottom-5">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                        </div>
                    </div>
                </div>
                <vc:admin-widget widget-zone="document_details_buttons" additional-data="null" />
                <div class="x_content form k-content">
                    <partial name="_CreateOrUpdateDocument" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>