@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Polls.Answer.EditDetails").Text;
}
@model PollAnswerModel

<form asp-area="Admin" asp-controller="Poll" asp-action="PollAnswerEditPopup"
      asp-route-PollId="@Context.Request.Query["PollId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>
                        @T("Admin.ContentManagement.Polls.Answer.EditDetails")
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                    </div>
                </div>
                <div class="x_content form">
                   <partial name="_CreateOrUpdateAnswer" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>