@model AddToCartModel

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center">@(Model.CartType == ShoppingCartType.ShoppingCart ? @T("AddToCart.ShoppingCart"): @T("AddToCart.Wishlist"))</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <img class="img-fluid" alt="@Model.Picture.AlternateText" src="@Model.Picture.ImageUrl" title="@Model.Picture.Title"/>
                        </div>
                        <div class="col-md-8 col-12">
                            <div class="row">
                            <div class="form-group">
                                <label class="w-100">@T("AddToCart.ProductName")</label>
                                <a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" class="text-center">@Model.ProductName</a>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.AttributeDescription))
                            {
                                <div class="form-group col-12 px-0">
                                    <label class="w-100">@T("AddToCart.Attributes")</label>
                                    <div class="attributes">
                                        @Html.Raw(Model.AttributeDescription)
                                    </div>
                                </div>
                            }
                            <div class="input-group col-6 pl-0 pb-3">
                                <div class="input-group-addon">@T("AddToCart.Qty")</div>
                                <input type="text" class="w-100 text-center" value="@Model.Quantity" disabled/>
                            </div>
                            <div class="input-group col-6 pr-0 pb-3">
                                <div class="input-group-addon">@T("AddToCart.Price")</div>
                                 <input type="text" class="w-100 text-center" value="@Model.Price" disabled/>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="modal-footer d-flex justify-content-center">
                    <div class="btn-group">
                        @if (Model.CartType == ShoppingCartType.ShoppingCart)
                        {
                            <button type="button" class="btn btn-primary mr-1" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" >@T("AddToCart.ViewCart")</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary mr-1" onclick="setLocation('@(Url.RouteUrl("Wishlist"))')">@T("AddToCart.ViewWishlist")</button>
                        }
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@T("AddToCart.Continue")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

