@model WishlistEmailAFriendModel
@using Grand.Web.Models.ShoppingCart;
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.WishlistEmailAFriend").Text);
}
<div class="page email-a-friend-page">
        <h1 class="h2 generalTitle text-xs-center">@T("Wishlist.EmailAFriend.Title")</h1>
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            <form asp-route="EmailWishlist" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="form-fields">
                        <div class="inputs pb-1">
                            @Html.LabelFor(model => model.FriendEmail)
                            @Html.TextBoxFor(model => model.FriendEmail, new { @class = "form-control friend-email", placeholder = T("Wishlist.EmailAFriend.FriendEmail.Hint") })
                            @Html.ValidationMessageFor(model => model.FriendEmail)
                        </div>
                        <div class="inputs pb-1">
                            @Html.LabelFor(model => model.YourEmailAddress)
                            @Html.TextBoxFor(model => model.YourEmailAddress, new { @class = "form-control your-email", placeholder = T("Wishlist.EmailAFriend.YourEmailAddress.Hint") })
                            @Html.ValidationMessageFor(model => model.YourEmailAddress)
                        </div>
                        <div class="inputs pb-1">
                            @Html.LabelFor(model => model.PersonalMessage)
                            @Html.TextAreaFor(model => model.PersonalMessage, new { @class = "form-control personal-message", placeholder = T("Wishlist.EmailAFriend.PersonalMessage.Hint") })
                            @Html.ValidationMessageFor(model => model.PersonalMessage)
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box pb-1">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                    </div>
                <div class="btn-group pb-1">
                    <input type="submit" name="send-email" class="btn btn-success send-email-a-friend-button" value="@T("Wishlist.EmailAFriend.Button")" >
                </div>
            </form>
        }
    </div>
