@model WishlistModel
@inject IWebHelper webHelper
@inject IWorkContext workContext
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Wishlist").Text);
}
<div class="page wishlist-page mt-3">
    <h2 class="generalTitle text-center mt-3">
        @if (Model.IsEditable)
        {
            @T("Wishlist")
        }
        else
        {
            @String.Format(T("Wishlist.WishlistOf").Text, Model.CustomerFullname)
        }
    </h2>
    @if (Model.Items.Any())
    {
        <div class="wishlist-content mt-3">
            @if (Model.Warnings.Any())
            {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
            }
            <form asp-route="Wishlist" method="post">
                <table class="table-hover w-100 mb-3">

                    <thead class="table-dark">
                        <tr class="text-center">
                            @if (Model.ShowProductImages)
                            {
                                <th class="border border-secondary p-3 d-lg-table-cell d-none">
                                    @T("ShoppingCart.Image")
                                </th>
                            }
                            <th class="border border-secondary p-3 d-lg-table-cell d-none">@T("ShoppingCart.Product(s)")</th>
                            <th class="border border-secondary p-3 d-lg-table-cell d-none"> @T("ShoppingCart.UnitPrice")</th>
                            <th class="border border-secondary p-3 d-lg-table-cell d-none"> @T("ShoppingCart.Quantity")</th>
                            @if (Model.IsEditable || Model.DisplayAddToCart)
                            {
                                <th class="border border-secondary p-3 d-lg-table-cell d-none">
                                    @T("common.edit")
                                </th>
                            }
                            <th class="border border-secondary p-3 d-lg-table-cell d-none"> @T("ShoppingCart.ItemTotal")</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Items)
                    {
                        <tbody class="desktop-shopping-table">
                            <tr class="text-center">
                                <td class="border border-secondary p-3 d-lg-table-cell d-none">
                                    <div class="table-photo">
                                        @if (Model.ShowProductImages)
                                        {
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                        }
                                    </div>
                                </td>
                                <td class="table-name border border-secondary p-3 d-lg-table-cell d-none">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name"><strong>@item.ProductName</strong></a>

                                    @if (Model.ShowSku && !String.IsNullOrEmpty(item.Sku))
                                    {
                                        <span class="sku-number text-center">@item.Sku</span>
                                    }

                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                    {
                                        <div class="recurring-info">
                                            @Html.Raw(item.RecurringInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RentalInfo))
                                    {
                                        <div class="rental-info">
                                            @Html.Raw(item.RentalInfo)
                                        </div>
                                    }
                                    @if (Model.IsEditable && item.AllowItemEditing)
                                    {
                                        var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName });
                                        editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                        <div class="edit-item mb-1 mt-1">
                                            <a class="btn btn-sm btn-secondary" href="@editCartItemUrl">@T("Common.Edit")</a>
                                        </div>
                                    }
                                    @if (item.Warnings.Any())
                                    {
                                        <div class="message-error">
                                            <ul>
                                                @foreach (var warning in item.Warnings)
                                                {
                                                    <li>@warning</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                <td class="table-unit border border-secondary p-3 d-lg-table-cell d-none">
                                    @item.UnitPrice
                                </td>
                                <td class="table-qty border border-secondary p-3 d-lg-table-cell d-none">
                                    <div class="d-flex justify-content-center col-md-7 m-auto">
                                        @if (Model.IsEditable)
                                        {
                                            if (item.AllowedQuantities.Any())
                                            {
                                                <select id="itemqty@(item.Id)" data-qty-id="itemquantity@(item.Id)" name="itemqty@(item.Id)" class="custom-select form-control qty-dropdown">
                                                    @foreach (var qty in item.AllowedQuantities)
                                                    {

                                                        <option id="itemqty@(item.Id)" selected="@qty.Selected" value="@qty.Value">@qty.Value</option>

                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <label class="sr-only" for="itemquantity@(item.Id)">itemquantity@(item.Id)</label>
                                                <input id="itemquantity@(item.Id)" data-qty-id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="form-control qty-input float-sm-right text-center" />
                                            }

                                        }
                                        else
                                        {
                                            <label class="sr-only" for="itemquantity@(item.Id)">itemquantity@(item.Id)</label>
                                            <input id="itemquantity@(item.Id)" data-qty-id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="form-control qty-input float-sm-right text-center" readonly />
                                        }
                                    </div>
                                </td>
                                @if (Model.IsEditable || Model.DisplayAddToCart)
                                {
                                    <td class="table-remove border border-secondary p-3 d-lg-table-cell d-none">
                                    @if (Model.IsEditable)
                                    {
                                        <span>@T("shoppingcart.remove")</span>
                                            <fieldset>
                                                <legend></legend>
                                                <label class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" name="removefromcart" value="@(item.Id)" />
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="sr-only">checkbox</span>
                                                    <span class="custom-control-description td-title">
                                                        &nbsp;
                                                        <span class="fa fa-times d-md-none pl-2"></span>
                                                    </span>
                                                </label>
                                            </fieldset>
                                        
                                    }
                                    @if (Model.DisplayAddToCart)
                                    {
                                        <span>@T("shoppingcart.addtocart")</span>
                                        <fieldset>
                                            <legend></legend>
                                            <label for="@T("account.shoppingcart")-@(item.Id)" class="custom-control custom-checkbox pl-2">
                                                <input id="@T("account.shoppingcart")-@(item.Id)" class="custom-control-input" type="checkbox" name="addtocart" value="@(item.Id)" />
                                                <span class="custom-control-indicator"></span>
                                                <span class="sr-only">@T("account.shoppingcart")-@(item.Id)</span>
                                                <span class="custom-control-description">
                                                    <span>&nbsp;</span>
                                                    <span class="d-lg-none"><i class="fa fa-shopping-cart"></i></span>
                                                </span>
                                            </label>
                                        </fieldset>
                                    }
                                    </td>
                                }
                                <td class="table-total border border-secondary p-3 d-lg-table-cell d-none">
                                    @item.SubTotal
                                    @if (!String.IsNullOrEmpty(item.Discount))
                                    {
                                        <div class="discount text-success text-center text-md-right">
                                            <span>@T("ShoppingCart.ItemYouSave"): </span>
                                            <span>@item.Discount</span>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="d-lg-none w-100 mobile-shopping-table">
                            <tr class="text-center">
                                <td class="table-photo border border-secondary p-3" colspan="2">
                                    @if (Model.ShowProductImages)
                                    {
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                    }
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="table-name border border-secondary p-3">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name"><strong>@item.ProductName</strong></a>

                                    @if (Model.ShowSku && !String.IsNullOrEmpty(item.Sku))
                                    {
                                        <span class="sku-number text-center">@item.Sku</span>
                                    }
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes small">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                    {
                                        <div class="recurring-info">
                                            @Html.Raw(item.RecurringInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RentalInfo))
                                    {
                                        <div class="rental-info">
                                            @Html.Raw(item.RentalInfo)
                                        </div>
                                    }
                                    @if (Model.IsEditable && item.AllowItemEditing)
                                    {
                                        var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName });
                                        editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                        <div class="edit-item mb-1 mt-1">
                                            <a class="btn btn-sm btn-secondary" href="@editCartItemUrl">@T("Common.Edit")</a>
                                        </div>
                                    }
                                    @if (item.Warnings.Any())
                                    {
                                        <div class="message-error">
                                            <ul>
                                                @foreach (var warning in item.Warnings)
                                                {
                                                    <li>@warning</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                <td class="table-unit border border-secondary p-3">
                                    @item.UnitPrice
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="table-qty border border-secondary p-3">
                                    <div class="d-flex justify-content-center col-md-6 m-auto px-0">
                                        @if (Model.IsEditable)
                                        {
                                            if (item.AllowedQuantities.Any())
                                            {
                                                <select id="itemqty@(item.Id)" data-qty-id="itemquantity@(item.Id)" name="itemqty@(item.Id)" class="custom-select form-control qty-dropdown">
                                                    @foreach (var qty in item.AllowedQuantities)
                                                    {

                                                        <option id="itemqty@(item.Id)" selected="@qty.Selected" value="@qty.Value">@qty.Value</option>

                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <label class="sr-only" for="itemquantity@(item.Id)">itemquantity@(item.Id)</label>
                                                <span class="float-left mr-2 mt-2">@T("addtocart.qty")</span>
                                                <input id="itemquantity@(item.Id)" data-qty-id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="form-control qty-input float-sm-right text-center" />
                                            }

                                        }
                                        else
                                        {
                                            <label class="sr-only" for="itemquantity@(item.Id)">itemquantity@(item.Id)</label>
                                            <span class="float-left mr-2 mt-2">@T("addtocart.qty")</span>
                                            <input id="itemquantity@(item.Id)" data-qty-id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="form-control qty-input float-sm-right text-center" readonly />
                                        }
                                    </div>
                                </td>
                                <td class="table-remove p-3 d-flex border-0">
                                   @if (Model.IsEditable || Model.DisplayAddToCart)
                                   {
                                        @if (Model.IsEditable)
                                        {
                                            <fieldset class="w-100">
                                                <legend class="h6"><span class="fa fa-times"></span></legend>
                                                <label class="custom-control custom-checkbox p-0 cart-checkbox">
                                                    <input class="custom-control-input" type="checkbox" name="removefromcart" value="@(item.Id)" />
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="sr-only">checkbox</span>
                                                    <span class="custom-control-description td-title">
                                                        &nbsp;
                                                    </span>
                                                </label>
                                            </fieldset>
                                        }
                                        @if (Model.DisplayAddToCart)
                                        {
                                            
                                            <fieldset class="w-100">
                                                <legend class="h6"><span class="fa fa-cart-plus"></span></legend>
                                                <label for="@T("account.shoppingcart")-@(item.Id)" class="custom-control custom-checkbox p-0 cart-checkbox">
                                                    <input id="@T("account.shoppingcart")-@(item.Id)" class="custom-control-input" type="checkbox" name="addtocart" value="@(item.Id)" />
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="sr-only">@T("account.shoppingcart")-@(item.Id)</span>
                                                    <span class="custom-control-description">
                                                        &nbsp;
                                                    </span>
                                                </label>
                                            </fieldset>
                                        }
                                   }
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="table-total border border-secondary p-3" colspan="2">
                                    <p class="bg-secondary p-3 mb-0 w-100"><strong class="text-white h5">@item.SubTotal</strong></p>
                                    @if (!String.IsNullOrEmpty(item.Discount))
                                    {
                                        <div class="discount text-success text-center text-md-right">
                                            <span>@T("ShoppingCart.ItemYouSave"): </span>
                                            <span>@item.Discount</span>
                                        </div>
                                    }
                                </td>
                            </tr>

                        </tbody>
                    }
                </table>
                @if (Model.Items.Any() && Model.DisplayTaxShippingInfo)
                {
                    var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                    //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                    //of course, you can modify appropriate locales to include VAT info there
                    <div class="tax-shipping-info">
                        @T(inclTax ? "Wishlist.TaxShipping.InclTax" : "Wishlist.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                    </div>
                }

                <div class="btn-section my-3">
                    @if (Model.IsEditable)
                    {
                        <button type="submit" name="updatecart" class="btn btn-success update-wishlist-button">
                            <span>@T("Wishlist.UpdateCart")</span>
                        </button>
                    }
                    @if (Model.DisplayAddToCart)
                    {
                        <button type="submit" name="addtocartbutton" class="btn btn-secondary wishlist-add-to-cart-button">
                            <span class="hidden-down">@T("ShoppingCart.AddToCart")</span>
                            <i class="fa fa-cart-plus d-md-none" aria-hidden="true"></i>
                        </button>
                    }
                    @if (Model.IsEditable && Model.EmailWishlistEnabled)
                    {
                        <button type="button" class="btn btn-secondary email-a-friend-wishlist-button" onclick="setLocation('@Url.RouteUrl("EmailWishlist")')">
                            <span class="hidden-down">@T("Wishlist.EmailAFriend")</span>
                            <i class="fa fa-envelope-o d-md-none" aria-hidden="true"></i>
                        </button>
                    }
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="no-data">
            @T("Wishlist.CartIsEmpty")
        </div>
    }
    @if (Model.IsEditable && Model.Items.Any())
    {
        <div class="col-12 share-info generalMarginSupporter text-center text-md-left">
            <div class="row">
                <span class="share-label">@T("Wishlist.YourWishlistURL"):</span>
                <a href="@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid })" class="small share-link">@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid }, "http")</a>
            </div>
        </div>
    }
</div>
<script>
    $(".mobile-shopping-table .qty-input")
        .keyup(function () {
            var value = $(this).val();
            var tid = "#" + $(this).attr("data-qty-id");
            var tname = $(this).attr("data-qty-id");
            $(this).attr("value", value);
            $(this).attr("id", tname);
            $(this).attr("name", tname);
            container = ".desktop-shopping-table";
            $(tid, container).attr("name", "");
            $(tid, container).attr("id", "");
        })
        .keyup();

    $(".desktop-shopping-table .qty-input")
        .keyup(function () {
            var dvalue = $(this).val();
            var dtid = "#" + $(this).attr("data-qty-id");
            var dtname = $(this).attr("data-qty-id");
            $(this).attr("value", dvalue);
            $(this).attr("id", dtname);
            $(this).attr("name", dtname);
            container2 = ".mobile-shopping-table";
            $(dtid, container2).attr("name", "");
            $(dtid, container2).attr("id", "");
        })
        .keyup();

    $(".cart-checkbox").click(function () {
        $(this).find(".custom-control-indicator").toggleClass("checked-cart");
    });
</script>