@model DashboardActivityModel
<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row">
                <div class="badge badge-pill badge-info">
                    <i class="fa fa-briefcase"></i>
                </div>
            </th>
            <td>
                @T("Admin.Dashboard.ActivityOverview.OrderPending")
            </td>
            <td>
                @Model.OrdersPending
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="badge badge-pill badge-success">
                    <i class="fa fa-shopping-cart"></i>
                </div>
            </th>
            <td>
                @T("Admin.Dashboard.ActivityOverview.AbandonedCarts")
            </td>
            <td>
                @Model.AbandonedCarts
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="badge badge-pill badge-danger">
                    <i class="fa fa-bell-o"></i>
                </div>
            </th>
            <td>
                @T("Admin.Dashboard.ActivityOverview.LowStockProducts")
            </td>
            <td>
                @Model.LowStockProducts
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="badge badge-pill badge-warning">
                    <i class="fa fa-user"></i>
                </div>
            </th>
            <td>
                @T("Admin.Dashboard.ActivityOverview.TodayRegisteredCustomers")
            </td>
            <td>
                @Model.TodayRegisteredCustomers
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="badge badge-pill badge-secondary">
                    <i class="fa fa-truck"></i>
                </div>
            </th>
            <td>
                @T("Admin.Dashboard.ActivityOverview.ReturnRequests")
            </td>
            <td>
                @Model.ReturnRequests
            </td>
        </tr>
    </tbody>
</table>

